<template>
    <div class="app__wrapper">
        <Header></Header>
        <main>
            <div class="progress-bar-bg" v-if="isProcessing">
                <div class="progress-bar"></div>
            </div>
            <template v-if="$store.state.success_message !== ''">
                <div class="tn-box tn-box-success">
                    <template
                        v-if="Object.keys($store.state.addCartItem).length > 0"
                    >
                        <p>
                            カートに<router-link
                                :to="
                                    `/product_detail/${$store.state.addCartItem.item_id}`
                                "
                            >
                                {{
                                    $store.state.addCartItem.item_main_name
                                }} </router-link
                            >を追加しました。
                            <router-link :to="'/cart'"
                                >購入手続きはこちら<i
                                    class="fas fa-external-link-alt"
                                ></i
                            ></router-link>
                        </p>
                    </template>
                    <template v-else>
                        <p>{{ $store.state.success_message }}</p>
                    </template>
                    <div class="tn-progress"></div>
                </div>
            </template>
            <template v-if="$store.state.error_message !== ''">
                <div class="tn-box tn-box-error">
                    <p>{{ $store.state.error_message }}</p>
                    <div class="tn-progress"></div>
                </div>
            </template>
            <!-- <div class="breadcrumb__wrapper">
					<ul class="breadcrumb__list">
						<li class="breadcrumb-home"><a href="#">マイページ</a></li>
						<li></li>
					</ul>
				</div> -->
            <Breadcrumb />
            <div class="loader__wrapper" v-if="$store.state.ParentLoader">
                <div class="boxes">
                    <div class="box">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <div class="box">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <div class="box">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <div class="box">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </div>
            <transition name="router-transition">
                <div class="main__wrapper">
                    <template v-if="!$store.state.ParentLoader">
                        <Sidemenu></Sidemenu>
                        <component v-bind:is="currentTabComponent"></component>
                    </template>
                </div>
            </transition>
            <span class="page__top-nav"><a id="page_top"></a></span>
        </main>
        <Footer></Footer>
    </div>
</template>

<script>
import Header from "./components/Header.vue";
import Footer from "./components/Footer.vue";
import Sidemenu from "./components/sidemenu.vue";
import Home from "./views/Home.vue";
import Register from "./views/member/RegisterParent.vue";
import Forget from "./views/member/Forget.vue";
import Password from "./views/mypage/Password.vue";
import MemberContract from "./views/mypage/MemberContract.vue";
import NextDelivery from "./views/mypage/NextDelivery.vue";
import Cart from "./views/cart/Cart.vue";
import OrderParent from "./views/cart/OrderParent.vue";
import ShoppingLogin from "./views/cart/ShoppingLogin.vue";
import ProductList from "./views/cart/ProductList.vue";
import ProductDetail from "./views/cart/ProductDetail.vue";
import OrderHistory from "./views/Order/History.vue";
import Payment from "./views/mypage/Payment.vue";
import Breadcrumb from "./views/Breadcrumb.vue";
import AutoshipList from "./views/mypage/autoship/AutoshipList.vue";
import AutoshipDetail from "./views/mypage/autoship/AutoshipDetail.vue";
import AutoshipOrderParent from "./views/mypage/autoship/OrderParent.vue";
import AutoshipPurchaseList from "./views/mypage/autoship/PurchaseList.vue";
import AutoshipPurchaseDetail from "./views/mypage/autoship/PurchaseDetail.vue";

export default {
    data: function() {
        return {
            currentTab: Home
        };
    },
    methods: {
        FirstFunction: function() {
            this.currentTab = this.$store.state.url_component[
                this.$router.currentRoute.matched[0].path
            ];
        },
        getConfig: function() {
            var self = this;
            axios
                .post("/axios/getconfig")
                .then(res => {
                    self.$store.state.config = res.data.config;
                    self.$store.state.manage_url = res.data.env;
                })
                .catch(error => {
                    self.AuthCheck(error);
                });
        },
        closeSuccessMessage: function() {
            this.$store.state.success_stack.pop();
            if (this.$store.state.success_stack.length === 0)
                this.$store.state.success_message = "";
        },
        closeErrorMessage: function() {
            this.$store.state.error_stack.pop();
            if (this.$store.state.error_stack.length === 0)
                this.$store.state.error_message = "";
        }
    },
    created: async function() {
        this.$store.state.ParentLoader = true;
        try {
            var [res1, res2, res3] = await Promise.all([
                // 初期処理
                this.FirstFunction(),
                this.$store.dispatch("getItemCountAction"),
                this.getConfig()
            ]);
        } catch {
            return;
        } finally {
            this.$store.state.ParentLoader = false;
        }
    },
    mounted() {
        scrollTop("page_top", 500);
    },
    computed: {
        currentTabComponent: function() {
            return this.currentTab;
        },
        isProcessing() {
            return this.$store.state.progressBar.processing;
        },
        SuccessMassage() {
            return this.$store.getters.getSuccessMassage;
        },
        ErrorMassage() {
            return this.$store.getters.getErrorMassage;
        }
    },
    components: {
        Header,
        Footer,
        Sidemenu,
        Home,
        Register,
        Forget,
        Password,
        MemberContract,
        Cart,
        OrderParent,
        ShoppingLogin,
        ProductList,
        ProductDetail,
        OrderHistory,
        Payment,
        NextDelivery,
        AutoshipList,
        AutoshipDetail,
        AutoshipOrderParent,
        AutoshipPurchaseList,
        AutoshipPurchaseDetail,
        Breadcrumb
    },
    watch: {
        $route(to, from) {
            // HeaderFlagの初期化
            for (var flag in this.$store.state.HeaderFlag) {
                this.$store.state.HeaderFlag[flag] = false;
            }
            window.scrollTo(0, 0);
            this.currentTab = this.$store.state.url_component[
                to.matched[0].path
            ];
            eventHub.$off("construct");
            this.$store.dispatch("getItemCountAction"),
                (this.$store.state.addCartItem = []);
            this.$store.state.success_message = "";
            this.$store.state.error_message = "";
            this.$store.state.OrderLinkFlag = false;
            this.$store.state.Breadcrumb = [
                {
                    name: this.$store.state.breadcrumblist[
                        this.$router.currentRoute.matched[0].path
                    ].name,
                    path: this.$store.state.breadcrumblist[
                        this.$router.currentRoute.matched[0].path
                    ].path
                }
            ];

            if (
                this.$store.state.breadcrumblist[
                    this.$router.currentRoute.matched[0].path
                ].name2 !== undefined
            ) {
                this.$store.state.Breadcrumb.push({
                    name: this.$store.state.breadcrumblist[
                        this.$router.currentRoute.matched[0].path
                    ].name2
                });
            }
            if (window.innerWidth <= 1023) {
                document
                    .getElementsByClassName("menu__wrapper")[0]
                    .classList.remove("active");
                document.body.classList.remove("no-scroll");
                document.getElementsByClassName(
                    "nav__wrapper"
                )[0].style.display = "none";
            }
        },
        SuccessMassage(n, o) {
            if (n !== "") {
                this.$store.state.success_stack.push(1);
                setTimeout(this.closeSuccessMessage, 5000);
            }
        },
        ErrorMassage(n, o) {
            if (n !== "") {
                this.$store.state.error_stack.push(1);
                setTimeout(this.closeErrorMessage, 5000);
            }
        },
        "$store.state.session": function() {
            eventHub.$emit("construct");
            this.$store.dispatch("getItemCountAction");
        }
    }
};
</script>
