// add　追加設定

/*================================================
 *  ページ遷移用アニメーション
 ================================================*/

 .router-transition-enter-active {
    animation: router-fadeIn 1s;
    animation-delay: .5s;
    opacity: 0;
}

@keyframes router-fadeIn {
    from {
        // transform: translateY(-100px);
        opacity: 0;
    }
    to {
        // transform: translateY(0);
        opacity: 1;
    }
}

.router-transition-leave-active {
    animation: router-fadeOut .5s;
}

@keyframes router-fadeOut {
    from {
        // transform: translateY(0);
    }
    to {
        // transform: translateY(-100px);
        opacity: 0;
    }
}

/*================================================
 *  ヘッダー用アニメーション
 ================================================*/

 .header-transition-enter-active {
    animation: header-fadeIn 0.5s;
    animation-delay: .1s;
    opacity: 0;
}

@keyframes header-fadeIn {
    from {
        // transform: translateY(-100px);
        opacity: 0;
    }
    to {
        // transform: translateY(0);
        opacity: 1;
    }
}

.header-transition-leave-active {
    animation: header-fadeOut .5s;
}

@keyframes header-fadeOut {
    from {
        // transform: translateY(0);
    }
    to {
        // transform: translateY(-100px);
        opacity: 0;
    }
}

/*================================================
 *  商品表示用アニメーション
 ================================================*/
 .item-transition{
    &-enter-active{
        opacity: 0;
        transform: translateY(1000px);
        transition: {
            property       : transform, opacity;
            duration       : 0.6s;
            timing-function: cubic-bezier(0.77, 0, 0.175, 1);
            delay         : 0s;
        }
    }
    &-enter-to{
        opacity: 1;
        transform: translateY(0);
    }
    &-leave-active{
        opacity: 1;
        // transform: translateY(0);
        transition: {
            property       : transform, opacity;
            duration       : 0.6s;
            timing-function: cubic-bezier(0.77, 0, 0.175, 1);
            delay         : 0s;
        }
    }
    &-leave-to{
        opacity: 0;
        // transform: translateY(1000px);
    }
    &-move{
        transition: {
            property       : transform;
            duration       : 1.5s;
            timing-function: cubic-bezier(0.77, 0, 0.175, 1);
            delay          : 0s;
        }
    }
}

/*================================================
 *  カート表示用アニメーション
 ================================================*/
 .cart-transition{
    &-enter-active{
        opacity: 0;
        // transform: translateX(1000px);
        transition: {
            property       : transform, opacity;
            duration       : 0.6s;
            timing-function: cubic-bezier(0.77, 0, 0.175, 1);
            delay         : 0s;
        }
    }
    &-enter-to{
        opacity: 1;
        // transform: translateX(0);
    }
    &-leave-active{
        opacity: 1;
        // transform: translateX(0);
        transition: {
            property       : transform, opacity;
            duration       : 0.6s;
            timing-function: cubic-bezier(0.77, 0, 0.175, 1);
            delay         : 0s;
        }
    }
    &-leave-to{
        opacity: 0;
        // transform: translateX(1000px);
    }
    &-move{
        transition: {
            property       : transform;
            duration       : 1.5s;
            timing-function: cubic-bezier(0.77, 0, 0.175, 1);
            delay          : 0s;
        }
    }
}

/*================================================
 *  Loader
 ================================================*/

$color: #5C8DF6;
$colorRight: darken(#5C8DF6, 15%);
$colorLeft: darken(#5C8DF6, 5%);
$shadow: #DBE3F4;

.loader__wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 0px 0px 0px;
    justify-content: center;
}
.boxes {
    --size: 32px;
    --duration: 800ms;
    height: calc(var(--size) * 2);
    width: calc(var(--size) * 3);
    position: relative;
    transform-style: preserve-3d;
    transform-origin: 50% 50%;
    margin: 80px 0;
    transform: rotateX(60deg) rotateZ(45deg) rotateY(0deg) translateZ(0px);
    .box {
        width: var(--size);
        height: var(--size);
        top: 0;
        left: 0;
        position: absolute;
        transform-style: preserve-3d;
        &:nth-child(1) {
            transform: translate(100%, 0);
            animation: box1 var(--duration) linear infinite;
        }
        &:nth-child(2) {
            transform: translate(0, 100%);
            animation: box2 var(--duration) linear infinite;
        }
        &:nth-child(3) {
            transform: translate(100%, 100%);
            animation: box3 var(--duration) linear infinite;
        }
        &:nth-child(4) {
            transform: translate(200%, 0);
            animation: box4 var(--duration) linear infinite;
        }
        & > div {
            --background: #{$color};
            --top: auto;
            --right: auto;
            --bottom: auto;
            --left: auto;
            --translateZ: calc(var(--size) / 2);
            --rotateY: 0deg;
            --rotateX: 0deg;
            position: absolute;
            width: 100%;
            height: 100%;
            background: var(--background);
            top: var(--top);
            right: var(--right);
            bottom: var(--bottom);
            left: var(--left);
            transform: rotateY(var(--rotateY)) rotateX(var(--rotateX)) translateZ(var(--translateZ));
            &:nth-child(1) {
                --top: 0;
                --left: 0;
            }
            &:nth-child(2) {
                --background: #{$colorRight};
                --right: 0;
                --rotateY: 90deg;
            }
            &:nth-child(3) {
                --background: #{$colorLeft};
                --rotateX: -90deg;
            }
            &:nth-child(4) {
                --background: #{$shadow};
                --top: 0;
                --left: 0;
                --translateZ: calc(var(--size) * 3 * -1);
            }
        }
    }
}

@keyframes box1 {
    0%,
    50% {
        transform: translate(100%, 0);
    }
    100% {
        transform: translate(200%, 0);
    }
}

@keyframes box2 {
    0%{
        transform: translate(0, 100%);
    }
    50% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(100%, 0);
    }
}

@keyframes box3 {
    0%,
    50% {
        transform: translate(100%, 100%);
    }
    100% {
        transform: translate(0, 100%);
    }
}

@keyframes box4 {
    0%{
        transform: translate(200%, 0);
    }
    50% {
        transform: translate(200%, 100%);
    }
    100% {
        transform: translate(100%, 100%);
    }
}
/*================================================
 *  input[type="number"]
 ================================================*/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type=number] {
	-moz-appearance: textfield;
}

.quantity {
    position: relative;
	& input {
		width: 65px;
		height: 42px;
		line-height: 1.65;
		float: left;
		display: block;
		padding: 0;
		margin: 0;
		padding-left: 10px;
		border: 1px solid #eee;
		&:focus {
			outline: 0;
		}
	}
}

.quantity-nav {
    float: left;
    position: relative;
    height: 42px;
}

.quantity-button {
    position: relative;
    cursor: pointer;
    border-left: 1px solid #eee;
    width: 20px;
    text-align: center;
    color: #333;
    font-size: 13px;
    font-family: "Trebuchet MS", Helvetica, sans-serif !important;
    line-height: 1.7;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.quantity-button.quantity-up {
    position: absolute;
    height: 50%;
    top: 0;
    border-bottom: 1px solid #eee;
}

.quantity-button.quantity-down {
    position: absolute;
    bottom: -1px;
    height: 50%;
}

/*================================================
 *  通知設定
 ================================================*/

.tn-box .tn-progress {
    animation: runProgress 4s linear forwards 0.5s;
}
.tn-box {
    animation: fadeOut 5s linear forwards;
    z-index: 1;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    width: 100%;
    float: right;
    position: -webkit-sticky; /* Safari用 */
    position:sticky; /* 要素をスクロールに応じて固定 */
    top:86px;
    padding: 15px 15px;
    text-align: left;
    border-radius: 5px;
    box-shadow:
        0 1px 1px rgba(0,0,0,0.1),
        inset 0 1px 0 rgba(255,255,255,0.6);
    opacity: 0;
    cursor: default;
}
.tn-box-success{
    background: #dff0d8;
    border: 1px solid #d6e9c6;
}
.tn-box-error {
    z-index: 9999999999999999;
    background: #f2dede;
    border: 1px solid #ebccd1;
}
.tn-box-success p {
    color: #3c763d;
}
.tn-box-error p {
    color: #a94442;
}

.tn-box-color-1{
    background: #ffe691;
    border: 1px solid #f6db7b;
}
.tn-box-color-2 {
    background: #99ffb1;
    border: 1px solid #7ce294;
}
.tn-box-color-1 p {
    color: #7d5912;
}
.tn-box-color-2 p {
    color: #2d8241;
}
.tn-box-color-3 {
    background: #dd9aff;
    border: 1px solid #b367db;
}
.tn-box-color-3 p {
    color: #69288b;
}
.tn-box p {
    font-weight: bold;
    font-size: 16px;
    margin: 0;
    text-shadow: 0 1px 1px rgba(255,255,255,0.6);
}
.tn-progress {
    width: 0;
    height: 4px;
    background: rgba(255,255,255,0.3);
    position: absolute;
    bottom: 5px;
    left: 2%;
    border-radius: 3px;
    box-shadow:
        inset 0 1px 1px rgba(0,0,0,0.05),
        0 -1px 0 rgba(255,255,255,0.6);
}
@keyframes fadeOut {
    0%  { opacity: 0; }
    10% { opacity: 1; }
    90% { opacity: 1; transform: translateY(0px);}
    99% { opacity: 0; transform: translateY(-30px);}
    100% { opacity: 0; }
}
@keyframes runProgress {
    0%  { width: 0%; background: rgba(255,255,255,0.3); }
    100% { width: 96%; background: rgba(255,255,255,1); }
}

/*================================================
 *  ページ遷移用プログレスバー
 ================================================*/

$animation-time: 5s;

.progress-bar-bg {
    float: left;
    width: 100%;
    height: 5px;
    background: #eee;
    z-index: 9999999999;
    top:80px;
    overflow: no-display;
    display: -webkit-flex;
    display: flex;
    position: -webkit-sticky; /* Safari用 */
    position:sticky; /* 要素をスクロールに応じて固定 */

    .progress-bar {
        width: 0;
        height: 6px;
        background: #1496ed;
        background-position: 100px 100px;
        z-index: 9999999999;
        animation-name: moveIndeterminate;
        animation-duration: $animation-time;
        animation-timing-function: all $animation-time cubic-bezier(0.235, 0.285, 0.975, 0.055);
    }
}

@keyframes moveIndeterminate {
  0% {
    width: 0;
  }
  10% {
    width: 15%;
  }
  100% {
    width: 100%;
  }
}

/*================================================
 * 0カウントsvg
 ================================================*/

svg {
    width: 100%;
    height: 80%;
}
/*
p {
    font-size: 16px;
    color: white;
    text-align: center;
}
*/

.isFlipped {
    transform: scaleX(-1);
    transform-origin: 50% 50%;
}

#leftarm {
    transform-origin: 100% 0;
}
/*================================================
 *  STEP遷移用アニメーション
 ================================================*/

 .step-before-enter-active {
    animation: step-before-fadeIn 1s;
    animation-delay: .5s;
    opacity: 0;
}

@keyframes step-before-fadeIn {
    from {
        transform: translateX(100px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.step-before-leave-active {
    animation: step-before-fadeOut .5s;
}

@keyframes step-before-fadeOut {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100px);
        opacity: 0;
    }
}

.step-after-enter-active {
    animation: step-after-fadeIn 1s;
    animation-delay: .5s;
    opacity: 0;
}

@keyframes step-after-fadeIn {
    from {
        transform: translateX(-100px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.step-after-leave-active {
    animation: step-after-fadeOut .5s;
}

@keyframes step-after-fadeOut {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100px);
        opacity: 0;
    }
}

/*================================================
 *  追加css
 ================================================*/
.is-valid, .was-validated .form-control:valid {
    border-color: #28a745 !important;
    padding-right: 2.25rem !important;
    background-repeat: no-repeat;
    background-position: center right calc(2.25rem / 4) !important;
    background-size: calc(2.25rem / 2) calc(2.25rem / 2) !important;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%2328a745' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
}
.is-invalid, .was-validated .form-control:invalid {
    border-color: #FA5653 !important;
    padding-right: 2.25rem !important;
    background-repeat: no-repeat;
    background-position: center right calc(2.25rem / 4) !important;
    background-size: calc(2.25rem / 2) calc(2.25rem / 2) !important;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23dc3545' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23d9534f' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E");
}
.is-valid-small, .was-validated .form-control:valid {
    border-color: #28a745 !important;
}
.is-invalid-small, .was-validated .form-control:invalid {
    border-color: #FA5653 !important;
}
.form-control {
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.valid__area {
	padding: 15px 0;
	border-bottom: 1px dotted $border;
	&:first-child {
		margin-top: 0;
	}
	&:last-child {
		margin-top: 0;
		padding-bottom: 0;
		border-bottom: none;
	}
}

.valid__area-wrap {
	@include flex__wrap;
	width: 100%;
}

.valid__area-address {
	display: block;
}

.valid__area-post {
	
}

.invalid-tooltip {
    display: block;
    width: 100%;
    padding: .25rem .5rem;
    margin-top: 5px;
    font-size: 12px;
    color: $white;
    background-color: rgba(220,53,69,.9);
	@include radius;
}

.valid-input {
	width: calc((100% - 15px) / 2);
	margin-right: 15px;
	&:last-child {
		margin-right: 0;
	}
}
.hooper-slide {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border: 2px solid #fff;
    font-size: 30px;
    border-radius: 10px;
    height: 100%;
}
.hooper {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.inline {
    display: inline-block;
}

.inline__top {
    display: inline-block;
    vertical-align: top;
}

.inline__width-full {
    display: inline-block;
    vertical-align: top;
    width: 100%;
}

/*================================================
 *  overlay
 ================================================*/
 .overlay__wrapper {
	position: fixed;
	z-index: 5000;
	top: 0;
	left: 0;
	display: none;
	width: 100%;
	height: 100%;
	background-color: rgba(#000,0.7);
	&.active {
		@include flex__center;
	}
}

/*================================================
 *  modal
 ================================================*/
.modal__wrapper {
	padding: 15px 15px;
	@include radius;
	background-color: $white;
}

.mb-20 {
    margin-bottom: 20px;
}