﻿// テンプレートSP

// base読込
@import "sp_base";
// 追加読込
@import "add";

/*================================================
 *  front
 ================================================*/
.front__wrapper {
	@include flex__center;
	width: 100%;
	min-height: calc(100vh - 60px - 164px);
	background-color: rgba(white,0.95);
}

.front__area {
	@include flex__center;
	width: 100%;
	height: 100%;
	padding: 45px 15px;	
}

.front__inner {
	width: 100%;
	max-width: 980px;
}

.front__head {
	@include flex__wrap;
	justify-content: center;
	width: 100%;
}

.front__head-headline {
	@include flex__center;
	& > div {
		width: 100%;
		text-align: center;
	}
}

.front__link {
	@include flex__wrap;
	width: 100%;
	margin-top: 45px;
}

.front__box {
	width: calc((100% - 30px) / 2);
	height: 150px;
	border-radius: 5px;
	background-color: white;
	box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.25);
	overflow: hidden;
	transition: all 0.2s ease-out;
	&:nth-child(2n) {
		margin-left: 30px;
	}
	&.rakuten {
		border: 1px solid $red;
	}
	&.contact {
		border: 1px solid $blue;
	}
	& a {
		display: inline-block;
		width: 100%;
		height: 100%;
		color: $basic;
	}
	&:active {
		transform: translate(0, 2px);
	}
	@media (max-width: 767px) {
		width: 100%;
		&:nth-child(2n) {
			margin-top: 30px;
			margin-left: 0;
		}
	}
}

.front__box-headline {
	@include flex__center;
	width: 100%;
	height: 90px;
	border-radius: 5px 5px 0 0;
	font-size: 24px;
	font-weight: bold;
	.front__box.rakuten & {		
		&::before {
			content: "\f466";
			margin-right: 15px;
			font-family: "Font Awesome 5 Pro";
			font-weight: 300;
			font-size: 50px;
			line-height: 1;
			color: $red;
			@media (max-width: 1023px) {
				font-size: 40px;
			}
			@media (max-width: 359px) {
				font-size: 30px;
			}
		}
	}
	.front__box.contact & {		
		&::before {
			content: "\f4a1";
			margin-right: 15px;
			font-family: "Font Awesome 5 Pro";
			font-weight: 300;
			font-size: 50px;
			line-height: 1;
			color: $blue;
			@media (max-width: 1023px) {
				font-size: 40px;
			}
			@media (max-width: 359px) {
				font-size: 30px;
			}
		}
	}
	@media (max-width: 1023px) {
		font-size: 20px;
	}
	@media (max-width: 359px) {
		font-size: 18px;
	}
}

.front__box-link {
	@include flex__center;
	justify-content: flex-end;
	width: 100%;
	height: 60px;
	padding: 0 15px;
	font-size: 20px;
	color: white;
	&::before {
		content: "\f101";
		margin-right: 15px;
		font-family: "Font Awesome 5 Pro";
		font-weight: 400;
		font-size: 27px;
		line-height: 1;
		color: $white;	
		@media (max-width: 767px) {
			font-size: 22px;
		}
	}
	.front__box.rakuten & {
		background-color: $red;
	}
	.front__box.contact & {
		background-color: $blue;
	}
	@media (max-width: 1023px) {
		justify-content: center;
			font-size: 18px;
		}	
	@media (max-width: 767px) {
		font-size: 16px;
	}
}

/*================================================
 *  comingsoon
 ================================================*/
.comingsoon__wrapper {
	@include flex__center;
	width: 100%;
	padding: 50px 0;
	background-image: url("../image/base/comingsoon-bg.png");
	background-position: center;
	background-repeat: repeat-x;
	background-size: contain;
}

.comingsoon__area {
	width: 100%;
	text-align: center;
}

/*================================================
 *  login
 ================================================*/
.login__wrapper {
	width: 100%;
}

.login__area {
	width: 100%;
	margin-top: 30px;
	margin-right: 30px;
	&:first-child {
		margin-top: 0;
	}
	&:nth-child(2n) {
		margin-right: 0;
	}
}

.login__area-box {
	width: 100%;
	margin-top: 30px;
	&:first-child {
		margin-top: 0;
	}
}

.login__area-headline {
	@include flex__wrap;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 10px 15px;
	background-color: $blue;
	font-size: 18px;
	font-weight: bold;
	color: $white;
}

.login__area-body {
	margin-top: 15px;
	&:first-child {
		margin-top: 0;
	}
}

/*================================================
 *  商品一覧
 ================================================*/
.header-line__wrapper {
	@include flex__wrap;
	align-items: center;
	justify-content: space-between;
	padding: 0px 15px 10px 15px;
	border-bottom: 1px solid $border;
	@media (max-width: 767px) {
		padding: 0px 10px 10px 10px;
	}
}

@media (min-width: 768px) {
.header-line__results {
	@include flex__wrap;
	align-items: center;
	padding-right: 15px;
}

.header-line__headline {
	padding-right: 15px;
	font-weight: bold;
}

.header-line__search {
	@include flex__wrap;
	justify-content: flex-end;
}
.search__wrapper {
	position: relative;
	width: auto;
}
}

@media (max-width: 767px) {
.header-line__results {
	& select {
		margin-top: 5px;
	}
}

.header-line__headline {
	display: block;
	width: 100%;
	font-weight: bold;
}

.header-line__search {
	@include flex__wrap;
	width: 100%;
	margin-top: 15px;
}
.search__wrapper {
	position: relative;
	width: 100%;
}
}

.content-box__warper-product-grid {
	display: flex;
	flex-wrap: wrap;
}

@media (min-width: 768px) {
.product-box__warper {
	@include flex__wrap;
	align-items: flex-start;
    width: calc((100% - 30px) / 2);
    margin-top: 30px;
	margin-right: 30px;
	&:nth-child(2n) {
		margin-right: 0;
	}
}
}

@media (max-width: 767px) {
.product-box__warper {
	@include flex__wrap;
	align-items: flex-start;
    width: 100%;
    margin-top: 30px;
}
}

.product-box {
	@include flex__center;
    width: 100%;
    padding: 10px 10px;
	border: 1px solid #D6D6D6;
	border-radius: 5px;
}

.item__box {
	width: 100%;
	overflow: hidden;
}

.item__box:hover {
	opacity: 0.7;
}

.item__box img {
	display: block;
	width: 100%;
	min-width: 243px;
    min-height: 243px;
}

.item__neme {
	width: 100%;
	height: 45px;
	margin-top: 10px;
	overflow: hidden;
}

.item__definition {
	width: auto;
	padding-right: 10px;
}

.item__price {
	width: 100%;
	margin-top: 15px;
	text-align: right;
}

.item__box-area {
	@include flex__wrap;
	align-items: center;
	justify-content: flex-end;
	width: 100%;
	margin-top: 15px;
}

@media (min-width: 360px) {
.item__number {
	padding-right: 15px;
}
}

@media (max-width: 359px) {
.item__number {
	padding-right: 10px;
}
}

.item__btn {
	@include flex__center;
}

.item__tax {
	font-size: 12px;
	color: $gray;
}

/*================================================
 *  商品詳細
 ================================================*/
.content-box__warper-product {
	width: 100%;
}

.product__photo {
	width: 100%;
	max-width: 350px;
	margin: auto;
}

.product__item {
    width: 100%;
	margin-top: 30px;
}

.product__neme {
	width: 100%;
	padding-bottom: 5px;
	border-bottom: 1px solid $border;
    font-size: 20px;
	& span {
		@include font__basic;
	}
}

.product__catch {
	width: 100%;
	margin-top: 15px;
}

.product__definition {
	width: auto;
	padding-right: 10px;
}

.product__price {
	margin-top: 30px;
}

.product__price-money {
    font-size: 20px;
	color: $red;
}

.product__number {
	margin-top: 15px;
}

.product__btn {
	@include flex__wrap;
	width: auto;
	margin-top: 15px;
}

.product__description {
	width: 100%;
	margin-top: 30px;
}

/*================================================
 *  pager
 ================================================*/
@media (min-width: 768px) {
.pager__wrapper {
	@include flex__center;
	margin-top: 30px;
	&:first-child {
		margin-top: 0;
	}
}

.pager__num {
	@include flex__wrap;
	& > li {
		@include flex__center;
		width: 40px;
		height: 40px;
		margin-right: 5px;
		border: 1px solid $border;
		font-size: 14px;
		line-height: 1;
		& a {
			@include flex__center;
			width: 100%;
			height: 100%;
			color: $basic;
		}
		&.active {
			border: none;
			background-color: $blue;
			color: $white;
			pointer-events: none;
			& a {
				color: $white;
			}
		}
		&:last-child {
			margin-right: 0;
		}
		&:hover {
			background-color: $lightblue;
			border: 1px solid $lightskyblue;
		}
		&:active {
			opacity: 0.7;
		}
	}
}

.pager__prev {
	@include flex__wrap;
	margin-right: 15px;
	& > li {
		@include flex__center;
		margin-right: 15px;
		font-size: 15px;
		&:last-child {
			margin-right: 0;
		}
		& a {
			@include flex__center;
			width: 100%;
			height: 100%;
		}
		&.pager__back {
			& a::before {
				margin-right: 5px;
				content: "\f104";
				font-family: "Font Awesome 5 Pro";
				font-weight: 400;
				font-size: 18px;
				line-height: 1;
			}
		}
		&.pager__first {
			& a::before {
				margin-right: 5px;
				content: "\f100";
				font-family: "Font Awesome 5 Pro";
				font-weight: 400;
				font-size: 18px;
				line-height: 1;
			}
		}
	}
}

.pager__next {
	@include flex__wrap;
	margin-left: 15px;
	& > li {
		@include flex__center;
		margin-right: 15px;
		font-size: 15px;
		&:last-child {
			margin-right: 0;
		}
		& a {
			@include flex__center;
			width: 100%;
			height: 100%;
		}
		&.pager__after {
			& a::after {
				margin-left: 5px;
				content: "\f105";
				font-family: "Font Awesome 5 Pro";
				font-weight: 400;
				font-size: 18px;
				line-height: 1;
			}
		}
		&.pager__last {
			& a::after {
				margin-left: 5px;
				content: "\f101";
				font-family: "Font Awesome 5 Pro";
				font-weight: 400;
				font-size: 18px;
				line-height: 1;
			}
		}
	}
}
}

@media (max-width: 767px) {
.pager__wrapper {
	@include flex__column;
	align-items: center;
	margin-top: 30px;
	&:first-child {
		margin-top: 0;
	}
}

.pager__num {
	@include flex__wrap;
	margin-top: 15px;
	& > li {
		@include flex__center;
		width: 40px;
		height: 40px;
		margin-right: 5px;
		border: 1px solid $border;
		font-size: 14px;
		line-height: 1;
		& a {
			@include flex__center;
			width: 100%;
			height: 100%;
			color: $basic;
		}
		&.active {
			border: none;
			background-color: $blue;
			color: $white;
			pointer-events: none;
			& a {
				color: $white;
			}
		}
		&:last-child {
			margin-right: 0;
		}
		&:hover {
			background-color: $lightblue;
			border: 1px solid $lightskyblue;
		}
		&:active {
			opacity: 0.7;
		}
	}
}

.pager__prev {
	@include flex__wrap;
	& > li {
		@include flex__center;
		margin-right: 30px;
		font-size: 15px;
		&:last-child {
			margin-right: 0;
		}
		& a {
			@include flex__center;
			width: 100%;
			height: 100%;
		}
		&.pager__back {
			& a::before {
				margin-right: 5px;
				content: "\f104";
				font-family: "Font Awesome 5 Pro";
				font-weight: 400;
				font-size: 18px;
				line-height: 1;
			}
		}
		&.pager__first {
			& a::before {
				margin-right: 5px;
				content: "\f100";
				font-family: "Font Awesome 5 Pro";
				font-weight: 400;
				font-size: 18px;
				line-height: 1;
			}
		}
	}
}

.pager__next {
	@include flex__wrap;
	margin-top: 15px;
	& > li {
		@include flex__center;
		margin-right: 30px;
		font-size: 15px;
		&:last-child {
			margin-right: 0;
		}
		& a {
			@include flex__center;
			width: 100%;
			height: 100%;
		}
		&.pager__after {
			& a::after {
				margin-left: 5px;
				content: "\f105";
				font-family: "Font Awesome 5 Pro";
				font-weight: 400;
				font-size: 18px;
				line-height: 1;
			}
		}
		&.pager__last {
			& a::after {
				margin-left: 5px;
				content: "\f101";
				font-family: "Font Awesome 5 Pro";
				font-weight: 400;
				font-size: 18px;
				line-height: 1;
			}
		}
	}
}
}

/*================================================
 *  会員メニュー
 ================================================*/
@media (min-width: 360px) {
.member__icon {
	@include flex__wrap;
	justify-content: center;
	width: 100%;
	& li {
		width: 130px;
		min-height: 130px;
		margin: 30px 10px 0;
		@include radius;
		border: 1px solid $border;
		transition: all 0.2s ease-out;
		& a {
			display: block;
			padding: 15px;
			color: $basic;
		}
		&:hover {
			opacity: 0.7;
		}
		&:active {
			transform: translate(0, 2px);
			box-shadow:1px 1px 1px 1px rgba($gray,0.2);
	}
	}
}
}

@media (max-width: 359px) {
.member__icon {
	@include flex__wrap;
	justify-content: center;
	width: 100%;
	& li {
		width: 110px;
		min-height: 110px;
		margin: 30px 10px 0;
		@include radius;
		border: 1px solid $border;
		transition: all 0.2s ease-out;
		& a {
			display: block;
			padding: 15px;
			color: $basic;
		}
		&:hover {
			opacity: 0.7;
		}
		&:active {
			transform: translate(0, 2px);
			box-shadow:1px 1px 1px 1px rgba($gray,0.2);
	}
	}
}
}

.member__icon-img {
	@include flex__center;
	width: 100%;
}

.member__icon-headline {
	@include flex__center;
	width: 100%;
	margin-top: 10px;
	font-size: 14px;
}

/*================================================
 *  良くある質問
 ================================================*/
.qa__list {
	width: 100%;
	margin-top: 15px;
	&:first-child {
		margin-top: 0;
	}
	& > li {
		width: 100%;
		margin-top: 15px;
		padding: 2px;
		background-color: $lightblue;
		&:first-child {
			margin-top: 0;
		}
	}
}

.qa__list-question {
	position: relative;
	@include flex__wrap;
	width: 100%;
	padding: 15px 45px;
	font-weight: bold;
	&::before {
		content: "\f2fd";
		position: absolute;
		top: 15px;
		left: 0;
		z-index: 500;
		@include flex__wrap;
		justify-content: center;
		width: 45px;
		height: 100%;
		font-family: "Font Awesome 5 Pro";
		font-weight: 900;
		font-size: 24px;
		line-height: 1;
		color: $blue;
	}
	&::after {
		content: "\f067";
		position: absolute;
		top: 0;
		right: 0;
		z-index: 500;
		@include flex__center;
		width: 45px;
		height: 100%;
		font-family: "Font Awesome 5 Pro";
		font-weight: 400;
		font-size: 24px;
		line-height: 1;
		color: $blue;
	}
	&.active {
		&::after {
			content: "\f068";
		}
	}
}

.qa__list-answer {
	display: none;
	width: 100%;
	padding: 15px;
	background-color: $white;
}

/*================================================
 *  cart
 ================================================*/

.cart-line__wrapper {
	display: none;
}

.cart-line__list {
	@include flex__wrap;
	width: 100%;
	& li {
		margin-right: 15px;
		text-align: center;
		&.cart-line__name {
			width: calc(100% - 45px - 150px - 65px - 105px);
		}
		&.cart-line__price {
			width: 150px;
		}
		&.cart-line__number {
			width: 65px;
		}
		&.cart-line__subtotal {
			width: 105px;
		}
		&:last-child {
			margin-right: 0;
		}
	}
}

.cart__warper {
	width: 100%;
	margin-top: 15px;
	&:first-child,
	.cart-line__wrapper + & {
		margin-top: 0;
	}
	&.confirmation {
		margin-top: 15px;
	}
	& ul {
		width: 100%;
		border: 1px solid $border;
		@include radius;
		& li {
			@include flex__wrap;
			width: 100%;
			padding: 10px;
			border-bottom: 1px solid $border;
			&:last-child {
				border-bottom: none;
			}
		}
	}
}

@media (min-width: 360px) {
.cart__box {
	width: 90px;
	max-height:  90px;
	margin-right: 15px;
	overflow: hidden;
	&:hover {
		opacity: 0.7;
	}
}

.cart__box-area {
	display: flex;
	flex-direction: column;
	width: calc(100% - 105px);
}
}

@media (max-width: 359px) {
.cart__box {
	width: 85px;
	max-height:  85px;
	margin-right: 10px;
	overflow: hidden;
	&:hover {
		opacity: 0.7;
	}
}

.cart__box-area {
	display: flex;
	flex-direction: column;
	width: calc(100% - 95px);
}
}

.cart__neme {
	width: 100%;
}

.cart__price {
	width: 100%;
	margin-top: 10px;
	font-size: 14px;
	color: $red;
	& span {
		color: $basic;
	}
}

.cart__number {
	@include flex__wrap;
	align-items: center;
	width: 100%;
	margin-top: 10px;
	font-size: 14px;
	& span {
		&::after {
			content: "：";
			margin-right: 5px;
		}
	}
}

.cart__subtotal {
	display: none;
}

.cart__btn-delete {
	width: 100%;
	margin-top: 15px;
}

.total__warper {
	@include flex__center;
	margin-top: 30px;
	@include radius;
	padding: 15px;
	background-color: $lightgray;
	@media (max-width: 767px) {
		padding: 10px;
	}
}

.total__box {
	padding: 15px 15px;
	font-weight: bold;
	@include radius;
	background-color: $lightgray;;
}

/* confirmation */

.confirmation__head-wrapper {
	@include flex__wrap;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.confirmation__head-headline {
	width: calc(100% -60px);
}

.confirmation__head-edit {
	@include flex__wrap;
	align-items: center;
	justify-content: flex-end;
	width: 60px;
}

.confirmation__box {
	margin-top: 15px;
}

/*================================================
 *  order
 ================================================*/
.step__warper {
	@include flex__center;
	width: 100%;
	text-align: center;
}

.step__area {
	width: 100%;
	text-align: center;
}

.content-box__warper-order {
	margin-top: 15px;
}

.order-cart__warper {
	width: 100%;
	margin-top: 15px;
	padding: 15px 15px;
	@include radius;
	border: 1px solid $border;
	&:first-child {
		margin-top: 0;
	}
	@media (max-width: 767px) {
	padding: 10px;
	}
}

.order-cart__address-list {
	width: 100%;
	& li {
		width: 100%;
		margin-top: 15px;
		padding-top: 15px;
		border-top: 1px dotted $border;
		&:first-child {
			margin-top: 0;
			padding-top: 0;
			border-top: none;
		}
	}
}

.order-cart__box-warper-address {
	@include flex__wrap;
	align-items: center;
	padding: 15px 0;
}

.order-cart__box-label {
	width: 100%;
}

.order-cart__box-overview {
	width: 100%;
	margin-top: 10px;
	padding: 15px;
	@include radius;
	background-color: $lightgray;
}

.delivery-time__warper {
	margin-top: 10px;
}

.request__warper {
	width: 100%;
	margin-top: 15px;
}

.request__textarea {
	margin-top: 10px;
}

/* card */
.order-cart__box-warper-card {
	@include flex__wrap;
	align-items: center;
	padding: 15px 0px;
}

.order-cart__box-warper-area {
	width: 100%;
	margin-top: 15px;
	padding: 15px;
	@include radius;
	background-color: $lightgray;
	@media (max-width: 767px) {
		padding: 10px;
	}
}

@media (min-width: 768px) {
.header-line__wrapper-card {
	@include flex__wrap;
	justify-content: space-between;
	width: 100%;
	padding: 0px 15px;
	color: $gray;
}

.header-line__card-select {
	width: 125px;
}

.header-line__card-name {
	@include flex__wrap;
	justify-content: center;
	width: calc(100% - 125px - 95px);
}

.header-line__card-date {
	@include flex__wrap;
	justify-content: flex-end;
	width: 95px;
}
}

@media (max-width: 767px) {
.header-line__wrapper-card {
	display: none;
}

}

@media (min-width: 768px) {
.card__wrapper {
	@include flex__wrap;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	margin-top: 5px;
	padding: 15px 15px;
	background-color: $white;
}

.card__box-select {
	width: 125px;
	& span {
		display: none;
	}
}

.card__box-name {
	@include flex__wrap;
	justify-content: center;
	width: calc(100% - 125px - 95px);
	& span {
		display: none;
	}
}

.card__box-date {
	@include flex__wrap;
	justify-content: flex-end;
	width: 95px;
	& span {
		display: none;
	}
}
}

@media (max-width: 767px) {
.card__wrapper {
	width: 100%;
	margin-top: 5px;
	padding: 15px 15px;
	background-color: $white;
}

.card__box-select {
	width: 100%;
	& span {
		display: block;
		width: 100%;
		font-weight: bold;
	}
}

.card__box-name {
	width: 100%;
	margin-top: 10px;
	& span {
		display: block;
		width: 100%;
		font-weight: bold;
	}
}

.card__box-date {
	width: 100%;
	margin-top: 10px;
	& span {
		display: block;
		width: 100%;
		font-weight: bold;
	}
}
}

.card__wrapper-add {
	width: 100%;
	margin-top: 15px;
}

.card__add-box {
	width: 100%;
	margin-top: 10px;
	padding: 15px;
	border-radius: 5px;
	background-color: $lightgray;
	@media (max-width: 767px) {
		padding: 10px;
	}
	@media (max-width: 359px) {
		padding: 0;
		background-color: $white;
	}
}

.card__add-area {
	@include flex__wrap;
	width: 100%;
	margin-top: 1em;
}

@media (min-width: 768px) {
.card__add-areabox {
	width: auto;
	&:nth-child(n+2) {
		margin-left: 30px;
	}
}
}

@media (max-width: 767px) {
.card__add-areabox {
	width: 100%;
	&:nth-child(n+2) {
		margin-top: 15px;
	}
}
}

.card__add-name {
	margin-top: 5px;
}

.card__add-number {
	margin-top: 5px;
	& * {
		margin-right: 10px;
		&:last-child {
			margin-right: 0;
		}
	}
	@media (max-width: 359px) {
		& * {
			margin-right: 5px;
			&:last-child {
				margin-right: 0;
			}
		}
	}
}

.card__add-date {
	margin-top: 5px;
	&.card-code {
		width: 80px;
	}
	& * {
		margin-right: 10px;
		&:last-child {
			margin-right: 0;
		}
	}
	@media (max-width: 359px) {
		& * {
			margin-right: 5px;
			&:last-child {
				margin-right: 0;
			}
		}
	}
}

.card__add-btn {
	@include flex__wrap;
	width: auto;
	margin-top: 15px;
}

/* payment */
.order-cart__box-warper-payment {
	width: 100%;
	& > ul {
		width: 100%;
		& > li {
			width: 100%;
			margin-top: 15px;
			padding-top: 15px;
			border-top: 1px dotted $border;
			&:first-child {
				margin-top: 0;
				padding-top: 0;
				border-top: none;
			}
		}
	}
}

.payment__wrapper {
	@include flex__wrap;
	align-items: center;
}

.payment__box-select {
	width: 100%;
}

.payment__box-item {
	width: 100%;
	margin-top: 15px;
}

.payment__box-item-title {
	width: 100%;
}

.payment__box-item-info {
	margin-top: 10px;
}

/*================================================
 *  history
 ================================================*/
.history__warper {
	width: 100%;
}

.history__list {
	width: 100%;
	@include radius;
	& > li {
		width: 100%;
		margin-top: 15px;
		padding: 10px;
		@include radius;
		border: 1px solid $border;
		&:first-child {
			margin-top: 0;
		}
	}
}

.history__box {
	width: 90px;
    max-height: 90px;
    margin-right: 15px;
    overflow: hidden;
}

.history__box-area {
    width: calc(100% - 105px);
}

.history__head-ordernumber,
.history__head-date {
	width: 180px;
	&::after {
		content: "：";
	}
	@media (max-width: 767px) {
		width: auto;
		&::after {
			display: none;
		}
	}
}

.history__list-item {
	width: 100%;
	margin: 0px;
	padding: 0px;
	@include radius;
	& > li {
		@include flex__wrap;
		width: 100%;
		padding: 10px 0;
		border-bottom: 1px dotted $border;
		&:last-child {
			border-bottom: none;
			padding-bottom: 0;
		}
	}
}

.history__box {
	width: 90px;
	max-height: 90px;
    margin-right: 15px;
    overflow: hidden;
}

.history__box-area {
    width: calc(100% - 105px);
}

.history__neme {
	
}

.history__number {
	font-size: 14px;
}

.history__subtotal {
	font-size: 14px;
}

/*================================================
 *  top用
 ================================================*/
.top .content__area {
    background: transparent;
}

.top .nav__list {
    background: $white;
}

.top-video video {
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    right: 0;
    bottom: 0;
    position: absolute;
    width: auto;
    height: 50vh;
}

.back-image img {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    right: 0;
    bottom: 0;
}
.nav__list {
    background: $white;
}
