﻿// baseテンプレートSP
@charset "utf-8";

// reset
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;font-weight:400;}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}

*, *:before, *:after {
box-sizing: border-box;
 }

// font
$font__basic: 'Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ',Meiryo,sans-serif;
$font__serif: 'YuMincho','Yu Mincho','游明朝体',serif;
$font__en: 'Helvetica Neue','Arial',sans-serif;

// color
$basic: #202020;
$black: #000000;
$white: #FFFFFF;
$gray: #707070;
$lightgray: #F7F7F7;
$blue: #1994D8;
$lightblue: #EAF8FF;
$lightskyblue: #5BC3EA;
$orange: #FFA52E;
$pink: #FA5653;
$red: #E31515;
// フォーム内
$placeholder: #CCCCCC;
// 枠線の色
$border: #CCCCCC;
// 背景色
$bg-gray: #F4F4F4;
// overlay背景色
$overlay: rgba(0,0,0,0.7);
// disabled&readonly指定時の背景
$notselected: rgba(0,0,0,0.05);

// flexbox
@mixin flex__wrap {
	display: flex;
	flex-wrap: wrap;
}

@mixin flex__center {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

@mixin flex__column {
	display: flex;
	flex-direction: column;
}

// border-radius
@mixin radius {
	border-radius: 3px;
}

// font
@mixin font__basic {
	font-size: 16px;
	line-height: 1.5;
}
// inner
@mixin inner {
	width: 100%; 
	padding: 0 30px;
}

// Scss Document
html {
    height: 100%;
}

body {
	@include flex__column;
	min-height: 100vh;
	font-family: $font__basic;
	@include font__basic;
	color: $basic;
	word-break: break-all;
	-webkit-text-size-adjust: 100%;
	&.no-scroll {
		overflow: hidden;
	}
}

a {
    color: $blue;
	text-decoration: none;
	cursor: pointer;
	&:hover {
		opacity: 0.8;
	}
	&.nav {
		position: relative;
		display: inline-block;
		margin-top: 1em;
		padding-left: 25px;
		&::before {
			content: "\f0a9";
			position: absolute;
			top: 3px;
			left: 0;
			z-index: 100;
			font-family: "Font Awesome 5 Pro";
			font-weight: 900;
			font-size: 20px;
			line-height: 1;
		}
	}
	&.tel {
		pointer-events: none;
		color: $basic;
	}
	&.no-opacity {
		&:hover {
			opacity: 1;
		}
	}
}

p {
	margin-top: 1em;
	&:first-child {
		margin-top: 0;
	}
	.separatorline + & {
		margin-top: 0;
	}
}

img {
	width: auto;
	max-width: 100%;
	height: auto;
	vertical-align: bottom;
}

main {
	@include flex__column;
	align-items: center;
	width: 100%;
	margin-top: 60px;
}

#app,
.app__wrapper {
	@include flex__column;
	min-height: 100vh;
}

/*================================================
 *  form
 ================================================*/
input[type="button"],input[type="text"],input[type="email"],input[type="tel"],input[type="password"],input[type="submit"],input[type="image"],input[type="search"],textarea,select {
	-webkit-appearance: none;
	appearance: none;
	background-color: $white;
}

select::-ms-expand {
	display: none;
}

input::placeholder {
	font-size: 13px;
	color: $placeholder;
}

textarea::placeholder {
	font-size: 13px;
	color: $placeholder;
}

textarea {
	width: 100%;
	min-height: 150px;
	padding: 10px;
	border: solid 1px $border;
	font-size: 16px;
	&:disabled {
		background-color: $notselected;
	}
	@media (max-width: 767px) {
		padding: 5px;
	}
}

input[type="text"] {
	width: 100%;
	height: 50px;
	padding: 0px 10px;
	border: solid 1px $border;
	font-size: 16px;
	&:disabled {
		background-color: $notselected;
	}
	@media (max-width: 767px) {
		padding: 0 5px;
	}
}

.password__form {
	@include flex__wrap;
	width: 100%;
}

input[type="password"] {
	width: 100%;
	height: 50px;
	padding: 0px 10px;
	border: solid 1px $border;
	font-size: 16px;
	&:disabled {
		background-color: $notselected;
	}
	.password__form & {
		width: calc(100% - 40px);
		border-radius: 3px 0 0 3px;
	}
	@media (max-width: 767px) {
		padding: 0 5px;
	}	
}

input[type="email"] {
	width: 100%;
	height: 50px;
	padding: 0px 10px;
	border: solid 1px $border;
	font-size: 16px;
	&:disabled {
		background-color: $notselected;
	}
	@media (max-width: 767px) {
		padding: 0 5px;
	}
}

input[type="tel"] {
	width: 100%;
	height: 50px;
	padding: 0px 10px;
	border: solid 1px $border;
	font-size: 16px;
	&:disabled {
		background-color: $notselected;
	}
	@media (max-width: 767px) {
		padding: 0 5px;
	}
}

input[type="search"] {
	width: 100%;
	height: 50px;
	padding: 0px 50px 0 10px;
	border-radius: 0;
	border: solid 1px $border;
	&:disabled {
		background-color: $notselected;
	}
}

select {
	height: 50px;
	padding: 0px 30px 0 10px;	
	border: solid 1px $border;
	background-image: url("../image/base/icon_select.png");
	background-color: $white;
	background-repeat: no-repeat;
	background-size: 30px 30px;
	background-position: right center;
	font-size: 16px;
	@include font__basic;
	&:disabled {
		background-color: $notselected;
	}
	@media (max-width: 767px) {
		padding: 0  30px 0 5px;
	}
}

input[type="radio"] {
	display: none;
	& + label {
		position: relative;
		@include flex__wrap;
		align-items: center;
		padding: 0 0 0 25px;
		@include font__basic;
		&::before {			
			content: "";
			position: absolute;
			top: 6px;
			left: 3px;
			z-index: 100;
			width: 12px;
			height: 12px;
			border-radius: 9px;
			background-color: $blue;
			opacity: 0;
		}
		&::after {
			position: absolute;
			content: "";
			display: block;
			top: 3px;
			left: 0;
			z-index: 50;
			width: 18px;
			height: 18px;
			border: 1px solid $border;
			border-radius: 20px;
			background-color: $white;
		}
		&:hover {
		opacity: 0.7;
		}
	}
	&:disabled + label {
		&::before {
			background-color: $notselected;
		}
	}
	&.active + label::before {
		opacity: 1;
	}
	&.active + label::after {
		background-color: $white;
	}
	&:disabled + label::after {
		border: 1px solid $border;
		background-color: $notselected;
	}
}

/*================================================
 *  共有
 ================================================*/
.element__weight {
  font-weight: bold;
}

.element__weight-gray {
	font-weight: bold;
	color: $gray;
}

.element__color-red {
	color: $red;
}

.element__underline {
	text-decoration: underline;
}

.element__align-left {
	text-align: left!important;
}

.element__align-center {
	text-align: center!important;
	&.pc-only {		
		text-align: left!important;
	}
	&.sp-only {
		text-align: center!important;
	}
}

.element__align-right {
	text-align: right!important;
	&.pc-only {
		text-align: left!important;
	}
	&.sp-only {
		text-align: right!important;
	}
}

.element__scroll {
	width: 100%;
	padding: 10px;
	border: 1px solid $border;
	overflow-y: auto;
}

.element__width-half {
	width: 50%!important;
	max-width: 50%!important;
}

.element__width-full {
	width: 100%!important;
	max-width: 100%!important;
}

.element__height-100 {
	height: 100px;
}

.element__height-150 {
	height: 150px;
}

.element__height-200 {
	height: 200px;
}

.element__height-250 {
	height: 250px;
}

.element__height-300 {
	height: 300px;
}

.element__height-400 {
	height: 400px;
}

.element__height-500 {
	height: 500px;
}


.element__width-half {
	width: 50%;
}

.element__width-full {
	width: 100%;
}

.element__area {
	width: 100%;
}

.separatorline {
	width: 100%;
	height: 30px;
	background-image: url("../image/base/separatorline.png");
    background-repeat: repeat-x;
	background-position: center;
}

.fade {
	transition: all 0.7s ease-out;
	opacity: 0;
	&.active {
		opacity: 1;
	}
	&.delay {
		transition-delay: 0.2s;
		&.pc-only {
			transition-delay: 0s;
		}
		&.sp-only {
			
		}
	}
	&.delay2 {
		transition-delay: 0.4s;
		&.pc-only {
			transition-delay: 0s;
		}
		&.sp-only {
			
		}
	}
	&.delay3 {
		transition-delay: 0.6s;
		&.pc-only {
			transition-delay: 0s;
		}
		&.sp-only {
			
		}
	}
}

.fade__vertical {
	transition: all 0.7s ease-out;
	transform: translate(0, 30px);
	opacity: 0;
	&.active {
		transform: translate(0, 0);
		opacity: 1;
	}
	&.delay {
		transition-delay: 0.2s;
		&.pc-only {
			transition-delay: 0s;
		}
		&.sp-only {
			
		}
	}
	&.delay2 {
		transition-delay: 0.4s;
		&.pc-only {
			transition-delay: 0s;
		}
		&.sp-only {
			
		}
	}
	&.delay3 {
		transition-delay: 0.6s;
		&.pc-only {
			transition-delay: 0s;
		}
		&.sp-only {
			
		}
	}
}

.overlay {
	position: fixed;
	top: 0;
	left: -100%;
	z-index: -1;
	width: 100%;
	height: 100%;
	background-color: $overlay;
	transition: all 0.3s;
	&.active {
		left: 0;
		z-index: 500;
	}
}

.wrapper {
	@include flex__column;
	width: 100%;
	min-height: 100vh;
}

/*================================================
 *  404 not found
 ================================================*/
.notfound__wrapper {
	width: 100%;
}

.notfound__headline {
	@include flex__wrap;
	justify-content: center;
	width: 100%;
	font-size: 80px;
	line-height: 1;
	color: $lightskyblue;
	
}

.notfound__headline-title {
	@include flex__wrap;
	justify-content: center;
	width: 100%;
	font-size: 30px;	
	color: $gray;
}

.notfound__area {
	@include flex__wrap;
	justify-content: center;
	width: 100%;
	margin-top: 30px;
}

/*================================================
 *  リスト
 ================================================*/
.list__disc {
	width: 100%;
	margin-top: 15px;
	list-style: none;
	counter-reset: disc;
	&:first-child {
		margin-top: 0;
	}
	& > li {
		position: relative;
		width: 100%;
		margin-top: 15px;
		padding-left: 20px;
		&:first-child {
			margin-top: 0;
		}
		&::before {
			position: absolute;
			top: 0;
			left: 0;
			@include flex__center;
			content: "・";
		}
	}
}

.list__asterisk {
	width: 100%;
	margin-top: 5px;
	list-style: none;
	counter-reset: disc;
	&:first-child {
		margin-top: 0;
	}
	& > li {
		position: relative;
		width: 100%;
		margin-top: 15px;
		padding-left: 20px;
		&:first-child {
			margin-top: 0;
		}
		&::before {
			position: absolute;
			top: 0;
			left: 0;
			@include flex__center;
			content: "※";
		}
	}
}

.list__asterisk-red {
	width: 100%;
	margin-top: 5px;
	list-style: none;
	counter-reset: disc;
	&:first-child {
		margin-top: 0;
	}
	& > li {
		position: relative;
		width: 100%;
		margin-top: 15px;
		padding-left: 20px;
		&:first-child {
			margin-top: 0;
		}
		&::before {
			content: "※";
			position: absolute;
			top: 0;
			left: 0;
			@include flex__center;			
			color: $red;
		}
	}
}

.list__number {
	width: 100%;
	list-style: none;
	counter-reset: number;
	&.bold > li {
		font-weight: bold;
	}
	& > li {
		position: relative;
		width: 100%;
		margin-top: 15px;
		padding: 0 15px 15px 45px;
		border-bottom: 1px dotted $gray;
		&:first-child {
			margin-top: 0;
		}
		&::before {
			position: absolute;
			top: 0;
			left: 0;
			@include flex__center;
			width: 45px;
			content: counter(number) ".";
			counter-increment: number;
		}
	}
}

.list-box__wrap {
	@include flex__wrap;
	width: 100%;
	& > li {
		@include flex__wrap;
		align-items: center;
		margin: 5px 30px 5px 0;
		&:last-child {
			margin-right: 0;
		}
	}
}

.list-box__column {
	@include flex__column;
	width: 100%;
	margin-top: 5px;
	&:first-child {
		margin-top: 0;
	}
	& > li {
		@include flex__wrap;
		align-items: center;
		width: 100%;
		margin-top: 15px;
		&:first-child {
			margin-top: 0;
		}
	}
}

/*================================================
 * dl
 ================================================*/

@media (min-width: 768px) {
.dl__line {
	@include flex__wrap;
	width: 100%;
	margin-top: 15px;
	&:first-child {
		margin-top: 0;
	}
	& > div {
		@include flex__wrap;
		width: 100%;
		padding: 15px 15px;
		border-bottom: 1px solid $border;
		&:first-child {
			padding: 0 15px 15px;
		}
	}
	&.dotted > div {
		border-bottom: 1px dotted $border;
	}
	&.border {
		padding: 15px;
		@include radius;
		border: 1px solid $border;
		& > div {
			border-bottom: 1px dotted $border;
			&:last-child {
				padding-bottom: 0;
				border-bottom: none;
			}
		}
	}
	& dt {
		width: 180px;
		font-weight: bold;
		&.required {
			position: relative;
			justify-content: space-between;
			padding-right: 50px;
			min-height: 24px;
			&::after {
				content: "";
				position: absolute;
				top: 0;
				right: 0;
				z-index: 100;
				@include flex__center;
				width: 40px;
				height: 100%;
				background-image: url("../image/base/required.png");
				background-position: center;
				background-repeat: no-repeat;
				background-size: contain;
				font-size: 12px;
				color: $white;
			}
		}
	}
	& dd {
		width: calc(100% - 180px);
		padding-left: 15px;
	}
}	
}

@media (max-width: 767px) {
.dl__line {
	width: 100%;
	margin-top: 15px;
	&:first-child {
		margin-top: 0;
	}
	& > div {
		width: 100%;
		padding: 15px 0;
		border-bottom: 1px solid $border;
		&:first-child {
			padding: 0 0 15px;
		}
	}
	&.dotted > div {
		border-bottom: 1px dotted $border;
	}
	&.border {
		padding: 10px;
		@include radius;
		border: 1px solid $border;
		& > div {
			border-bottom: 1px dotted $border;
			&:last-child {
				padding-bottom: 0;
				border-bottom: none;
			}
		}
	}
	& dt {
		width: 100%;
		font-weight: bold;
		&.required {
			position: relative;
			justify-content: space-between;
			padding-right: 50px;
			min-height: 24px;
			&::after {
				content: "";
				position: absolute;
				top: 0;
				right: 0;
				z-index: 100;
				@include flex__center;
				width: 40px;
				height: 100%;
				background-image: url("../image/base/required.png");
				background-position: center;
				background-repeat: no-repeat;
				background-size: contain;
				font-size: 12px;
				color: $white;
			}
		}
	}
	& dd {
		width: 100%;
		margin-top: 5px;
	}
}
}

@media (min-width: 768px) {
.dl__contact {
	@include flex__wrap;
	width: 100%;
	margin-top: 15px;
	&:first-child {
		margin-top: 0;
	}
	& > div {
		@include flex__wrap;
		width: 100%;
		padding: 15px 15px;
		border-bottom: 1px dotted$border;
		&:first-child {
			padding: 0 15px 15px;
		}
	}
	&.dotted > div {
		border-bottom: 1px dotted $border;
	}
	& dt {
		@include flex__wrap;
		align-items: center;
		width: 180px;
		font-weight: bold;
		&.required {
			position: relative;
			justify-content: space-between;
			min-height: 24px;
			padding-right: 50px;
			&::after {
				content: "";
				position: absolute;
				top: 0;
				right: 0;
				z-index: 100;
				@include flex__center;
				width: 40px;
				height: 100%;
				background-image: url("../image/base/required.png");
				background-position: center;
				background-repeat: no-repeat;
				background-size: contain;
				font-size: 12px;
				color: $white;
			}
		}
	}
	& dd {
		width: calc(100% - 180px);
		padding-left: 15px;
	}
}	
}

@media (max-width: 767px) {
.dl__contact {
	width: 100%;
	margin-top: 15px;
	&:first-child {
		margin-top: 0;
	}
	& > div {
		width: 100%;
		padding: 15px 15px;
		border-bottom: 1px dotted $border;
		&:first-child {
			padding: 0 15px 15px;
		}
	}
	&.dotted > div {
		border-bottom: 1px dotted $border;
	}
	& dt {
		@include flex__wrap;
		align-items: center;
		width: 100%;
		font-weight: bold;
		&.required {
			position: relative;
			justify-content: space-between;
			min-height: 24px;
			padding-right: 50px;
			&::after {
				content: "";
				position: absolute;
				top: 0;
				right: 0;
				z-index: 100;
				@include flex__center;
				width: 40px;
				height: 100%;
				background-image: url("../image/base/required.png");
				background-position: center;
				background-repeat: no-repeat;
				background-size: contain;
				font-size: 12px;
				color: $white;
			}
		}
	}
	& dd {
		width: 100%;
		margin-top: 5px;
	}
}
}

@media (min-width: 768px) {
.dl__cart {
	@include flex__wrap;
	width: 100%;
	margin-top: 15px;
	padding: 15px;
	@include radius;
	background-color: $lightgray;
	&:first-child {
		margin-top: 0;
	}
	& > div {
		@include flex__wrap;
		width: 100%;
		padding: 15px 0;
		border-bottom: 1px dotted $border;
		&:first-child {
			padding: 0 0 15px;
		}
		&:last-child {
			padding-bottom: 0;
			border-bottom: none;
		}
	}
	& dt {
		@include flex__wrap;
		align-items: center;
		width: 160px;
		&.required {
			position: relative;
			justify-content: space-between;
			padding-right: 50px;
			min-height: 24px;
			&::after {
				content: "";
				position: absolute;
				top: 0;
				right: 0;
				z-index: 100;
				@include flex__center;
				width: 40px;
				height: 100%;
				background-image: url("../image/base/required.png");
				background-position: center;
				background-repeat: no-repeat;
				background-size: contain;
				font-size: 12px;
				color: $white;
			}
		}
	}
	& dd {
		width: calc(100% - 160px);
		padding-left: 15px;
	}
}	
}

@media (max-width: 767px) {
.dl__cart {
	width: 100%;
	margin-top: 15px;
	@include radius;
	&:first-child {
		margin-top: 0;
	}
	& > div {
		width: 100%;
		padding: 15px 0;
		&:first-child {
			padding: 0 0 15px;
		}
		&:last-child {
			padding-bottom: 0;
		}
	}
	& dt {
		@include flex__wrap;
		align-items: center;
		width: 100%;
		padding: 10px;
		background-color: $lightgray;
		font-weight: bold;
		&.required {
			position: relative;
			justify-content: space-between;
			padding-right: 60px;
			min-height: 24px;
			&::after {
				content: "";
				position: absolute;
				top: 0;
				right: 10px;
				z-index: 100;
				@include flex__center;
				width: 40px;
				height: 100%;
				background-image: url("../image/base/required.png");
				background-position: center;
				background-repeat: no-repeat;
				background-size: contain;
				font-size: 12px;
				color: $white;
			}
		}
	}
	& dd {
		width: 100%;
		margin-top: 15px;
	}
}	
}

@media (-webkit-min-device-pixel-ratio: 2),
	(min-resolution: 2dppx) {
.dl__line,
.dl__contact,
.dl__cart {
	& dt {
		&.required {
			&::after {
				background-image: url("../image/base/required_2x.png");
			}
		}
	}
}
}

.dl__total {
	width: auto;
	&:first-child {
		margin-top: 0;
	}
	& > div {
		@include flex__wrap;
		justify-content: space-between;
		width: 100%;
		padding: 5px ;
		border-bottom: 1px dotted $border;
		&:first-child {
			padding: 0 5px 5px;
		}
		&:last-child {
			padding-bottom: 0;
			border-bottom: none;
		}
		&.total {
			margin-top: 15px;
			padding: 10px;
			background-color: $white;
			&:first-child {
				margin-top: 0;
			}
			@media (max-width: 767px) {
				margin-top: 10px;
			}
			& dt {
				@include flex__center;
				width: 100%;
				font-size: 18px;
				font-weight: bold;
			}
			& dd {
				@include flex__center;
				width: 100%;
				margin-top: 5px;
				padding-left: 0;
				font-size: 18px;
				font-weight: bold;
				color: $red;
				& span {					
					font-size: 14px;
					font-weight: normal;
					color: $basic;
				}
			}
		}
	}
	& dt {
		width: auto;
		& span {
			font-size: 14px;
		}
	}
	& dd {
		width: auto;
		padding-left: 30px;
		@media (max-width: 767px) {
			padding-left: 15px;
		}
	}
}

.dl__history {
	width: auto;
	margin-top: 5px;
	& > div {
		@include flex__wrap;
		width: 100%;
		@media (max-width: 767px) {
			display: block;
			margin-top: 5px;
			&:first-child {
				margin-top: 0;
			}
		}
	}
	& dt {
		width: 50px;
		@media (max-width: 767px) {
			width: 100%;
		}
	}
	& dd {
		width: calc(100% - 50px);
		padding-left: 15px;
		@media (max-width: 767px) {
			width: 100%;
			padding-left: 0;
		}
	}
	&.headitem {
		@include flex__wrap;
		justify-content: space-between;
		width: 100%;
		padding: 10px 15px;
		background-color: $lightgray;
		& > div {
			@include flex__wrap;
			width: auto;
			@media (max-width: 767px) {
				display: block;	
				width: 100%;
				margin-top: 0;
				padding: 5px 0;
				border-bottom: 1px dotted $border;
				&:first-child {
					padding-top: 0;
				}
				&:last-child {
					padding-bottom: 0;
					border-bottom: none;
				}
			}
		}
		& dt {
			width: auto;
		}
		& dd {
			width: auto;
			padding-left: 0;
		}
	}
}

/*================================================
 *  pagetop
 ================================================*/
.page__top-nav {
	position: fixed;
	bottom: 15px;
	right: 15px;
	z-index: 1000;
	width: 45px;
	height: 45px;
	& a {
		@include flex__wrap;
		width: 100%;
		height: 100%;
		background-image: url("../image/base/icon-top-nav_sp.png");
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
	}
}

@media (-webkit-min-device-pixel-ratio: 2),
	(min-resolution: 2dppx) {
.page__top-nav {
	& a {
		background-image: url("../image/base/icon-top-nav_sp_2x.png");
	}
}
}

/*================================================
 *  header
 ================================================*/
header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	@include flex__center;
	width: 100%;
	height: 60px;	
	background-color: $blue;
	transition: all 0.3s;
}

.header__wrapper {
	@include flex__wrap;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	padding: 0 15px;
	body.front & {
		justify-content: center;
	}
}

.header__logo {
	@include flex__center;
	width: 100px;
	height: 40px;
	background-image: url("../image/top/momentum_architect_logo.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	transition: all 0.3s;
	& a {
		display: inline-block;
		width: 100%;
		height: 100%;
	}
}

.header__area {
	@include flex__wrap;
	align-items: center;
	justify-content: flex-end;
	width: calc(100% - 100px);
	height: 100%;
	padding-left: 15px;
	transition: all 0.3s;
}

.header__nav {
	@include flex__wrap;
	align-items: center;
	width: auto;
	transition: all 0.3s;
}

.header__headline {	
	display: none;
}

/*================================================
 * menu
 ================================================*/
.menu__wrapper {
	width: 40px;
	height: 40px;
	padding-top: 7px;
	@include radius;
	background-color: $white;
	cursor: pointer;
}

.menu__area {
	@include flex__column;
	align-items: center;
	width: 100%;
}

.menu-trigger {
	position: relative;
	display: inline-block;
	width: 26px;
	height: 15px;
	transition: all 0.3s;
	& span {
		position: absolute;
		right: 0;
		width: 100%;
		height: 1px;
		display: inline-block;
		background-color: $blue;
		transition: all 0.3s;
		&:nth-of-type(1) {
			top: 0;
		}
		&:nth-of-type(2) {
			top: 7px;
		}
		&:nth-of-type(3) {
			bottom: 0;
		}
	}
	.menu__wrapper.active & span:nth-of-type(1) {
		-webkit-transform: translateY(7px) rotate(-45deg);
		transform: translateY(7px) rotate(-45deg);
	}
	.menu__wrapper.active & span:nth-of-type(2) {
		opacity: 0;
	}
	.menu__wrapper.active & span:nth-of-type(3) {
		-webkit-transform: translateY(-7px) rotate(45deg);
		transform: translateY(-7px) rotate(45deg);
	}
}

.menu__headline {
	@include flex__center;
	width: 100%;
	margin-top: 4px;
	font-family: $font__en;
	font-size: 10px;
	line-height: 1;
	color: $blue;
}

.menu__option {
	@include flex__center;
	& li {
		margin-right: 20px;
		font-size: 10px;
		color: $white;
		&.mypage {
			& a {
				&::before {
					content: "\f2bd";
					font-family: "Font Awesome 5 Pro";
					font-weight: 900;
					font-size: 30px;
					line-height: 1;
				}
			}
		}
		&.cart {
			& a {
				position: relative;
				&::before {
					content: "";
					width: 35px;
					height: 30px;
					background-image: url("../image/base/icon-option-cart.png");
					background-repeat: no-repeat;
					background-size: contain;
					background-position: center;
					line-height: 1;
				}
			}
		}
		& a {
			@include flex__column;
			align-items: center;
			line-height: 1;
			color: $white;
		}
	}
}

@media (-webkit-min-device-pixel-ratio: 2),
	(min-resolution: 2dppx) {
.menu__option {
	& li {
		&.cart {
			& a {
				&::before {
					background-image: url("../image/base/icon-option-cart_2x.png");
				}
			}
		}
	}
}
}

.shoppingcart__number {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	@include flex__wrap;
	justify-content: center;
	width: 37px;
	height: 100%;
	padding-top: 2px;
	font-size: 12px;
	color: $white;
}

/*================================================
 *  パンくず
 ================================================*/
.breadcrumb__wrapper {
	width: 100%;
	margin-top: 15px;
	padding: 0 15px;
}

.breadcrumb__list {
	@include flex__wrap;
	padding-left: 15px;
	& > li {
		font-size: 12px;
		&.breadcrumb-home {
			&::before {
				content: "\f80c";
				margin-right: 5px;
				font-family: "Font Awesome 5 Pro";
				font-weight: 900;
				font-size: 12px;
				color: $blue;
			}
		}
		&::after {
			content: "/";
			margin: 0 5px;
			font-size: 12px;
		}
		&:last-child::after {
			display: none;
		}
	}
}

/*================================================
 *  main
 ================================================*/
.main__wrapper {
	width: 100%;
	margin-top: 15px;
	padding: 0 15px;
	@media (max-width: 767px) {
		padding: 0 10px;
	}
}

/*================================================
 *  side
 ================================================*/
.side__wrapper {
	width: 100%;
}

/*================================================
 *  user__panel
 ================================================*/
.user__panel {
	width: 100%;
	@include radius;
	padding: 15px;
	background-color: $lightblue;
}

.user__panel-number {
	width: 100%;
	text-align: center;
}

.user__panel-area {
	@include flex__wrap;
	width: 100%;
	margin-top: 15px;
}

.user__panel-name {
	position: relative;
	@include flex__center;
	width: auto;
	min-height: 40px;
	padding: 0 28px 0 50px;
	font-size: 18px;
	font-weight: bold;
	&::before {
		content: "\f2bd";
		position: absolute;
		top: 0;
		left: 0;
		@include flex__center;
		width: 40px;
		height: 100%;
		font-family: "Font Awesome 5 Pro";
		font-weight: 900;
		font-size: 40px;
		line-height: 1;
		color: $blue;
	}
	&::after {
		content: "様";
		position: absolute;
		top: 0;
		right: 0;
		@include flex__wrap;
		align-items: center;
		justify-content: flex-end;
		width: 28px;
		height: 100%;
		font-weight: normal;
		line-height: 1;
	}
}

/*================================================
 *  nav
 ================================================*/
.nav__wrapper {
	position: fixed;
	top: 60px;
	left: 0;
	z-index: 5000;
	display: none;
	width: 100%;
	height: calc(100vh - 60px);
	padding-bottom: 60px;
	background-color: $white;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	&.active {
		display: block;
	}
}

.nav__category {
	width: 100%;
	margin-top: 15px;
	&:first-child {
		margin-top: 0;
	}
}

.nav__headline {
	@include flex__wrap;
	align-items: center;
	width: 100%;
	height: 50px;
	padding: 0 15px;
	background-color: $lightblue;
	font-size: 18px;
	font-weight: bold;
}

.nav__headline-icon {
	width: 30px;
	height: 30px;
	background-repeat: no-repeat;
	background-size: contain;
	&.member {
		background-image: url("../image/base/nav-icon-member_sp.png");
	}
	&.support {
		background-image: url("../image/base/nav-icon-support_sp.png")
	}
	&.campaign {
		background-image: url("../image/base/nav-icon-campaign_sp.png");
	}
	&.shopping {
		background-image: url("../image/base/nav-icon-shopping_sp.png");
	}
}

@media (-webkit-min-device-pixel-ratio: 2),
	(min-resolution: 2dppx) {
		.nav__headline-icon {
			&.member {
				background-image: url("../image/base/nav-icon-member_sp_2x.png");
			}
			&.support {
				background-image: url("../image/base/nav-icon-support_sp_2x.png")
			}
			&.campaign {
				background-image: url("../image/base/nav-icon-campaign_sp_2x.png");
			}
			&.shopping {
				background-image: url("../image/base/nav-icon-shopping_sp_2x.png");
			}
		}
}

.nav__headline-name {
	width: calc(100% - 30px);
	padding-left: 15px;
	font-size: 18px;
	font-weight: bold;
	color: $blue;
}

.nav__list {
	@include flex__wrap;
	height: 100%;
	padding: 0 15px;
	& > li {
		position: relative;
		width: 100%;
		border-bottom: 1px dotted $border;
		font-size: 14px;
		& a {
			position: relative;
			display: inline-block;
			width: 100%;
			height: 100%;
			padding: 15px 0 15px 20px;
			color: $basic;
			&::before {
				content: "\f105";
				position: absolute;
				top: 0;
				left: 0;
				z-index: 100;
				@include flex__wrap;
				align-items: center;
				width: 20px;
				height: 100%;
				font-family: "Font Awesome 5 Pro";
				font-weight: 400;
				font-size: 20px;
				line-height: 1;
				color: $blue;
			}
		}
	}
}

/*================================================
 *  content
 ================================================*/
.content__wrapper {
	width: 100%;
	margin-top: 30px;
	&:first-child {
		margin-top: 0;
	}
}

.content__area {
	width: 100%;
	margin-top: 30px;
	padding: 15px;
	@include radius;
	background-color: $lightgray;
	&:first-child {
		margin-top: 0;
	}
	@media (max-width: 767px) {
		padding: 10px;
	}
}

.article__area {
	width: 100%;
	margin-top: 30px;
	padding: 15px;
	@include radius;
	background-color: $white;
	&:first-child {
		margin-top: 0;
	}
	&.member-area {
		padding: 0 0 30px;
	}
	@media (max-width: 767px) {
		padding: 10px;
	}
}

.article__box {
	width: 100%;
	margin-top: 30px;
	padding: 15px;
	@include radius;
	border: 1px solid $border;
	background-color: $white;
	&:first-child {
		margin-top: 0;
	}
	@media (max-width: 767px) {
		padding: 10px;
	}
}

/*================================================
 *  footer
 ================================================*/
footer {
	width: 100%;
	margin-top: auto;
}

.footer__wrapper {
	@include flex__column;
	align-items: center;
	width: 100%;
	margin-top: 60px;
	body.front & {
		margin-top: 0;
	}
}

.footer__nav {
	@include flex__center;
	width: 100%;
	padding: 30px 15px;
	background-color: $lightgray;
}

.footer__nav-area {
	@include flex__center;
	width: 100%;
	padding: 0 15px;
	background-color: $white;
}

.footer__nav-list {
	width: 100%;
	& > li {
		width: 100%;
		border-bottom: 1px dotted $border;
		&:last-child {
			border-bottom: none;
		}
		& a {
			position: relative;
			display: inline-block;
			width: 100%;
			height: 100%;
			padding: 15px 0 15px 20px;
			color: $basic;
			&::before {
				content: "\f105";
				position: absolute;
				top: 0;
				left: 0;
				z-index: 100;
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				width: 20px;
				height: 100%;
				font-family: "Font Awesome 5 Pro";
				font-weight: 400;
				font-size: 20px;
				line-height: 1;
				color: $lightskyblue;
			}
		}
	}
}

.copyright {
	@include flex__center;
	width: 100%;
	height: 50px;
	padding: 0 15px;
	background-color: $blue;
	font-size: 14px;
	color: $white;
}

/*================================================
 *  見出し
 ================================================*/
.headline {
	margin-top: 15px;
	margin-left: 15px;
	padding: 5px 0 5px 10px;
	border-left: 5px solid $lightskyblue;
	font-size: 22px;
}

.sub__headline {
	width: 100%;
	margin-top: 30px;
	font-size: 18px;
	font-weight: bold;
	color: $blue;
	&:first-child {
		margin-top: 0;
	}
}

.headline__line {
	width: 100%;
	padding-bottom: 15px;
	font-weight: bold;
	border-bottom: 1px dotted $border;
}

.headline__line-color {
	position: relative;
	width: 100%;
	padding-bottom: 8px;
	font-size: 18px;
	border-bottom: 3px solid rgba($lightskyblue,0.4);
}

.headline__line-color::after {
	content: " ";
	position: absolute;
	bottom: -3px;
	left: 0;
	display: block;
	width: 25%;
	border-bottom: solid 3px $blue;
}

/*================================================
 *  ボタン
 ================================================*/
.btn__wrapper {
	@include flex__center;
	width: 100%;
	margin-top: 15px;
	&:first-child,
	.user__panel & {
		margin-top: 0;
	}
}

.btn {
	@include flex__center;
	width: auto;
	min-width: 200px;
	height: 40px;
	margin: 15px 15px 0;
	padding: 0 10px;
	border: none;
	border-radius: 40px;
	background-color: $gray;
	@include font__basic;
	line-height: 1;
	color: $white;
	transition: all 0.2s ease-out;
	cursor: pointer;
	&:hover {
		opacity: 0.7;
	}
	&:active {
		transform: translate(0, 2px);
	}
	&.login {
		border: 1px solid $blue;
		background-color: $white;
		color: $blue;
	}
	&.logout {
		display: none;
	}
	&.register {
		background-color: $blue;
		color: $white;
	}
	&.next {
		background-color: $pink;
	}
	&.decision {
		position: relative;
		min-width: auto;
		margin: 0;
		background: linear-gradient(to bottom, rgba(247,221,158,1) 0%,rgba(232,178,65,1) 86%,rgba(227,163,32,1) 100%);
		border: 1px solid #914900;
		@include radius;
		color: $basic;
		cursor: pointer;
		&::before {
			content: "\f07a";
			margin-right: 5px;
			font-family: "Font Awesome 5 Pro";
			font-weight: 900;
			line-height: 1;
			color: $basic;
		}
	}
	&.cart {
		min-width: auto;
		margin: 0;
		background: linear-gradient(to bottom, rgba(247,221,158,1) 0%,rgba(232,178,65,1) 86%,rgba(227,163,32,1) 100%);
		border: 1px solid #914900;
		@include radius;
		color: $basic;
		cursor: pointer;
		@media (max-width: 359px) {
			& span {
				display: none;
			}
		}
	}
	&.edit {
		display: inline-block;
		width: auto;
		min-width: auto;
		height: auto;
		margin: 0;
		padding: 8px;
		font-size: 12px;
		color: $blue;
		background-color: $white;
		border: 1px solid $blue;
		@include radius;
		cursor: pointer;
	}
	&.post {
		display: inline-block;
		width: auto;
		min-width: auto;
		height: auto;
		margin: 10px 10px 0;
		padding: 8px;
		@include radius;
		background-color: $blue;
	}
	&.search {
		position: absolute;
		top: 0;
		right: 0;
		z-index: 100;
		@include flex__center;
		width: 50px;
		min-width: auto;
		height: 50px;
		margin: 0;
		padding: 0;
		border-radius: 0;
		border: 1px solid $border;
		background-color: $lightgray;
		font-size: 14px;
		color: $basic;
	}
	&.password {
		@include flex__center;
		width: 40px;
		min-width: auto;
		height: 50px;
		margin: 0;
		border-radius: 0 3px 3px 0;
		border: solid 1px $border;
		border-left: none;
		background-color: $lightgray;
		&::before {
			content: "\f06e";
			line-height: 1;
			font-family: "Font Awesome 5 Pro";
			font-weight: 900;
			font-size: 14px;
			line-height: 1;
			color: $gray;
		}
	}
}

/*================================================
 *  table
 ================================================*/
.table__basic {
	width: 100%;
	margin-top: 5px;
	border-collapse: separate;
	border-spacing: 0;
	border: none;
	&:first-child {
		margin-top: 0;
	}
	& > tbody {
		width: 100%;
		& tr {
			width: 100%;
		& > th {
			padding: 15px;
			border-top: solid 1px $border;
			border-left: solid 1px $border;
			text-align: left;
			vertical-align: middle;
			background-color: $bg-gray;
			&:last-child {
				border-right: solid 1px $border;
			}
		}
		& > td {
			padding: 15px;
			border-top: solid 1px $border;
			border-left: solid 1px $border;
			vertical-align: middle;
			&:last-child {
				border-right: solid 1px $border;
			}
		}
		&:last-child > th {
			border-bottom: solid 1px $border;
		}
		&:last-child > td {
			border-bottom: solid 1px $border;
		}
		}
	}
}

.table__basic-column {
	width: 100%;
	margin-top: 5px;
	border-collapse: separate;
	border-spacing: 0;
	border: none;
	&:first-child {
		margin-top: 0;
	}
	& > tbody {
		width: 100%;
		& tr {
			width: 100%;
		& > th {
			padding: 15px;
			border-top: solid 1px $border;
			border-left: solid 1px $border;
			text-align: left;
			vertical-align: middle;
			background-color: $bg-gray;
			&:last-child {
				border-right: solid 1px $border;
			}
		}
		& > td {
			padding: 15px;
			border-top: solid 1px $border;
			border-left: solid 1px $border;
			vertical-align: middle;
			&:last-child {
				border-right: solid 1px $border;
			}
		}
		&:last-child > th {
			border-bottom: solid 1px $border;
		}
		&:last-child > td {
			border-bottom: solid 1px $border;
		}
		}
	}
}

.table__line {
	width: 100%;
	margin-top: 5px;
	border-collapse: separate;
	border-spacing: 0;
	border: none;
	&:first-child {
		margin-top: 0;
	}
	& > tbody {
		width: 100%;
		& tr {
			width: 100%;
			background-image: url("../image/base/table-line.png");
			background-position: bottom;
			background-repeat: repeat-x;
			&:last-child {
				background-image: none;
			}
		& > th {
			width: 150px;
			padding: 15px 15px;
			font-weight: bold;
			text-align: left;
			vertical-align: middle;
		}
		& > td {
			width: calc(100% - 150px);
			padding: 15px 15px;
			vertical-align: middle;
		}
			&:first-child > th,
			&:first-child > td {
				padding-top: 0;
			}
			&:last-child > th,
			&:last-child > td {
				padding-bottom: 0;
			}
		}
	}
}
