<template>
    <div class="content__wrapper">
        <div class="content__area">
            <h2 class="headline">購入履歴</h2>
            <div class="loader__wrapper" v-if="Loader">
					<div class="boxes">
						<div class="box">
							<div></div>
							<div></div>
							<div></div>
							<div></div>
						</div>
						<div class="box">
							<div></div>
							<div></div>
							<div></div>
							<div></div>
						</div>
						<div class="box">
							<div></div>
							<div></div>
							<div></div>
							<div></div>
						</div>
						<div class="box">
							<div></div>
							<div></div>
							<div></div>
							<div></div>
						</div>
					</div>
				</div>
            <div class="article__area" v-else>
                <div class="history__warper" v-if="purchase_array.length > 0 && Object.keys($store.state.config).length > 0">
                    <ul class="history__list">
                        <li v-for="(item, index) in purchase_array" :key="index" :data-index="index">
                            <dl class="dl__history headitem">
                                <div>
                                    <dt>
                                        <span class="history__head-ordernumber">注文番号</span>
                                    </dt>
                                    <dd>{{ item.order_id }}</dd>
                                </div>
                                <div>
                                    <dt>
                                        <span class="history__head-date">購入日</span>
                                    </dt>
                                    <dd>{{ item.application_date }}</dd>
                                </div>
                            </dl>
                            <dl class="dl__history headitem">
                                <div>
                                    <dt>
                                        <span class="history__head-ordernumber">送付先</span>
                                    </dt>
                                    <dd>{{ item.post }} {{ $store.state.config.pref[item.pref] }}{{ item.city }}{{ item.addr }}{{ item.building }}</dd>
                                </div>
                                <div>
                                    <dt>
                                        <span class="history__head-ordernumber">支払方法</span>
                                    </dt>
                                    <dd>{{ $store.state.config.payment[item.payment] }}</dd>
                                </div>
                            </dl>
                            <dl class="dl__history headitem">
                                <div>
                                    <dt>
                                        <span class=""></span>
                                    </dt>
                                    <dd></dd>
                                </div>
                                <div>
                                    <dt>
                                        <span class="history__head-ordernumber">総金額</span>
                                    </dt>
                                    <dd>
                                        ¥{{  Number(item.total).toLocaleString() }}
                                    </dd>
                                </div>
                            </dl>
                            <ul class="history__list-item">
                                 <li v-for="(item_detail, index) in purchase_array_detail.filter(e => e.order_id == item.order_id)" :key="index" :data-index="index">
                                    <div class="history__box">
                                        <img :src="item_detail.file_url != null ? $store.state.manage_url + item_detail.file_url : '/image/product/noimage.png'" alt="" />
                                    </div>
                                    <div class="history__box-area">
                                        <div class="history__neme">
                                            {{ item_detail.post_title }}
                                        </div>
                                        <dl class="dl__history">
                                            <div>
                                                <dt>数量</dt>
                                                <dd>
                                                    <span class="history__number">
                                                        {{item_detail.quantity}}
                                                    </span>
                                                </dd>
                                            </div>
                                            <div>
                                                <dt>単価</dt>
                                                <dd>
                                                    ¥<span class="history__subtotal">
                                                        {{ Number(item_detail.unit_price).toLocaleString() }}
                                                    </span>
                                                </dd>
                                            </div>
                                        </dl>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="history__warper" v-else>
                    購入履歴はありません。
                </div>
            </div>
            <!--content-box__warper-history end-->
            <div class="pager__wrapper">
                <ul class="pager__prev">
                    <li v-if="current_page > 1" class="pager__first"><a @click="change(1)">最初</a></li>
                    <li v-if="current_page > 1" class="pager__back"><a @click="change(current_page - 1)">前</a></li>
                </ul>
                <ul class="pager__num">
                    <li v-for="page in pages" :key="page" :class="{active: page === current_page}">
                        <a @click="change(page)">{{page}}</a>
                    </li>
                </ul>
                <ul class="pager__next">
                    <li v-if="current_page < last_page" class="pager__after"><a @click="change(current_page + 1)">次</a></li>
                    <li v-if="current_page < last_page" class="pager__last"><a @click="change(last_page)">最後</a></li>
                </ul>
            </div>
        </div>
        <!--inner end-->
    </div>
</template>
<script>
export default {
    data: function() {
        return {
            purchase_array: [],
            purchase_array_detail:[],
            Loader: false,
            current_page: 1,
            last_page: 1,
            total: 1,
            from: 0,
            to: 0
        };
    },
    created() {
        this.getPurchase(1);
    },
    methods: {
        getPurchase: function(page) {
            var self = this;
            // this.Loader = true;
            this.$store.commit('start_process');
            var promise = new Promise((resolve, reject) => {
                axios.post(`/axios/getproducthistory?page=${page}`).then(res => {
                    self.purchase_array = res.data.history.data;
                    self.purchase_array_detail = res.data.history_detail;
                    self.current_page = res.data.history.current_page;
                    self.last_page = res.data.history.last_page;
                    self.total = res.data.history.total;
                    self.from = res.data.history.from;
                    self.to = res.data.history.to;
                    self.Loader = false;
                    resolve();
                }).catch(error => {
                    this.Loader = false;
                });
            }).then(() => {
                this.$store.commit('end_process');
            });
        },
        change: function(page) {
            if (page >= 1 && page <= this.last_page) this.getPurchase(page);
        },
    },
    computed: {
        pages: function() {
            let start = _.max([this.current_page - 2, 1]);
            let end = _.min([start + 5, this.last_page + 1]);
            start = _.max([end - 5, 1]);
            return _.range(start, end);
        }
    }
};
</script>
