<template>
    <div class="content__area">
        <h2 class="headline">ご購入手続き - お客様情報</h2>
        <div class="article__area">
            <div class="step__warper">
                <div class="step__area">
                    <picture>
                        <source srcset="/image/cart/step1.png,
                                        /image/cart/step1_2x.png 2x">
                        <img src="/image/cart/step1.png" alt="STEP2">
                    </picture>
                </div>
            </div>
            <div class="content-box__warper-order">
                <p>各項目をご選択いただき、「送付先情報へ進む」ボタンをクリックしてください。</p>
                <div class="order-cart__warper">
                    <span class="sub__headline">お客様情報</span>
                    <ul class="order-cart__address-list">
                        <li>
                            <div class="order-cart__box-warper-address">
                                <dl class="dl__cart">
                                    <div>
                                        <dt class="required">氏名</dt>
                                        <dd>
                                            <div class="valid__area-wrap">
                                                <div class="valid-input">
                                                    <div class="direction">
                                                        <div class="balloon2" v-if="$parent.GuestErrorFlag.first_name">
                                                            <p>{{ $parent.GuestErrorMessage.first_name }}</p>
                                                        </div>
                                                        <input type="text" id="first_name" v-model="$parent.member_info.first_name" @blur="checkValidate($event, $parent.member_info.first_name)" @focus="resetValidate($event, $parent.member_info.first_name)" autocomplete="off" placeholder="姓">
                                                    </div>
                                                </div>
                                                <div class="valid-input">
                                                    <div class="direction">
                                                        <div class="balloon2" v-if="$parent.GuestErrorFlag.last_name">
                                                            <p>{{ $parent.GuestErrorMessage.last_name }}</p>
                                                        </div>
                                                        <input type="text" id="last_name" v-model="$parent.member_info.last_name" @blur="checkValidate($event, $parent.member_info.last_name)" @focus="resetValidate($event, $parent.member_info.last_name)" autocomplete="off" placeholder="名">
                                                    </div>
                                                </div>
                                            </div>
                                        </dd>
                                    </div>
                                    <div>
                                        <dt class="required">氏名カナ</dt>
                                        <dd>
                                            <div class="valid__area-wrap">
                                                <div class="valid-input">
                                                    <div class="direction">
                                                        <div class="balloon2" v-if="$parent.GuestErrorFlag.first_kana_name">
                                                            <p>{{ $parent.GuestErrorMessage.first_kana_name }}</p>
                                                        </div>
                                                        <input type="text" id="first_kana_name" v-model="$parent.member_info.first_kana_name" @blur="checkValidate($event, $parent.member_info.first_kana_name)" @focus="resetValidate($event, $parent.member_info.first_kana_name)" autocomplete="off" placeholder="姓(カタカナ)">
                                                    </div>
                                                </div>
                                                <div class="valid-input">
                                                    <div class="direction">
                                                        <div class="balloon2" v-if="$parent.GuestErrorFlag.last_kana_name">
                                                            <p>{{ $parent.GuestErrorMessage.last_kana_name }}</p>
                                                        </div>
                                                        <input type="text" id="last_kana_name" v-model="$parent.member_info.last_kana_name" @blur="checkValidate($event, $parent.member_info.last_kana_name)" @focus="resetValidate($event, $parent.member_info.last_kana_name)" autocomplete="off" placeholder="名(カタカナ)">
                                                    </div>
                                                </div>
                                            </div>
                                        </dd>
                                    </div>
                                    <div>
                                        <dt>会社名</dt>
                                        <dd>
                                            <input type="text" id="company_name" v-model="$parent.member_info.company_name" autocomplete="off">
                                        </dd>
                                    </div>
                                    <div>
                                        <dt class="required">
                                            住所
                                        </dt>
                                        <dd>
                                            <div class="valid__area">
                                                <div class="direction">
                                                    <div class="balloon2" v-if="$parent.GuestErrorFlag.post">
                                                        <p>{{ $parent.GuestErrorMessage.post }}</p>
                                                    </div>
                                                    <div>
                                                        <span>〒</span><input type="tel" id="post" v-model="$parent.member_info.post" @blur="checkValidate($event, $parent.member_info.post)" @focus="resetValidate($event, $parent.member_info.post)" autocomplete="off" placeholder="000-0000" maxlength="8">
                                                        <a href='https://www.post.japanpost.jp/zipcode/index.html' target="_blank">
                                                            <span class="btn post">郵便番号がわからない方はこちら</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="valid__area">
                                                <select v-model="$parent.member_info.pref">
                                                    <option v-for="(value, index) in $store.state.config.pref" v-bind:value="index" v-bind:key="index">
                                                        {{ value }}
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="valid__area">
                                                <div class="direction">
                                                    <div class="balloon2" v-if="$parent.GuestErrorFlag.city">
                                                        <p>{{ $parent.GuestErrorMessage.city }}</p>
                                                    </div>
                                                    <input type="text" id="city" v-model="$parent.member_info.city" @blur="checkValidate($event, $parent.member_info.city)" @focus="resetValidate($event, $parent.member_info.city)" autocomplete="off" placeholder="市区町村">
                                                </div>
                                            </div>
                                            <div class="valid__area">
                                                <div class="direction">
                                                    <div class="balloon2" v-if="$parent.GuestErrorFlag.addr">
                                                        <p>{{ $parent.GuestErrorMessage.addr }}</p>
                                                    </div>
                                                    <input type="text" id="addr" v-model="$parent.member_info.addr" @blur="checkValidate($event, $parent.member_info.addr)" @focus="resetValidate($event, $parent.member_info.addr)" autocomplete="off" placeholder="番地">
                                                </div>
                                            </div>
                                            <div class="valid__area">
                                                <input type="text" v-model="$parent.member_info.building" placeholder="建物名">
                                                <ul class="list__asterisk">
                                                    <li>様方を利用する際は、住所の末尾にお名前と様方をご入力ください<br>例：中瀬2-6 山田 太郎 様方</li>
                                                </ul>
                                            </div>
                                        </dd>
                                    </div>
                                    <div>
                                        <dt class="required">メールアドレス</dt>
                                        <dd>
                                            <div class="direction">
                                                <div class="balloon2" v-if="$parent.GuestErrorFlag.mail">
                                                    <p>{{ $parent.GuestErrorMessage.mail }}</p>
                                                </div>
                                                <input type="email" id="mail" v-model="$parent.member_info.mail" @blur="checkValidate($event, $parent.member_info.mail)" @focus="resetValidate($event, $parent.member_info.mail)" autocomplete="off" placeholder="example@example.com">
                                            </div>
                                        </dd>
                                    </div>
                                    <div>
                                        <dt class="required">電話番号</dt>
                                        <dd>
                                            <div class="direction">
                                                <div class="balloon2" v-if="$parent.GuestErrorFlag.phone">
                                                    <p>{{ $parent.GuestErrorMessage.phone }}</p>
                                                </div>
                                                <input type="tel" id="phone" v-model="$parent.member_info.phone" @blur="checkValidate($event, $parent.member_info.phone)" @focus="resetValidate($event, $parent.member_info.phone)" autocomplete="off" placeholder="数字のみ" maxlength="20">
                                            </div>
                                        </dd>
                                    </div>
                                </dl>
                            </div><!--order-cart__box-warper-address end-->
                        </li>
                    </ul>
                </div><!--order-cart__warper end-->
            </div><!--content-box__warper-order end-->
            <div class="btn__wrapper">
                <!-- <span class="btn" @click="$emit('slide', 'Payment')">戻る</span> -->
                <span class="btn next" @click="NextSlide">送付先情報へ進む</span>
            </div>
        </div><!--article__area end-->
    </div>
</template>

<script>

    export default {
		data: function () {
			return {
			}
        },
        created() {
        },
        methods:{
            checkValidate: function (event, value) {
                var target = event.target.id;
                this.Validation(target, value);
            },
            resetValidate: function (event, value) {
                var target = event.target.id;
                this.$parent.GuestErrorFlag[target] = false;
                this.$parent.GuestErrorMessage[target] = '';
            },
            Validation: function (target, value) {
                var GuestcheckArray = this.$parent.GuestcheckArray[target];
                for (var i in GuestcheckArray) {
                    if (GuestcheckArray[i].match(/:/)) {
                        var split = GuestcheckArray[i].split(':');
                        GuestcheckArray[i] = split[0];
                        var count = split[1];
                    }
                    switch (GuestcheckArray[i]) {
                        case 'Require':
                            if (!this.checkRequire(value)) {
                                this.$parent.GuestErrorFlag[target] = true;
                                this.$parent.GuestErrorMessage[target] = this.validate_message[GuestcheckArray[i]];
                                return false;
                            }
                            break;
                        case 'RequireOnce':
                            break;
                        case 'Katakana':
                            if (!this.checkKatakana(value)) {
                                this.$parent.GuestErrorFlag[target] = true;
                                this.$parent.GuestErrorMessage[target] = this.validate_message[GuestcheckArray[i]];
                                return false;
                            }
                            break;
                        case 'Num':
                            if (!this.checkNum(value)) {
                                this.$parent.GuestErrorFlag[target] = true;
                                this.$parent.GuestErrorMessage[target] = this.validate_message[GuestcheckArray[i]];
                                return false;
                            }
                            break;
                        case 'NumDash':
                            if (!this.checkNumDash(value)) {
                                this.$parent.GuestErrorFlag[target] = true;
                                this.$parent.GuestErrorMessage[target] = this.validate_message[GuestcheckArray[i]];
                                return false;
                            }
                            break;
                        case 'NumAlpha':
                            if (!this.checkNumAlpha(value)) {
                                this.$parent.GuestErrorFlag[target] = true;
                                this.$parent.GuestErrorMessage[target] = this.validate_message[GuestcheckArray[i]];
                                return false;
                            }
                            break;
                        case 'Mail':
                            if (!this.checkMail(value)) {
                                this.$parent.GuestErrorFlag[target] = true;
                                this.$parent.GuestErrorMessage[target] = this.validate_message[GuestcheckArray[i]];
                                return false;
                            }
                            break;
                        case 'Post':
                            if (!this.checkPost(value)) {
                                this.$parent.GuestErrorFlag[target] = true;
                                this.$parent.GuestErrorMessage[target] = this.validate_message[GuestcheckArray[i]];
                                return false;
                            }
                            if (!this.$parent.GuestPostFlag) {
                                this.$parent.GuestErrorFlag[target] = true;
                                this.$parent.GuestErrorMessage[target] = '存在しない郵便番号です';
                                return false;
                            }
                            break;
                        case 'LengthOver':
                            if (value.length < count) {
                                this.$parent.GuestErrorFlag[target] = true;
                                this.$parent.GuestErrorMessage[target] = this.validate_message[GuestcheckArray[i]].replace(':value:', count);
                                return false;
                            }
                            break;
                        case 'Length':
                            if (value.length > count) {
                                this.$parent.GuestErrorFlag[target] = true;
                                this.$parent.GuestErrorMessage[target] = this.validate_message[GuestcheckArray[i]].replace(':value:', count);
                                return false;
                            }
                            break;
                    }
                }

            },
            NextSlide: function () {
                var promise = new Promise((resolve, reject) => {
                    for (var i in this.$parent.member_info) {
                        this.Validation(i, this.$parent.member_info[i]);
                    }
                    resolve();
                });
                promise.then(() => {
                    for (var i in this.$parent.GuestErrorFlag) {
                        if (this.$parent.GuestErrorFlag[i]) throw new Error('入力内容に誤りがあります');
                    }
                    this.$emit('slide', 'Info');
                }).catch((error) => {
                    this.$store.state.error_message = error;
                });
            },
        },
        watch: {
            '$parent.member_info.post': function(n, o) {
                if (n == null || o == null) return false;
                let self = this;
                var promise = new Promise((resolve, reject) => {
                    this.$parent.member_info.post = this.FormatPost(n, o);
                    resolve();
                });
                promise.then(() => {
                    if (n.length === 8) {
                        new YubinBango.Core(n, function(addr) {
                            if (addr.region_id === '') {
                                self.$parent.member_info.pref = 1;
                                self.$parent.member_info.city = '';
                                self.$parent.member_info.addr = '';
                                self.$parent.GuestPostFlag = false;
                            } else {
                                self.$parent.member_info.pref = addr.region_id;
                                self.$parent.member_info.city = addr.locality;
                                self.$parent.member_info.addr = addr.street;
                                self.$parent.GuestPostFlag = true;
                                self.$parent.GuestErrorFlag['city'] = false;
                                self.$parent.GuestErrorMessage['city'] = '';
                                self.$parent.GuestErrorFlag['addr'] = false;
                                self.$parent.GuestErrorMessage['addr'] = '';
                            }
                        })
                    }
                });
            },
        },
    }
</script>
