<template>
	<div class="content__area">
		<h2 class="headline">ご購入手続き - お支払方法</h2>
		<div class="article__area">
			<div class="step__warper">
				<div class="step__area">
					<picture>
						<source srcset="/image/cart/step2.png,
										/image/cart/step2_2x.png 2x">
						<img src="/image/cart/step2.png" alt="STEP1">
					</picture>
				</div>
			</div>
			<div class="content-box__warper-order">
				<div class="order-cart__warper">
					<div class="sub__headline">お支払方法</div>
					<div class="order-cart__box-warper-card">
						<div class="order-cart__box-warper-payment">
							<ul>
								<li>
									<div class="payment__box-select">
										<ul class="list-box__column">
											<li><input type="radio" :class="$parent.PaymentRadio == 1 ? 'active' : ''" value="1" id="payment_credit" checked @click="$parent.PaymentRadio = 1"><label for="payment_credit"><span class="element__weight">クレジットカード</span></label></li>
										</ul>
									</div>
									<template v-if="$parent.PaymentRadio == 1">
										<template v-if="$store.state.auth">
                                            <template v-if="Object.keys($parent.member_card).length > 0">
                                                <div class="order-cart__box-warper-area">
                                                    <div class="header-line__wrapper-card">
                                                        <div class="header-line__card-select">カード番号</div>
                                                        <div class="header-line__card-date">有効期限</div>
                                                    </div>
                                                    <div class="card__wrapper">
                                                        <div class="card__box-select"><span>カード番号</span>下４桁&nbsp;&nbsp;{{ $parent.member_card.credit_number }}</div>
                                                        <div class="card__box-date"><span>有効期限</span>20{{ $parent.member_card.credit_expire_year }}/{{ $parent.member_card.credit_expire_month }}</div>
                                                    </div>
                                                </div>
                                            </template>
										</template>
                                    </template>
                                    <template v-if="!$parent.creditRegisterFlag">
                                        <div class="payment__box-item">
                                            <div class="payment__box-item-title">以下のクレジットカードがご利用いただけます</div>
                                            <div class="payment__box-item-info">
                                                <picture>
                                                    <source srcset="/image/cart/card-list.png,
                                                                    /image/cart/card-list_2x.png 2x">
                                                    <img src="/image/cart/card-list.png" alt="Credit">
                                                </picture>
                                            </div>
                                        </div>
                                        <div class="card__wrapper-add">
                                            <p class="element__color-red">カード情報を入力してください。</p>
                                            <div class="card__add-box">
                                                <form id="nonce-form">
                                                    <div class="sq-field">
                                                        <label class="sq-label">カード番号</label>
                                                        <div id="sq-card-number"></div>
                                                    </div>
                                                    <div class="sq-field-wrapper">
                                                        <div class="sq-field sq-field--in-wrapper">
                                                            <label class="sq-label">セキュリティコード(CVV)</label>
                                                            <div id="sq-cvv"></div>
                                                        </div>
                                                        <div class="sq-field sq-field--in-wrapper">
                                                            <label class="sq-label">有効期限（月/年）</label>
                                                            <div id="sq-expiration-date"></div>
                                                        </div>
                                                    </div>
                                                    <div class="sq-field">
                                                        <div class="btn__wrapper"><span class="btn next" @click="requestCardNonce()">確認</span></div>
                                                    </div>
                                                    <input type="hidden" id="card-nonce" name="nonce">
                                                    <input type="hidden" id="errors" name="errors">
                                                </form>
                                            </div>
                                        </div>
                                    </template>
								</li>
								<li>
									<div class="payment__box-select">
										<ul class="list-box__column">
											<li><input type="radio" :class="$parent.PaymentRadio == 2 ? 'active' : ''" value="2" id="payment_shipment" @click="$parent.PaymentRadio = 2"><label for="payment_shipment"><span class="element__weight">代金引換便</span></label></li>
										</ul>
									</div>
									<div class="payment__box-item">
										<div class="payment__box-item-title">国内配送のみ。商品代金以外に代引手数料が別途必要です。</div>
										<div class="payment__box-item-info"></div>
									</div>
								</li>
								<!-- <li>
									<div class="payment__box-select">
										<ul class="list-box__column">
											<li><input type="radio" name="example" value="選択肢1" id="radio-sample113"><label for="radio-sample113"><span class="element__weight">コンビニ決済</span></label></li>
										</ul>
									</div>
									<div class="payment__box-item">
										<div class="payment__box-item-title">最寄りのコンビニで24時間いつでもお支払いただけます。</div>
										<div class="payment__box-item-info"></div>
									</div>
								</li> -->
							</ul>
						</div><!--order-cart__box-warper-payment end-->
					</div><!--order-cart__box-warper-card end-->
				</div><!--order-cart__warper end-->
			</div><!--content-box__warper-order end-->
			<div class="btn__wrapper"><span class="btn next" @click="NextSlide">確認画面へ進む</span></div>
		</div><!--article__area end-->
	</div><!--content__area end-->
</template>
<script>

    export default {
		data: function () {
			return {
			}
        },
        mounted(){
            if (!this.$parent.creditRegisterFlag) {
                let self = this;
                let applicationId = this.VUE_APP_SQ_APPLICATION_ID;
                let locationId = this.VUE_APP_SQ_LOCATION_ID;
                this.$parent.paymentForm = new SqPaymentForm({
                    autoBuild: false,
                    applicationId: applicationId,
                    locationId: locationId,
                    inputClass: "sq-input",
                    inputStyles: [
                        {
                            backgroundColor: '#ffffff',
                            color: '#333333',
                            fontFamily: '"Helvetica Neue", "Helvetica", sans-serif',
                            fontSize: '16px',
                            fontWeight: '400',
                            placeholderColor: '#8594A7',
                            placeholderFontWeight: '400',
                            padding: '16px',
                            _webkitFontSmoothing: 'antialiased',
                            _mozOsxFontSmoothing: 'grayscale'
                        }
                    ],
                    // Initialize Google Pay button ID
                    googlePay: {
                        elementId: 'sq-google-pay'
                    },
                    // Initialize Apple Pay placeholder ID
                    applePay: {
                        elementId: 'sq-apple-pay'
                    },
                    // Initialize Masterpass placeholder ID
                    masterpass: {
                        elementId: 'sq-masterpass'
                    },
                    // Initialize the credit card placeholders
                    cardNumber: {
                        elementId: 'sq-card-number',
                        placeholder: '•••• •••• •••• ••••',
                    },
                    cvv: {
                        elementId: 'sq-cvv',
                        placeholder: 'CVV'
                    },
                    expirationDate: {
                        elementId: 'sq-expiration-date',
                        placeholder: 'MM/YY',
                    },
                    postalCode: false,
                    // SqPaymentForm callback functions
                    callbacks: {
                        methodsSupported: function(methods) {
                        },
                        createPaymentRequest: function() {
                            var paymentRequestJson;
                            return paymentRequestJson;
                        },
                        validateShippingContact: function(contact) {
                            var validationErrorObj;
                            return validationErrorObj;
                        },
                        cardNonceResponseReceived: function(errors, nonce, cardData) {
                            if (errors) {
                                for (var i in errors) {
                                    var count = 0;
                                    switch (errors[i].field) {
                                        case 'cardNumber':
                                            self.$store.state.error_message = 'カード番号の入力に誤りがあります';
                                            ++count;
                                            break;
                                        case 'cvv':
                                            self.$store.state.error_message = 'CVVの入力に誤りがあります';
                                            ++count;
                                            break;
                                        case 'expirationDate':
                                            self.$store.state.error_message = '有効期限の入力に誤りがあります';
                                            ++count;
                                            break;
                                    }
                                    if (count > 0) break;
                                    // self.errors.push(error.message);
                                }
                                return;
                            }
                            self.$parent.creditData.token = nonce;
                            self.$parent.creditData.credit_number = cardData.last_4;
                            self.$parent.creditData.exp_year = cardData.exp_year;
                            self.$parent.creditData.exp_month = cardData.exp_month;
                            self.$store.state.success_message = 'カードの確認に成功しました！';
                        },
                        paymentFormLoaded: function() {
                        }
                    }
                });
                this.$parent.paymentForm.build();
            }
        },
        methods:{
            checkValidate: function (event, value) {
                var target = event.target.id;
                this.Validation(target, value);
            },
            resetValidate: function (event, value) {
                var target = event.target.id;
                this.$parent.ErrorFlag[target] = false;
                this.$parent.ErrorMessage[target] = '';
            },
            Validation: function (target, value) {
                var checkArray = this.$parent.checkArray[target];
                for (var i in checkArray) {
                    if (checkArray[i].match(/:/)) {
                        var split = checkArray[i].split(':');
                        checkArray[i] = split[0];
                        var count = split[1];
                    }
                    switch (checkArray[i]) {
                        case 'Require':
                            if (!this.checkRequire(value)) {
                                this.$parent.ErrorFlag[target] = true;
                                this.$parent.ErrorMessage[target] = this.validate_message[checkArray[i]];
                                return false;
                            }
                            break;
                        case 'RequireOnce':
                            break;
                        case 'Katakana':
                            if (!this.checkKatakana(value)) {
                                this.$parent.ErrorFlag[target] = true;
                                this.$parent.ErrorMessage[target] = this.validate_message[checkArray[i]];
                                return false;
                            }
                            break;
                        case 'Num':
                            if (!this.checkNum(value)) {
                                this.$parent.ErrorFlag[target] = true;
                                this.$parent.ErrorMessage[target] = this.validate_message[checkArray[i]];
                                return false;
                            }
                            break;
                        case 'NumDash':
                            if (!this.checkNumDash(value)) {
                                this.$parent.ErrorFlag[target] = true;
                                this.$parent.ErrorMessage[target] = this.validate_message[checkArray[i]];
                                return false;
                            }
                            break;
                        case 'NumAlpha':
                            if (!this.checkNumAlpha(value)) {
                                this.$parent.ErrorFlag[target] = true;
                                this.$parent.ErrorMessage[target] = this.validate_message[checkArray[i]];
                                return false;
                            }
                            break;
                        case 'Mail':
                            if (!this.checkMail(value)) {
                                this.$parent.ErrorFlag[target] = true;
                                this.$parent.ErrorMessage[target] = this.validate_message[checkArray[i]];
                                return false;
                            }
                            break;
                        case 'Post':
                            if (!this.checkPost(value)) {
                                this.$parent.ErrorFlag[target] = true;
                                this.$parent.ErrorMessage[target] = this.validate_message[checkArray[i]];
                                return false;
                            }
                            if (!this.$parent.PostFlag) {
                                this.$parent.ErrorFlag[target] = true;
                                this.$parent.ErrorMessage[target] = '存在しない郵便番号です';
                                return false;
                            }
                            break;
                        case 'LengthOver':
                            if (value.length < count) {
                                this.$parent.ErrorFlag[target] = true;
                                this.$parent.ErrorMessage[target] = this.validate_message[checkArray[i]].replace(':value:', count);
                                return false;
                            }
                            break;
                        case 'Length':
                            if (value.length > count) {
                                this.$parent.ErrorFlag[target] = true;
                                this.$parent.ErrorMessage[target] = this.validate_message[checkArray[i]].replace(':value:', count);
                                return false;
                            }
                            break;
                    }
                }

            },
            NextSlide: function () {
                var promise = new Promise((resolve, reject) => {
                    if (this.$parent.PaymentRadio == 1) {
                        if (this.$parent.creditData.token == '' && !this.$parent.creditRegisterFlag) {
                            throw new Error('カードの確認ができていません');
                        }
                    }
                    resolve();
                });
                promise.then(() => {
                    this.$emit('slide', 'Confirm');
                }).catch((error) => {
                    this.$store.state.error_message = error;
                });
                this.$parent.ReCreditFlag = true;
            },
            requestCardNonce: function(event) {
                // Don't submit the form until SqPaymentForm returns with a nonce
                var csrf = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
                var input = document.createElement('input');
                input.setAttribute('type', 'hidden');
                input.setAttribute('name', '_token');
                input.setAttribute('value', csrf);
                document.getElementById('nonce-form').appendChild(input);
                // Request a nonce from the SqPaymentForm object
                this.$parent.paymentForm.requestCardNonce();
            }
        },
        watch: {
        },
    }
</script>
