<template>
    <div class="content__wrapper">
        <div class="content__area">
            <h2 class="headline">パスワードを忘れた方</h2>
            <div class="article__area">
                <p>登録時のメールアドレスを入力して下さい。</p>
                <dl class="dl__line dotted">
                    <div>
                        <dt class="required">メールアドレス</dt>
                        <dd>
                            <input
                                id="mail"
                                type="email"
                                name="mail"
                                v-model="email"
                                placeholder="example@example.com"
                                style="max-width: 100% !important;"
                            />
                        </dd>
                    </div>
                </dl>
                <div class="btn__wrapper">
                    <button v-on:click="forget()" class="btn next">
                        パスワードを再設定する
                    </button>
                </div>
            </div><!--article__area end-->
        </div><!--content__area end-->
    </div><!--content__wrapper end-->
</template>
<script>
export default {
    data: function() {
        return {
            email: ""
        };
    },
    // jQueryでいうfunction()と同様の処理
    methods: {
        forget() {
            var self = this;
             console.log(self.email);
            // API処理
            axios
                .post("/axios/forget", {'register': self.email})
                .then(res => {
                    self.$store.state.success_message ="メールを送信しました。";

                })
                .catch(error => {
                });
        }
    },
    // DOMが作成されていない
    created: function() {},
    // DOMが作成された直後
    mounted: function() {}
};
</script>
