<template>
    <div class="content__wrapper">
        <div class="loader__wrapper" v-if="RegisterLoader">
            <div class="boxes">
                <div class="box">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div class="box">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div class="box">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div class="box">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
        <transition :name="animation">
            <keep-alive>
                <component v-bind:is="currentTabComponent" @slide="SlideOrder" v-if="!RegisterLoader"></component>
            </keep-alive>
        </transition>
    </div><!--content__wrapper end-->
</template>
<script>
	import Info from './RegisterChildren/Info.vue';
	import Terms from './RegisterChildren/Terms.vue';
	import Confirm from './RegisterChildren/Confirm.vue';
    import Complete from './RegisterChildren/Complete.vue';

    import { request, checkArray } from '../js/member/register';

    export default {
		data: function () {
			return {
                currentTab: Terms,
                mode_array: [
                    'Terms',
                    'Info',
                    'Confirm',
                    'Complete',
                ],
                animation: 'step-before',
                slideFlag : false,
                request: {...request},
                ErrorFlag: {...request},
                ErrorMessage: {...request},
                checkArray: {...checkArray},
                PostFlag: true,
                search: location.search,
                RegisterLoader: false,
                member_id: '',
			}
		},
		methods: {
            SlideOrder: function (v) {
                if (!this.slideFlag) return false;
                this.$store.commit('start_process');
                var from_search = this.mode_array.indexOf(this.currentTab);
                var to_search = this.mode_array.indexOf(v);
                var promise = new Promise((resolve, reject) => {
                    this.animation = from_search > to_search ? 'step-after' : 'step-before';
                    resolve(v);
                });
                promise.then((v) => {
                    window.scrollTo(0, 0);
                    this.currentTab = v;
                    this.$store.commit('end_process');
                });
            },
            FirstFunction: function () {
                var self = this;
                // ?以降がある+mailのqueryがあるか
                if (this.search === '' || this.search.match(/mail/) === null || this.search.match(/OrderLinkFlag/) === null) {
                    this.$store.state.error_message = 'メールアドレスが確認できません 3秒後に自動でTOPページへ遷移します';
                    // setTimeout(this.JumpTop, 3000);
                } else {
                    var search_split = decodeURIComponent(this.search).substr(1).split('&');
                    var mail_split = search_split[0].split('=');
                    var order_split = search_split[1].split('=');
                    var mail = mail_split[1];
                    this.$store.state.OrderLinkFlag = order_split[1] == 'true' ? true : false;
                    // mailの部分のバリデーションチェック
                    if (this.checkMail(mail)) {
                        this.request.mail = mail;
                        for (var i in this.ErrorFlag) {
                            this.ErrorFlag[i] = false;
                            this.ErrorMessage[i] = '';
                        }
                        axios.post('/axios/get/member_temporary', {column:this.request.mail}).then((res)=>{
                            if (res.data.count === 0) {
                                for (var i in self.request) {
                                    self.request[i] = res.data.member[i];
                                }
                            } else {
                                self.$store.state.success_message = 'すでに登録が完了しています 3秒後に自動でログインページへ遷移します';
                                if (this.$store.state.OrderLinkFlag) {
                                    setTimeout(self.JumpShoppingLogin, 3000);
                                } else {
                                    setTimeout(self.JumpLogin, 3000);
                                }
                            }
                        })
                    } else {
                        this.$store.state.error_message = 'メールアドレスが確認できません 3秒後に自動でTOPページへ遷移します';
                        setTimeout(this.JumpTop, 3000);
                    }
                };
                window.addEventListener("beforeunload", this.handler);
            },
            JumpTop: function () {
                location.href = '/';
            },
            JumpLogin: function() {
                location.href = '/login';
            },
            handler(event) {
                window.scrollTo(0, 0);
                axios.post('/axios/save/member_temporary', {register:this.request, session: this.$store.state.session})
                event.returnValue = 'ページを移動すると編集中のデータが失くなります';
            }
        },
        created: async function() {
            var self = this;
            this.$store.commit('start_process');
            try {
                let [res1] = await Promise.all([
                    this.FirstFunction()
                ]).then(() => {
                    this.slideFlag = true;
                    this.$store.commit('end_process');
                })
            } catch {
                return;
            }
        },
        destroyed () {
            window.removeEventListener("beforeunload", this.handler)
        },
		computed: {
			currentTabComponent: function () {
				return this.currentTab;
            },
		},
		components: {
			Terms,
			Info,
			Confirm,
			Complete,
        }
    }

</script>
