@charset "utf-8";

div.cal_wrapper {
	background:#fff;
    margin-bottom: 1rem;
	padding:0 !important;
}
div.schedule_wrapper {
	padding: 10px 0px;
	width: 100%;
	border: solid 1px #CCC;
	border-radius: 5px;
	box-shadow: 1px 1px 3px #666;
	display:none;
}
div.schedule_wrapper h3 {
	padding: 0px 10px;
	font-weight: normal;
	margin: 0px;
	font-size: 12px;
	color: #666;
}
/*div.schedule_wrapper div.schedule_list {
	padding: 0px 10px;
	margin: 0px;
}
div.schedule_wrapper div.schedule_list ol {
	padding: 0px;
	margin: 5px auto;
	border-top: solid 1px #CCC;
}
div.schedule_wrapper div.schedule_list ol li {
	padding: 5px 10px 0px 0px;
	margin: 0px 0px 0px 30px;
	font-size: 12px;
	line-height: 1.5em;
}
div.schedule_wrapper div.schedule_list ol li:hover {
	text-decoration: underline;
}*/
div.cal_wrapper table.cal tr th p {
text-align: center;
    padding: 10px;
    margin: 0px;
    font-size: 20px !important;
	line-height:22px;
}

div.cal_wrapper table {
	width:98%;
	margin:1% auto;
	margin-bottom:1rem;
	
}

div#cal1.cal_wrapper {
	margin-bottom:0;
}

div.cal_wrapper table.cal tr th div.cal_ui {

}
div.cal_wrapper table.cal tr th div.cal_ui input {
	font-size: 1rem;
	margin: 0px 1px;
	padding: 1px 5px;
	border-radius: 3px;
	background:#fff;
	border:1px solid #fff;
}
div.cal_wrapper table.cal tr td {
	border-top: solid 1px #EEE;
}
div.cal_wrapper table.cal tr td {
	font-size: 10px;
	text-align: center;
	padding: 2px
}
div.cal_wrapper table.cal tr.headline td {
	padding: 5px 0px;
	font-size: 15px;
}
div.cal_wrapper table.cal tr.headline {
	background-color: #caebf2;
	}
div.cal_wrapper table.cal tr td div {
	position: relative;
    padding: 5px !important;
    font-size: 15px !important;
	text-align: center;
	background-color:#fefbf8;
	border-radius: 3px;
}
div.cal_wrapper table.cal tr td div span {
	display: none;
	position: absolute;
	top: 20px;
	left: 0px;
	width: 180px;
	background-color:#caebf2;
	text-align: left;
	padding: 5px;
	z-index: 10;
	color: #333;
	font-weight: normal;
	line-height: 1.5em;
	box-shadow: 1px 1px 3px #666;
	font-size:0.9vmax;
}

/* 以下、クラス指定するときのアレ */

div.cal_wrapper table.cal tr td div.Sat {
	color: #43b3f2;
}
div.cal_wrapper table.cal tr td div.Sun {
	color: #ff3b3f;
}
div.cal_wrapper table.cal tr td div.Today {
	font-weight: bolder;
}
div.cal_wrapper table.cal tr td div.Deli {
	background-color: #EFE;
}
div.cal_wrapper table.cal tr td div.Holyday {
	font-weight: bolder;
	color: #ff3b3f;
	background-color: #FEE;
}
div.cal_wrapper table.cal tr td div.Birthday {
	font-weight: bolder;
	background-color: #EEF;
	color: #090;
	border-radius: 3px;
}

div.cal_wrapper table.cal tr td div.backward {
	color: #d7d5d5;
	font-weight: normal;
	background-color:#fff;
	border-radius: 3px;
}
div.cal_wrapper table.cal tr td div.pointer {
	cursor: pointer;
}
div.cal_wrapper table.cal tr td div.pointer:hover {
	background-color: #EEE;
}



@media screen and (max-width:560px) {


div.cal_wrapper table.cal tr.headline td {
	font-size: 11px;
}


div.cal_wrapper table.cal tr td div {
	font-size: 11px;
}

}