@charset "utf-8";
* {
	box-sizing: border-box;
	font-size: 1.0vmax;
	/*letter-spacing:normal;*/
}


body {
	font-family: "YuGothic","Yu Gothic","Meiryo","Hiragino Kaku Gothic ProN","ヒラギノ角ゴ ProN W3","sans-serif";
    width: 100%;
    height: 100%;
    text-align: left;
	color:#333;
	position:relative;
}


/***********************************

共通

***********************************/

.area,
#header,
.header_lgray,
#footer,
#content,
#footer,
#footer .footer_link{
	overflow:hidden;
}


/*#header #nav ul {
	width:94%;
	max-width:1024px;
	text-align:center;
}*/


.area {
	max-width: 1024px;
	width:94%;
    margin: 4rem auto;
}

.paragraph {
	display:inline-block;
    font-weight:inherit !important;
	font-size:inherit !important;
}

.clear {
	clear:both;
}


/***********************************

見出し

***********************************/
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul li,
ol li {
	letter-spacing:normal;
}


h2 {
	font-size:2.4vmax;
}

h2.title {
	color:#545454;
	text-align: center;
	font-weight: 500;
	margin-bottom:2.5rem;
}

.second h2.title {
	margin-bottom:4.0rem;
	border-bottom:1px solid #545454;
	padding-bottom:4rem;
}

h3 {
	font-size:1.6vmax;
	font-weight: 500;	
}

h3.title {
	background:#caebf2;
	line-height:1.6vmax;
	margin-bottom:1.5rem;
	padding:0.7rem;
}

h4 {
	font-size:1.6vmax;
}

h4.title {
	color:#43b3f2;
	line-height:1.6vmax;
	margin-bottom:0.7rem;
	font-weight:bold;
}

h5 {
	font-size:1.2vmax;
}

h5.title {
	border-left:#43b3f2 4px solid;
	padding:0.2rem 0 0.2rem 1rem;
	line-height:1.6vmax;
	margin-bottom:0.5rem;
	font-weight:bold;
}


strong {
	color:#ff3b3f;
}

p {
	margin-bottom:0.5rem;
}

/***********************************

リンク

***********************************/

a {
	color:#333;
	text-decoration:none;
	/*transition: .5s;*/
	transition:0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	-ms-transition: 0.3s;	
}

a:hover {
	color:#333;
	text-decoration:none;	
}

a:visirted {
	color:#333;
	text-decoration:none;
}

a:active {
	color:#333;
	text-decoration:none;
}

a img:hover {
	filter: alpha(opacity=50);
	-moz-opacity: 0.50;
	opacity: 0.50;
	transition: 0.5s;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;	
}

a.link {
	position: relative;
	display: inline-block;
	padding-bottom:0.1rem;	
}

a.link:after {
	position: absolute;
	bottom: .2rem;
	left: 0;
	content: '';
	width: 100%;
	height: 1px;
	background-color:#333;
	opacity: 0;
	transition: .3s;
}

a.link:hover {
	transition: .3s;
}

a.link:hover:after {
	bottom: 0;
	opacity: 1;
}

p.more {
	text-align:right;
	
}

p.more a {
	position:relative;
	display:inline-block;
	padding-right:1rem;
}

p.more a:before {
	content:"";
	position:absolute;
	width:0.4rem;
	height:0.4rem;
	border-top: 3px solid #333;
    border-right: 3px solid #333;
    -webkit-transform: rotate(45deg) translate(-50%, -50%) translate(-50%, -50%);
    transform: rotate(45deg) translate(-50%, -50%);
	top:50%;
	right:1%;
		
}

/***********************************

box

***********************************/

.box1 {
	padding:1rem;
	border:1px solid #ff3b3f;
}

.box1 p:last-child,
.box2 p:last-child,
.box3 p:last-child,
.box4 p:last-child {
	margin-bottom:0;
}

.box2 {
	padding:2rem;
	background:#eff9fb;
}

.box3 {
	padding:2rem;
	border:1px solid #cbcbcb;
}


.box4 {
	padding:1rem;
	background:#ff3b3f;
	color:#fff;
}

/***********************************

table

***********************************/
.table,
.table th,
.table td{
	border:1px solid #cbcbcb;
}

.table th,
.table td {
	padding:0.5rem;
}

.table th {
	background: #caebf2;
}

/****************************

hr

*****************************/
hr.hr1 {
	border-bottom: 1px solid #929292;
    margin: 4rem 0;
}

hr.hr2 {
    border-bottom: 1px dashed #93e1f2;
    margin: 2rem 0;
}

hr.hr3 {
    margin: 1.5rem 0;
}

hr.hr4 {
    margin: 4rem 0;
}

hr.hr5 {
    margin: 1.0rem 0;
}

hr.hr6 {
    margin: 0.5rem 0;
}

/****************************

list

*****************************/
ul.list,
ol.list {

}

ul.list li,
ol.list li {
		margin-left:1.5rem;
	line-height:2.0rem;
}

ul.list li {
	list-style:disc;
}

ul.list li ul.list li {
	list-style:circle;
}

ul.list li ul.list li ul.list li {
	list-style:square;
}

ol.list li {
	list-style:decimal;
}


/****************************

dl

*****************************/

dl.inline {
	width:100%;
	letter-spacing:-.4em;
}

dl.inline dt,
dl.inline dd {
	padding:0.2rem 0;
	display:inline-block;
	letter-spacing:normal;
	margin-bottom:1rem;
	vertical-align:middle;
}

dl.inline dt {
	width:20%;
	border-right:#cbcbcb 1px solid;
}

dl.inline dd {
	width:80%;
	padding-left:1rem;
}

/***********************************

img

***********************************/
.left_img,
.right_img,
.company_img {
	width:30%;
	margin-bottom:5%;
	dispklay:block;
}

.left_img {
	float:left;
	margin-right:5%;
	
}

.right_img,
.company_img {
	float:right;
	margin-left:5%;	
}

/****************************

.btn

*****************************/

a.btn1,
a.btn2 {
	display:block;
}


a.btn1 {
	background:#ff3b3f;
	color:#fff;
	position:relative;
	border-radius:4px;
	text-align: center;
	padding:1rem;
}

a.btn1:after {
	content:"";
	position: absolute;
	width: 0;
height: 0;
border-style: solid;
border-width: 5px 0 5px 10px;
border-color: transparent transparent transparent #fff;
	top:50%;
	right:1%;
	   -webkit-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);	
	
}

a.btn1:hover {
	background:#ff9d9f;
}

a.btn2 {
	background:#ff9d9f;
	color:#fff;
	border-radius:4px;
	text-align: center;
	padding:0.8rem;
}

a.btn2:hover {
	background:#ffc5c6;
}

/***********************************

#横並び

***********************************/

ul.clm2,
ul.clm3,
ul.clm4,
ul.clm5 {
	letter-spacing:-.4em;
}

ul.clm2 li,
ul.clm3 li,
ul.clm4 li,
ul.clm5 li {
    display:inline-block;
	margin-top:4%;
	vertical-align:top;
	letter-spacing: normal;
}

ul.clm2 li img,
ul.clm3 li img,
ul.clm4 li img,
ul.clm5 li img {
	width:100%;
}

ul.clm2 li:nth-child(1),
ul.clm2 li:nth-child(2),
ul.clm3 li:nth-child(1),
ul.clm3 li:nth-child(2),
ul.clm3 li:nth-child(3),
ul.clm4 li:nth-child(1),
ul.clm4 li:nth-child(2),
ul.clm4 li:nth-child(3),
ul.clm4 li:nth-child(4),
ul.clm5 li:nth-child(1),
ul.clm5 li:nth-child(2),
ul.clm5 li:nth-child(3),
ul.clm5 li:nth-child(4),
ul.clm5 li:nth-child(5) {
	margin-top:0;
}

ul.clm2 li {
	width:48%;
	margin-right:4%
}


ul.clm3 li {
	width:30.6%;
	margin-right:4%	
}


ul.clm4 li {
	width:23.5%;
	margin-right:2%	
}

ul.clm5 li {
	width:18.6%;
	margin-right:2%		
}

ul.clm2 li:nth-child(even),
ul.clm3 li:nth-child(3n),
ul.clm4 li:nth-child(4n),
ul.clm6 li:nth-child(5n) {
	margin-right:0;
}


/***********************************

パンくずリスト

***********************************/



.breadcrumb__wrapper ul.breadcrumb__list,
.breadcrumb__wrapper ul.breadcrumb__list li,
.breadcrumb__wrapper ul.breadcrumb__list li a {
/*	height:2rem;
	line-height:2rem;*/
	
}

.breadcrumb__wrapper ul.breadcrumb__list {
	letter-spacing:-.4em;
	background:#caebf2;
	border-radius:4px; 
	margin-bottom:2rem;
	padding: 0.5rem 1rem;
	display: inline-block;
	width:100%;
}







.breadcrumb__wrapper ul.breadcrumb__list li,
.breadcrumb__wrapper ul.breadcrumb__list li a {
	font-size:1.0vmax;
	letter-spacing: normal;
}


.breadcrumb__wrapper ul.breadcrumb__list li {
	display:inline-block;
	vertical-align: middle;
	margin-left: 0.5rem;
    padding-right: 0.5rem;		
}




.breadcrumb__wrapper ul.breadcrumb__list li.breadcrumb-home {
	margin-left:0;
}

.breadcrumb__list>li.breadcrumb-home::before {
    content: "\f015";
    margin-right: 5px;
	font-family:"Font Awesome 5 Free";
    font-weight: 900;
    font-size: 16px;
    color: #333;
}

.breadcrumb__wrapper ul.breadcrumb__list li a {
	width:100%;
	position: relative;
	padding:0.5rem;
	padding-right:1.5rem;
	
}

.breadcrumb__wrapper ul.breadcrumb__list li a img {
	width:auto;
	height:100%;
	display: block;
}

.breadcrumb__wrapper ul.breadcrumb__list li a:after {
	content: "";
    position: absolute;
    width: 0.5rem;
    height: 0.5rem;
    border-top: 2px solid #fafafa;
    border-right: 2px solid #fafafa;
    -webkit-transform: rotate(45deg) translate(-50%, -50%) translate(-50%, -50%);
    transform: rotate(45deg) translate(-50%, -50%);
	top: 50%;
    right: 3%;
	
}

.breadcrumb__list>li::after {
    content: "" !important;
    margin: 0 !important;
    font-size:inherit;
}


/***********************************

#header

***********************************/

#header > .area {

}

#header #header_top,
.header_lgray > .area,
#header #nav ul,
#footer .footer_link .area {
	width:98%;
	max-width:98%;
	margin:1rem auto;	
}

#header {
	/*margin:2rem auto 1rem;*/
	margin:0 auto;
	letter-spacing:-.4em;
}

/*#header #header_top {
	width: 94%;
	max-width: 1024px;
	margin:1rem auto;
}*/

#header h1,
#header .header_menu {
	display:inline-block;
	vertical-align:middle;
	font-size: 1.0vmax;
	width:50%;
	letter-spacing:normal;
}




#header .header_menu {
	text-align:right;
}


#header .header_menu li {
	float:right;
	margin-left:2.0rem;
	position: relative;
	
}

#header .header_menu li:before,
#header .header_menu li:after {
	content:"";
	position: absolute;
}


/*#header .header_menu li:before {

   position:relative;
	width: 1rem;
    height: 1rem;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #93e1f2;
	top:50%;
	left:-0.8rem;
   -webkit-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);	
}

#header .header_menu li:after {
	content: "\f105";
    margin-right: 5px;
	font-family:"Font Awesome 5 Free";
    font-weight: 900;
    font-size: 20px;
    color: #93E1F2;
	position:absolute;
	top: 50%;
	left:0%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	padding-left:14px;
}*/

#header .header_menu li:before {
	width: 1rem;
    height: 1rem;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #93e1f2;
	top:50%;
	left:-0.8rem;
   -webkit-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);	
}

#header .header_menu li:after {
	content: "\f105";
    margin-right: 5px;
	font-family:"Font Awesome 5 Free";
    font-weight: 900;
    font-size: 12px;
    color: #fff;
    position: absolute;
    top: 50%;
    left: -0.8rem;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
 	}

/*#header .header_menu li:after {
    width: 4px;
    height: 4px;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    -webkit-transform: rotate(45deg)translate(-50%, -50%);
    transform: rotate(45deg) translate(-50%, -50%);
    top: 56%;
    left: -1rem;
 	}*/


#header .header_menu li a.link {
	position:relative;
}


#header .header_lgray {
	background:#efefef;
	padding:3rem 0 0;
	position: relative;		
}



#header .header_lgray .area {
	margin:0 auto;
	position: relative;	
}

#header .header_lgray .box4 {
	position: absolute;
    right: 0;
    top: 0;
    width: 26%;
	border-radius:4px;
	background: #FF3B3F;
    background-color: #FF3B3F;
    background-image: -webkit-gradient(linear, 0 0, 100% 100%,color-stop(.25, #ff585c), color-stop(.25, transparent),color-stop(.5, transparent), color-stop(.5, #ff585c),color-stop(.75, #ff585c), color-stop(.75, transparent),to(transparent));
    -webkit-background-size: 7px 7px;	
}

#header .header_lgray .box4 h3 {
	text-align:center;
	font-size:100%;
	margin-bottom:0.5rem;
}

#header .header_lgray .box4 a.btn1 {
	background:#fff;
	color:#ff3b3f;
	font-weight:bold;
	font-size:1.2vmax;
	padding:0.5rem 1rem;
}

#header .header_lgray .box4 a.btn1:hover {
	color:rgba(255,59,63,0.5);
}
 
#header .header_lgray .box4 a.btn1:after {
border-color: transparent transparent transparent #ff3b3f;
}

#header .header_lgray .box4 a.btn1:hover:after {
border-color: transparent transparent transparent rgba(255,59,63,0.5);
}

#header .header_lgray:before {
	content: "";
	clear: both;
	position: absolute;
	top:0;
	left: 0;
	width:100%;
	height:8px;
	background:#93e1f2;
	background-color: #93e1f2;
    background-image: -webkit-gradient(linear, 0 0, 100% 100%,color-stop(.25, #a5e3ef), color-stop(.25, transparent),color-stop(.5, transparent), color-stop(.5, #a5e3ef),color-stop(.75, #a5e3ef), color-stop(.75, transparent),to(transparent));
    -webkit-background-size: 7px 7px;	
}
	

#header h2.logo,
#header h2.logo a {
    display: block;
    text-align: center;
    font-size: 2.0vmax;
    line-height: 1.8rem;
    position: relative;
    margin: 0 auto;
    text-decoration: none;
    color: #3c5686;
    font-weight: 500;
    letter-spacing: normal;
   /* width: 62%;*/
    width: 52%;
}


#header h2.logo a:hover {
	opacity:0.5;
    filter:alpha(opacity=50);
    -ms-filter: "alpha( opacity=50 )";
	
}

#header h2.logo img {
	width:100%;
	display:block;
	margin:1rem auto;
}


#header #nav_sp {
	display:none;
}

#header #nav {
	background:#93e1f2;
}

#header #nav ul {
	letter-spacing:-.4em;
    margin: 2rem auto 0;
	text-align:center;
}

#header #nav ul li {
	display:inline-block;
	/*width: 20%;*/
	/*width: 25%;*/
	letter-spacing: normal;
	text-align: center;
	border-right:1px solid #fff;
/*	padding:0 4%;*/
 }

#header #nav ul li:last-child {
	border-right:none;
} 

#header #nav ul li a {
	font-weight:500;
	line-height: 1.2vmax;
	position: relative;
	display: inline-block;
	padding:1rem 2rem;
	width: 100%;
	background-color: #93e1f2;
	background-size: 200% 100%;	
    background-image: -webkit-linear-gradient(left, transparent 50%, rgba(93, 215, 239, 1) 50%);	
    background-image: linear-gradient(to right, transparent 50%, rgba(93, 215, 239, 1) 50%);
    -webkit-transition: background-position .3s cubic-bezier(0.19, 1, 0.22, 1) .1s, color .5s ease 0s, background-color .5s ease;
    transition: background-position .3s cubic-bezier(0.19, 1, 0.22, 1) .1s, color .5s ease 0s, background-color .5s ease;	
   /* font-size: 0.95vmax;*/
}


#header #nav ul li a:hover {
	background-color: #5dd7ef;
    background-position: -100% 100%;
    opacity:0.7;
    filter:alpha(opacity=70);
    -ms-filter: "alpha( opacity=70 )";	
	/*color:#fff;*/
}

#header #nav ul li a img {
	display:inline-block;
	width:1.2vmax;
	height: auto;
	margin-right: 0.2rem;
	vertical-align: top;
	
}

#header #info {
	margin-bottom:1rem;
	letter-spacing:normal;
}

#header #info h2 {
	background:#ff3b3f;
	padding:0.3rem 0.5rem;
	color:#fff;
	margin-bottom:0.5rem;
	font-size: 1.1vmax;
}

#header #info p {
	margin-left:1.5rem;
	position: relative;
	
}

#header #info p:before,
#header #info p:after {
	content:"";
	position: absolute;
}

#header #info p:before {
	width: 1rem;
    height: 1rem;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #93e1f2;
	top:50%;
	left:-0.8rem;
   -webkit-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);	
}



#header #info p:after {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 4px 0 4px 6px;
	border-color: transparent transparent transparent #ffffff;
	top:50%;
	left:-0.8rem;
   -webkit-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);	
	
}

#header #info p.txt {
	margin-left:0;
}

#header #info p.txt:before {
	width:0;
	height:0;
	background:none;
}

#header #info p.txt:after {
	border:none;
}

#header #info p a {
	font-size:0.9vmax;
}

#header .ib_banner {
    width: 94%;
    max-width: 1024px;
    margin: 2% auto 0;
}

#header .ib_banner a,
#header .ib_banner a span {
	font-size:1.3vmax;
	letter-spacing:normal;
}



/***********************************

フロートバナー

***********************************/
#float_sp {
	display:none;
}


#float_pc {
	position: fixed;
    top: 25%;
    right: 0;
    z-index: 100000;
}

#float_pc a {
    display: block;
    margin-bottom: 1.0rem;
	width:80px;
}

#float_pc a img {
	width:100%;
}

/***********************************

#content

***********************************/

#content {
	background:#fff;
    margin: 0rem auto;
    width: 94%;	
}

/*#content .area:first-child {
	margin-top:0;
}*/


/***********************************

#content topのみ

***********************************/

ul.bxslider,
#content .news{
	margin-bottom:6rem;
}

ul.bxslider img {
	width:100%;
}

#content .slick {
	width:1024px;
	margin:auto auto 4rem;
}
#content .slick img {
	width:100%;
}

#content .news  {

}

#content .news,
#content .news dl {
	width:100%;	
}

#content .news dl {
	letter-spacing: -.4em;	
}

#content .news dl dt,
#content .news dl dd {
	display: inline-block;
	vertical-align: bottom;
	letter-spacing: normal;
	border-top:1px solid #545454;
	padding:1rem 0 1rem;
	font-size: 1.4vmax;	
	
}

#content .news dl dt:first-child,
#content .news dl dd:nth-child(2) {
	border-top:none;
	padding-top:0;
}

#content .news dl dt {
	width:20%;
	text-align: center;
	color:#43b3f2;
	font-weight: 500;
	
}

#content .news dl dd {
	width: 80%;
}

#content .news .rakutenbanner {
	margin:2rem auto;
	background:#caebf2;
	padding:1rem;
}

#content .products ul li img {
	display: block;
	margin-bottom:0.5rem;
	
}

#content .products ul li h3,
#content .products ul li p {
	text-align: center;
	
}

#content .products ul li h3 {
	font-size:1.1vmax;
	line-height:1.5vmax;
}

#content .products ul li p {
	font-size: 1.3vmax;
	color:#ff3b3f;
	font-weight: bold;
	margin-top:0.5rem;
}

#content .products ul li span.label {
	display:block;
}

#content .products ul li h3 span.label {
	color:#1F5FC1;
	margin:1rem;
	padding:1rem;
	position: relative;	
	border-top: 1px solid #1F5FC1;
	border-bottom: 1px solid #1F5FC1;
	font-size:1.4vmax;
	font-weight:600;
}


#content .products ul li p span.label {
	background:#FF3B3F;
	padding:0.3rem 0.5rem;
	display:inline-block;
	margin-right:0.5rem;
	color:#fff;	
}


/***********************************

#footer

***********************************/

#footer {
	background:#cbcbcb;
	position:relative;
}

#footer:before {
	content: "";
	clear: both;
	position: absolute;
	top:0;
	left: 0;
	width:100%;
	height:8px;
	background:#93e1f2;
	background-color: #93e1f2;
    background-image: -webkit-gradient(linear, 0 0, 100% 100%,color-stop(.25, #a5e3ef), color-stop(.25, transparent),color-stop(.5, transparent), color-stop(.5, #a5e3ef),color-stop(.75, #a5e3ef), color-stop(.75, transparent),to(transparent));
    -webkit-background-size: 7px 7px;	
}

#footer .guide .clm2 li {
	width:49%;
	margin-right: 2%;
	margin-top:0;
}

#footer .guide .clm2 li div .clm2 {
	text-align:left;
}

#footer .guide .clm2 li div .clm2 li {
	margin-top:2%;

}

#footer .guide .clm2 li div .clm2 li:nth-child(1),
#footer .guide .clm2 li div .clm2 li:nth-child(2) {
	margin-top:0;
}

#footer .guide .clm2 li div .clm2 li a.btn2 {
	border-radius:0;
}


#footer .guide .clm2 li:nth-child(even) {
	margin-right:0;
}

#footer .guide div {
	background:#fff;
	padding:1rem;
	width: 100%;
	margin-top:4%;
}

#footer .guide div:nth-child(1) {
	margin-top:0;
}



#footer .guide div h3 {
/*	background: #93e1f2;
	background:linear-gradient(transparent 50%, #93e1f2 60%);*/
    padding: 0rem 0.5rem 0 0;
    font-size: 1.4vmax;
	font-weight:500;
	border-bottom:1px solid #333;
	margin-bottom:1rem;
	padding-bottom:0.5rem;
}

#footer .guide div p,
#footer .guide div strong,
#footer .guide div ul li,
#footer .guide div ul li a {
	/*font-size:1.0vmax;*/
	line-height:1.6vmax;
}

#footer .guide div p:last-child {
	margin-bottom:0;
}

#footer .guide div ul.list li {
	padding: 0;
	display: list-item;
	margin-right: 0;
	margin-top:0;
    width: 100%;
    text-align: left;	
}


#footer .footer_link {
	background:#929292;

background-color: #929292;
background-image: -webkit-gradient(linear, 0 0, 100% 100%,color-stop(.25, #9d9d9d), color-stop(.25, transparent),color-stop(.5, transparent), color-stop(.5, #9d9d9d),color-stop(.75, #9d9d9d), color-stop(.75, transparent),to(transparent));
-webkit-background-size: 7px 7px;	
	
}

#footer .footer_link p,
#footer .footer_link a {
	color:#fff;
	font-weight:500;
}

#footer .footer_link .area {
	margin: 2rem auto;
}

#footer .footer_link p {
	text-align:center;
	letter-spacing: -.4em;
}

#footer .footer_link p a {
	display: inline-block;
	margin-right:2rem;
	letter-spacing: normal;
	position:relative;
}

#footer .footer_link p a:before {
	position:absolute;
	content:"";
    width: 0.3rem;
    height: 0.3rem;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    -webkit-transform: rotate(45deg) translate(-50%, -50%) translate(-50%, -50%);
    transform: rotate(45deg) translate(-50%, -50%);
    bottom: 30%;
    left: -0.8rem;

}

#footer .footer_link p a:last-child {
	margin-right:0;
	padding-right:0;
	border-right:0;
}

#footer .footer_link p a:after {
	background:#fff;
}


#footer p.copyright {
	border-top:1px solid #fff;
	padding:1rem;
	text-align: center;
	font-size: 0.8vmax;
	clear: both;
	letter-spacing: normal !important;
}
/***********************************

second 

***********************************/
.second {
	margin-top:2rem !important; 
}



dl.qa,
dl.qa dt,
dl.qa dd {
    width: 100%;
}

dl.qa {
	margin-top:1rem;
}

dl.qa dt {
    margin-bottom: 0.5rem;
}

dl.qa dd {
	margin-bottom:1rem;
}

dl.qa dt h3,
dl.qa dd p,
dl.qa dt span,
dl.qa dd span {
    vertical-align: top;
    display: inline-block;
    padding:0.3rem  0.5rem;
	font-size:1.0vmax;

}

dl.qa dt h3,
dl.qa dd p {
	width:90%;
}

dl.qa dt span,
dl.qa dd span {
    width: 5%;	
	margin-right: 1rem;
    color: #fff;
    text-align: center;	
}

dl.qa dt span {
    background: #333;
}

dl.qa dd span {
    background: #ff3b3f;
}

dl.qa dt div,
dl.qa dd div {
    width: 90%;
    display: inline-block;
    vertical-align: middle;
    padding: 0.5rem 0 0;
}



/***********************************

aboutus#guidepage 全サイト共通のためこのページのみ構造が異なります

***********************************/

#guidepage {
	
}


#guidepage img.icon {
	dispaly:block;
	margin-bottom:0.5rem;
}

#guidepage h1 {
	font-size:1.8vmax;	
	color:#545454;
	text-align: center;
	font-weight: 500;
	margin-bottom:1.5rem;
}

#guidepage h2 {
	font-size:1.6vmax;
	font-weight: 500;
	background:#93e1f2;
	line-height:1.6vmax;
	margin-bottom:1.0rem;
	padding:0.7rem;	
}

#guidepage h3 {
	font-size:1.6vmax;
	color:#43b3f2;
	line-height:1.6vmax;
	margin-bottom:1rem;	
}

#guidepage h4 {
	font-size:1.1vmax;
	background:#93e1f2;
	color:#fff;
	line-height:1.1vmax;
	padding:0.7rem;
	margin-bottom:0.7rem;
	font-weight:500;
}

#guidepage h5 {
	font-size:1.0vmax;
	font-weight: 500;
	border-left:#93e1f2 3px solid;
	line-height:1.6vmax;
	padding:0.5rem 0 0.5rem 0.7rem;
	margin-bottom:0.5rem;	
}


#guidepage ul.guide_menu {
	letter-spacing:-.6em;
	width: 100%;
}

#guidepage ul.guide_menu li {
    display:inline-block;
	margin-top:1.4%;
	vertical-align:top;
	letter-spacing: normal;
	width:23.9%;
	margin-right:1.4%;	
}

#guidepage ul.clm4 li img {
	width:100%;
}

#guidepage ul.guide_menu li:nth-child(1),
#guidepage ul.guide_menu li:nth-child(2),
#guidepage ul.guide_menu li:nth-child(3),
#guidepage ul.guide_menu li:nth-child(4) {
	margin-top:0;
}


#guidepage ul.guide_menu li:nth-child(4n) {
	margin-right:0;
}

#guidepage .guide_menu li a {
	width: 100%;
	display:block;
	background:#ff9d9f;
	color:#fff;
	border-radius:4px;
	text-align: center;
	padding:1rem;	
}


#guidepage .guide_menu li a:hover {
	background:#ffc5c6;
}

#guidepage table {
	width:100%;
}

#guidepage table,
#guidepage table th,
#guidepage table td{
	border:1px solid #cbcbcb;
}

#guidepage table th,
#guidepage table td {
	padding:0.5rem;
}

#guidepage table th {
	background: #caebf2;
}

#guidepage table td {
	text-align:center;
}

#guidepage .box {
    background:#efefef;
    padding: 1.5rem;
}

#guidepage .box p:last-child {
	margin-bottom:0;
}

#guidepage .card {
    overflow: hidden;
    margin-bottom: 0.5rem;
}

#guidepage .card li {
    display: inline-block;
    letter-spacing: normal;
    vertical-align: top;
    margin: 0 0.5%;
    width: 18.0%;
    text-align: center;
    font-size: 1.2vmax;
    font-weight: bold;
    position: relative;
}
#guidepage .card li:after {
    content: "／";
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
}

#guidepage .card li:last-child {
	margin-right:0;
}

#guidepage .card li:last-child:after {
	content:"";
}


#guidepage p.center {
	text-align:center;
}

#guidepage strong.larger {
	text-align: center;
}

#guidepage ol.list.larger {
    margin-bottom: 1rem;
}

#guidepage ol.list.larger li {
    font-size: 1.2vmax;
    line-height: 1.4vmax;
    font-weight: bold;
	margin-bottom:1rem;
}

#guidepage ol.list.larger li ul,
#guidepage ol.list.larger li h5{
	margin-top:1rem;
}

#guidepage ol.list.larger li ul li {
    font-size: 0.9vmax;
    line-height: 1.0vmax;
    font-weight: normal;
    margin-bottom: 0.5rem;	
}

#guidepage dl.qa,
#guidepage dl.qa dt,
#guidepage dl.qa dd {
    width: 100%;
}

#guidepage dl.qa {
	margin-top:1rem;
}

#guidepage dl.qa dt {
    margin-bottom: 0.5rem;
}

#guidepage dl.qa dd {
	margin-bottom:1rem;
}

#guidepage dl.qa dt span,
#guidepage dl.qa dd span {
    text-align: center;
    vertical-align: top;
    width: 5%;
    display: inline-block;
    padding:0.3rem  0.5rem;
    margin-right: 1rem;
    color: #fff;
}

#guidepage dl.qa dt span {
    background: #333;
}

#guidepage dl.qa dd span {
    background: #ff3b3f;
}

#guidepage dl.qa dt div,
#guidepage dl.qa dd div {
    width: 90%;
    display: inline-block;
    vertical-align: middle;
    padding: 0.5rem 0 0;
}



/***********************************

.side__wrapper

***********************************/

.user__panel {
background:rgba(147,225,242,0.2);
}

.btn.register,
.nav__headline {
	background:/*#5dd7ef*/#93E1F2;
	color:#fff;
}

.nav__category,
.btn.login,
.btn.logout {
	border:1px solid #93E1F2;
}

.btn.login,
.btn.logout {
	font-weight:bold;
}

.btn.login {
	color:#5dd7ef;
}

.nav__headline-icon.shopping {
	background-image:none;
	background-color:#fff;
	border-radius:2px;
	position:relative;
}

.nav__headline-icon.shopping:before {
    content: "\f07a";
    margin-right: 5px;
	font-family:"Font Awesome 5 Free";
    font-weight: 900;
    font-size: 16px;
    color: #93E1F2;
	position:absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}


.nav__list>li a:before {
	content: "\f105";
    margin-right: 5px;
	font-family:"Font Awesome 5 Free";
    font-weight: 900;
    font-size: 20px;
    color: #93E1F2;
	position:absolute;
	top: 50%;
	left:0%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	padding-left:14px;
}


.pager__num>li.active {
	background:/*#5dd7ef*/#93E1F2;
}

/***********************************

商品ページ

***********************************/

dl.notes {
    width: 100%;
    border: 1px solid #cbcbcb;
    border-top: none;
    letter-spacing:-.4em;
    background: #efefef;	
}

dl.notes dt,
dl.notes dd {
    padding: 0.5rem;
    letter-spacing:normal;
	display:inline-block;
	vertical-align:top;
    border-top: 1px solid #cbcbcb;	
	font-size: 1.0vmax;	
}

dl.notes dt {
    width:25%;
}

dl.notes dd {
    width:75%;
	background:#fff;
    border-left: 1px solid #cbcbcb;	
}


@media screen and (max-width: 960px) {
#header #header_top {
	min-width:inherit;
	max-height:960px;
	margin:1rem auto;
}

.area, #header #nav ul {
   max-width: 960px;
   min-width:inherit;
   margin: 4rem auto;
}

#content .slick {
	max-width:960px;
	width:100%;
}

#header .ib_banner {
    width: 90%;
    max-width: 960px;
	min-width:inherit;
    margin: 1rem auto 0;
}
	
}


@media screen and (max-width: 560px) {

* {
	font-size:1.1vmax;
	line-height:1.8vmax;
}

p {
	font-size:1.1vmax !important;
	line-height:1.8vmax !important;
}


a.btn1:after {
	    border-width: 5px 0 5px 8px;
}	

p.more a:before {
    border-top: 2px solid #333;
    border-right: 2px solid #333;
}

h2.title {
    color: #545454;
    text-align: center;
    font-weight: 500;
    margin-bottom: 1.0rem;
	font-size: 2.2vmax !important;
	line-height:2.6vmax !important;
}

/***********************************

フロートバナー

***********************************/

#float_pc {
	display:none;
}

#float_sp {
    display: block;
}

#float_sp a {
    display: block;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0;
    padding: 0;
    z-index: 9999999999;
}

#float_sp a img {
	display: block;
    width: 100%;
}

#header #header_top {
	margin:1rem auto 0;
}

#header #info .box1 {
	padding:0.5rem;
	margin-bottom:1rem;
}
	
#header #info p:after {
	border-width: 2px 0 2px 3px;
}

#header #header_top {
	max-height:560px;
}
	
.area,
#header #nav ul {
   max-width: 560px;
   margin: 2rem auto;
}

#header .header_lgray {
	padding:2rem 0;
}

#header .header_lgray .box4 {
	display:none;
}

#header h2.logo {
	z-index:50;
	margin-bottom:0;
}

#header h2.logo a {
	width:76%;
	margin: auto auto 0 !important;	
}

#header h2.logo img {
	margin:0.5rem 0 0;
}

#content .slick {
	max-width:560px;
	width:100%;
}
	
#content .products ul li h3 {
    line-height: 1.4vmax;
}
	
#header #nav_sp {
display:block;
  background-clip: padding-box;
  text-align: center;
}

.button,
.button_cart {
	position: absolute;
    top: 30%;
    background: #93e1f2;
    width: 10%;
    height: auto;
    padding: 0.7rem;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
    border-radius: 4px;
	z-index:100;
}

.button {
	left:5%;
}

.button_cart {
    right: 5%;
}

.button img,
.button_cart img {
width:100%;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index:100;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 10% auto;
  padding: 2rem;
  /*background: #333;*/
  width: 90%;
  position: relative;
  transition: all 5s ease-in-out;
  padding: 2rem 0 0;
}

.popup .close {
  position: absolute;
  top: 2%;
  left: 3%;
  transition: all 200ms;
  font-size: 4.2rem;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  border-bottom:none;
}

.popup .close:hover {
  color: #06D85F;
}

.popup .content {
  max-height: 30%;
  overflow: auto;

}

.popup .content ul {
margin-top:1rem;
	background:#efefef;
	color:#333;
}

.popup .content ul:first-child {
margin-top:1rem;
}


.popup .content ul li,
.popup .content ul li a {
font-size:1.2vmax;
width:100%;
}


.popup .content ul li {
width:100%;
text-align:left;
border-bottom:1px solid #fff;
letter-spacing:normal;

}

.popup .content ul li a {
display:block;
padding: 2rem;
position:relative;
}

.popup .content ul li a:after {
position:absolute;
content:"";
width: 1rem;
    height: 1rem;
    border-top: 2px solid #333;
    border-right: 2px solid #333;
    -webkit-transform: rotate(45deg) translate(-50%, -50%) translate(-50%, -50%);
    transform: rotate(45deg) translate(-50%, -50%);
    bottom: 25%;
    right: 5%;


}

.popup .content ul li a img {
	width:6%;
	display:inline-block;
	margin-right:0.5rem;
}

.popup .content ul:nth-child(1) li a {
	background:#ff3b3f;
	color:#fff;
}

.popup .content ul:nth-child(2) li a {
	background:#ff9d9f;
}


.popup .content ul:nth-child(3) li a {
	background:#93e1f2;
	color:#333;
}

.popup .content ul:nth-chilld(2) li a {

}

.popup .content,
.popup .content h3,
.popup .content p {
  color:#fff !important;
}

.popup .content p {
	text-align:left;
}

.popup .content .left_img {
	margin-bottom:0;
	width:40% !important;
}


	
	
/****************/	
	
#header .header_menu {
	display: none;
}
#header h1 {
    width: 100%;
    float: none;
	text-align:center;
	margin-bottom:1rem;
}

#header #nav {
	display:none;
}

#header .ib_banner {
    width: 94%;
    max-width: 560px;
    margin: 1rem auto 0;
}

#header .ib_banner a,
#header .ib_banner a span {
	font-size: 2.0vmax;
    text-align: left;
    line-height: 2.4vmax;
}

#content .products ul li h3 span.label {
	margin:0.7rem;
	padding:0.5rem;
	font-size:1.2vmax;
}


#content .products ul li p span.label {
	display:block;
}



#footer .guide .clm2 li {
	display:block;
	width:100%;
	margin-right:0;
}
	
#footer .guide .clm2 li div {
	margin-bottom:2rem;
}	

#footer .guide .clm2 li:last-child div:last-child {
	margin-bottom:0;
}	
	
#footer .guide .clm2 li .clm2 li {
	display:inline-block;
	width: 49%;
    margin-right: 2%;
    margin-top: 0;

}
	
#footer .guide .clm2 li .clm2 li:nth-child(even) {
	margin-right:0;
}
	
#footer .guide div h3 {
    font-size: 1.6vmax;
}
	
#footer .guide div p,
#footer .guide div strong,
#footer .guide div ul li,
#footer .guide div ul li a {
	line-height: 2.2vmax;
	font-size:1.6vmax;	
}

/*#footer .footer_link {
	padding-top:2rem;
}	*/
	
#footer .footer_link p {
	letter-spacing:-.4em;
}	
	
#footer .footer_link p a {
	letter-spacing: normal;
	width:49%;
	background:#fff;
	padding:1rem;
	text-align: center;
	color:#333;
	margin-right:2%;
	margin-top:2%;
}

#footer .footer_link p a:nth-child(1),	
#footer .footer_link p a:nth-child(2) {
	margin-top:0;
}
	
#footer .footer_link p a:nth-child(even) {
	margin-right:0;
}	

#footer .footer_link p a:before {
    position: absolute;
    content: "";
    width: 0.3rem;
    height: 0.3rem;
    border-top: 2px solid #333;
    border-right: 2px solid #333;
    -webkit-transform: rotate(45deg) translate(-50%, -50%) translate(-50%, -50%);
    transform: rotate(45deg) translate(-50%, -50%);
    bottom: 30%;
	left: auto;
    right: 1rem;	
}

#footer .guide div ul.list {
	margin-right:1.5rem;
}
	
h2 {
    font-size: 2.2vmax;
}	



#header .header_lgray:before,
#footer:before {
    height: 4px;
}

dl.qa dt span, dl.qa dd span {
    width: 10%;
}

dl.qa dt h3, dl.qa dd p {
	width:85%;
}	

#guidepage img.icon {
	width:100%;
}

#guidepage dl.qa dt span,
#guidepage dl.qa dd span {
    text-align: center;
    vertical-align: top;
    width: 10%;
	
}

#guidepage dl.qa dt div,
#guidepage dl.qa dd div {
	width:85%;
}


	dl.inline dt {
	width:40%;
}

dl.inline dd {
	width:60%;
}