@charset "utf-8";
/* CSS Document */

/*****************************************************

    全ての要素をリセット
    各ブラウザの表示を統一するための設定です

*****************************************************/
html {overflow-y: scroll;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {margin: 0;padding: 0;}
address,caption,cite,code,dfn,em,strong,th,var {font-style: normal;}
table { border-collapse: collapse;border-spacing: 0;}
caption,th,p {text-align: left;}
h1,h2,h3,h4,h5,h6 {font-size: 100%;text-align:left;font-weight:normal;}
img,abbr,acronym,fieldset {border: 0;}
li {list-style-type: none;}
img{vertical-align:middle;}
.line {font-size:1px;line-height:1px;}

/*--- default */

table{
    border-collapse:collapse;
}

hr {
    margin:0;
    padding:0;
    border:none;
}


/*指定CSSリセット*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary, time, mark, audio, video {
	font-size:1.1vmax;
}


header {
    position:static;
    top: 0;
    left: 0;
    z-index: 1000;
    display: block;
    width: auto;
    height: auto;
    background-color:#fff;
    transition: all 0.3s;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 0;
}

.copyright {
    display: block;
    width: auto;
    height: auto;
    padding: 0;
    background-color:transparent;
    font-size:inherit;
    color: #fff;
}

div.cal_wrapper table.cal tr.headline {
	border-left:none;
}

.breadcrumb__wrapper {
	width: 100%;
    max-width:inherit;
    margin-top: 0; 
    padding: 0;
}


.main__wrapper {
    width: 100%;
    max-width: 1024px;
    margin-top: 0;
    padding: 0 0;
}

.content__area {
	background:none;
}

.article__area {
	background:none;
}


.content__area,
.article__area {
	padding:0;
}