<template>
	<div class="content__wrapper">
		<div class="content__area">
			<h2 class="headline">定期商品詳細</h2>
			<div class="article__area" v-if="Object.keys(autoship_item).length > 0">
				<div class="content-box__warper-product">
					<div class="product__photo"><img :src="autoship_item_image != null && autoship_item_image.file_url != undefined ? $store.state.manage_url + autoship_item_image.file_url : '/image/product/noimage.png'" alt=""></div>
					<div class="product__item">
						<div class="product__neme">{{ autoship_item.autoship_item_name }}</div>
						<div class="product__catch">
							{{ autoship_item.autoship_item_sub_name }}
						</div>
						<div class="product__price"><span class="product__definition">価格</span><span class="product__price-money">¥{{ autoship_item_main.total.toLocaleString() }}</span><span class="item__tax">（税込）</span></div>
						<div class="product__btn"><span class="btn decision" @click="AddToCart(autoship_item)">定期で購入する</span></div>
					</div><!--product__item end-->
					<div class="article__box">
						<h3 class="sub__headline">商品詳細</h3>
						<ul class="history__list-item" v-for="(data, index) in autoship_item_detail" :key="index">
							<li data-index="0">
								<div class="history__box">
									<img :src="data.file_url != null ? $store.state.manage_url + data.file_url : '/image/product/noimage.png'" alt="">
								</div>
								<div class="history__box-area">
									<div class="history__neme">
										{{ data.item_main_name }}
									</div>
									<dl class="dl__history">
										<div>
											<dt>数量</dt>
											<dd>
												<span class="history__number">
                                                    {{ data.quantity }}
                                                </span>
											</dd>
										</div>
										<div>
											<dt>価格</dt>
											<dd>
												¥<span class="history__subtotal">
													{{ data.detail_total.toLocaleString() }}
												</span>
											</dd>
										</div>
									</dl>
								</div>
							</li>
						</ul>
					</div>
					<div class="product__description">
						<div class="headline__line-color mb-20">商品説明</div>
						<div v-html="autoship_item.autoship_item_comment"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
    export default {
		data: function () {
			return {
                autoship_item: [],
                autoship_item_image: [],
                autoship_item_main: [],
                autoship_item_detail: [],
			}
        },
        created(){
            var self = this;
			this.$store.commit('start_process');
            axios.post('/axios/autoship', {'autoship_item_id': this.$route.params.item_id}).then(function (res) {
				self.autoship_item = res.data.autoship_item;
				if (res.data.autoship_item_image != '' && res.data.autoship_item_image != null) self.autoship_item_image = res.data.autoship_item_image;
				if (res.data.autoship_item_main != '' && res.data.autoship_item_main != null) self.autoship_item_main = res.data.autoship_item_main;
				if (res.data.autoship_item_detail != '' && res.data.autoship_item_detail != null) self.autoship_item_detail = res.data.autoship_item_detail;
                self.$store.commit('end_process');
            }).catch(error => {
                AuthCheck(error);
            });
        },
        methods:{
            AddToCart(v) {
                this.$router.push({path:`/mypage/autoship/order/${v.autoship_item_id}`})
            },
        },
    }
</script>