<template>
    <div class="content__wrapper">
		<div class="content__area">
			<h2 class="headline">定期契約済みの商品一覧</h2>
			<div class="article__area">
				<div class="header-line__wrapper">
					<div class="header-line__results">
						<span class="header-line__headline">全 {{ total }} 件中 {{ from }} 〜 {{ to }}件表示</span>
						<select @change="load(1)" v-model="count">
							<option value="6">6件</option>
							<option value="9">9件</option>
							<option value="12">12件</option>
							<option value="15">15件</option>
							<option value="18">18件</option>
						</select>
					</div>
					<!-- <div class="header-line__search">
						<div class="search__wrapper">
							<input type="search" name="example1">
							<input type="button" value="検索" class="btn search">
						</div>
					</div> -->
				</div><!--header-line__wrapper end-->
				<div class="loader__wrapper" v-if="ProductLoader">
					<div class="boxes">
						<div class="box">
							<div></div>
							<div></div>
							<div></div>
							<div></div>
						</div>
						<div class="box">
							<div></div>
							<div></div>
							<div></div>
							<div></div>
						</div>
						<div class="box">
							<div></div>
							<div></div>
							<div></div>
							<div></div>
						</div>
						<div class="box">
							<div></div>
							<div></div>
							<div></div>
							<div></div>
						</div>
					</div>
				</div>
				<div class="content-box__warper-product-grid" v-if="!ProductLoader">
					<div class="product-box__warper" v-for="(item, index) in product" :key="index" :data-index="index">
						<div class="product-box">
							<div class="item__box"><router-link :to="`/mypage/autoship/purchase/${item.autoship_id}`"><img :src="item.file_url != null ? $store.state.manage_url + item.file_url : '/image/product/noimage.png'" alt=""></router-link></div>
							<div class="item__neme"><router-link :to="`/mypage/autoship/purchase/${item.autoship_id}`">{{ item.autoship_item_name }}</router-link></div>
							<!-- <div class="item__price">
                                <span class="item__definition">価格</span>
                                <span class="element__color-red">&yen;{{ item.total.toLocaleString() }}</span>
                                <span class="item__tax">（税込）</span>
                            </div> -->
							<div class="item__box-area">
								<div class="item__number">
								</div>
								<div class="item__btn" @click="AddToCart(item)"><span class="btn decision">契約内容を変更する</span></div>
							</div>
						</div>
					</div><!--product-box__warper end-->
				</div><!--content-box__warper-product-grid end-->
				<div class="pager__wrapper">
					<ul class="pager__prev">
                        <li v-if="current_page > 1" class="pager__first"><a @click="change(1)">最初</a></li>
                        <li v-if="current_page > 1" class="pager__back"><a @click="change(current_page - 1)">前</a></li>
					</ul>
					<ul class="pager__num">
                        <li v-for="page in pages" :key="page" :class="{active: page === current_page}">
                            <a @click="change(page)">{{page}}</a>
                        </li>
					</ul>
					<ul class="pager__next">
                        <li v-if="current_page < last_page" class="pager__after"><a @click="change(current_page + 1)">次</a></li>
                        <li v-if="current_page < last_page" class="pager__last"><a @click="change(last_page)">最後</a></li>
					</ul>
				</div>
			</div>
		</div><!--content__area end-->
	</div>
</template>
<script>
	// import None from "../../components/None.vue"

    export default {
		data: function () {
			return {
                Loader: false,
                ProductLoader: false,
                addCartItem: [],
                product: [],
                current_page: 1,
                last_page: 1,
                total: 1,
                from: 0,
                to: 0,
                count: 9, // 一覧に幾つ表示するかの設定
                orderby: 'autoship_item_id',
                sort: 'asc',
                request:{
                    'word': '',
                },
			}
        },
        created(){
			this.Loader = true;
			if (this.session !== '') {
				this.load();
			} else {
				eventHub.$on('construct', this.load);
			}
        },
        methods: {
            load: function(page = 1) {
                var self = this;
                this.$store.commit('start_process');
                this.ProductLoader = true;
                var request_data = {
                    'column': this.request,
                    'count': this.count,
                    'orderby': this.orderby,
                    'sort': this.sort
                }

                axios.post('/axios/getautoship?page=' + page, request_data).then(function (res) {
					var data = res.data.item;
                    self.product = data.data;
                    self.current_page = data.current_page;
                    self.last_page = data.last_page;
                    self.total = data.total;
                    self.from = data.from;
                    self.to = data.to;
                    self.Loader = false;
                    self.ProductLoader = false;
                    self.$store.commit('end_process');
                }).catch(error => {
					self.AuthCheck(error);
                });
            },
            change: function(page) {
                if (page >= 1 && page <= this.last_page) this.load(page);
            },
            changeOrderBy: function(v) {
                if (this.orderby === v) {
                    if (this.sort === 'ASC') {
                        this.sort = 'DESC';
                    } else {
                        this.sort = 'ASC';
                    }
                } else {
                        this.sort = 'ASC';
                }
                this.orderby = v;
                this.load(1);
            },
            AddToCart(v) {
                this.$router.push({path:`/mypage/autoship/purchase/${v.autoship_id}`})
            },
            setWordLoad(v) {
                var promise = new Promise((resolve, reject) => {
                    this.$store.dispatch('setWordAction', v);
                    resolve(v);
                })
                promise.then((v) => {
                    this.load(1);
                })
            }
        },
        computed: {
            pages: function() {
                var start = _.max([this.current_page - 2, 1]);

                var end = _.min([start + 5, this.last_page + 1]);

                start = _.max([end - 5, 1]);
                return _.range(start, end);
            },
        },
        // components: {
        //     None
        // },
    }
</script>
