<template>
    <div class="content__wrapper">
        <div v-if="SkipModal" class="overlay__wrapper active">
            <div class="modal__wrapper active">
                <span>本当にスキップしますか？</span>
                <div class="btn__wrapper">
                    <button type="button" class="btn" @click="SkipModal = false">いいえ</button>
                    <button type="button" class="btn next" @click="skipAction">はい</button>
                </div>
            </div><!--modal__wrapper end-->
        </div>
        <div class="content__area">
            <h2 class="headline">定期契約済みの商品詳細</h2>
            <div class="article__area" v-if="Object.keys(order).length > 0">
                <p>
                    定期契約内容をご確認いただけます。<router-link :to="'/mypage/payment'" class="nav">登録済みクレジットカードの確認・変更はこちら</router-link>
                </p>
                <p class="element__color-red">
                    ＊変更は次回出荷予定日の{{ $store.state.config.chenge_contract_status[1] }}日前まで可能です。
                </p>
                <p class="element__color-red" v-if="order.skip_flag">
                    ＊現在、こちらの定期商品はスキップされている状態です。
                </p>
                <div class="article__box" v-if="Object.keys($store.state.config).length > 0">
                    <h3 class="sub__headline">お届け先情報</h3>
                    <dl class="dl__line dotted">
                        <div>
                            <dt>定期番号</dt>
                            <dd>{{ order.autoship_id }}</dd>
                        </div>
                        <div>
                            <dt>次回出荷予定日</dt>
                            <dd>{{ shipment_date }}</dd>
                        </div>
                        <div>
                            <dt>受注回数</dt>
                            <dd>{{ count }}回</dd>
                        </div>
                        <div v-if="order.company_name">
                            <dt>会社名</dt>
                            <dd v-if="show">{{ order.company_name }}</dd>
                            <dd v-else><input id="company_name" type="text" v-model="order.company_name"></dd>
                        </div>
                        <div>
                            <dt>姓</dt>
                            <dd v-if="show">{{ order.first_name }}</dd>
                            <dd v-else><input id="first_name" type="text" v-model="order.first_name"></dd>
                        </div>
                        <div>
                            <dt>名</dt>
                            <dd v-if="show">{{ order.last_name }}</dd>
                            <dd v-else><input id="last_name" type="text" v-model="order.last_name"></dd>
                        </div>
                        <div>
                            <dt>姓(カタカナ)</dt>
                            <dd v-if="show">{{ order.first_kana_name }}</dd>
                            <dd v-else><input id="first_kana_name" type="text" v-model="order.first_kana_name"></dd>
                        </div>
                        <div>
                            <dt>名(カタカナ)</dt>
                            <dd v-if="show">{{ order.last_kana_name }}</dd>
                            <dd v-else><input id="last_kana_name" type="text" v-model="order.last_kana_name"></dd>
                        </div>
                        <div>
                            <dt>郵便番号</dt>
                            <dd v-if="show">{{ order.post }}</dd>
                            <dd v-else>
                                <input id="post" type="text" name="post" v-model="order.post"/>
                            </dd>
                        </div>
                        <div>
                            <dt>都道府県</dt>
                            <dd v-if="show">{{ $store.state.config.pref[order.pref] }}</dd>
                            <dd v-else>
                                <select v-model="order.pref">
                                    <option v-for="(value, index) in $store.state.config.pref" :value="index" :key="index">
                                        {{ value }}
                                    </option>
                                </select>
                            </dd>
                        </div>
                        <div>
                            <dt>市区町村</dt>
                            <dd v-if="show">{{ order.city }}</dd>
                            <dd v-else><input id="city" type="text" name="city" v-model="order.city"/></dd>
                        </div>
                        <div>
                            <dt>番地</dt>
                            <dd v-if="show">{{ order.addr }}</dd>
                            <dd v-else><input id="addr" type="text" name="addr" v-model="order.addr"/>
                            </dd>
                        </div>
                        <div>
                            <dt>建物名</dt>
                            <dd v-if="show">{{ order.building }}</dd>
                            <dd v-else><input id="building" type="text" name="building" v-model="order.building"/></dd>
                        </div>
                        <div>
                            <dt>電話番号</dt>
                            <dd v-if="show">{{ order.phone }}</dd>
                            <dd v-else>
                                <input id="phone" type="text" name="phone" v-model="order.phone"/>
                            </dd>
                        </div>
                        <div>
                            <dt>支払方法</dt>
                            <dd v-if="show">{{ $store.state.config.payment[order.payment] }}</dd>
                            <dd v-else>
                                <ul class="list-box__wrap">
                                    <template v-if="Object.keys(member_card).length > 0">
                                        <li><input :class="order.payment == 1 ? 'active' : ''" type="radio" name="payment" value="1" id="payment_credit" @click="order.payment = 1"><label for="payment_credit">カード決済</label></li>
                                    </template>
                                    <li><input :class="order.payment == 2 ? 'active' : ''" type="radio" name="payment" value="2" id="payment_shipment" @click="order.payment = 2"><label for="payment_shipment">代引</label></li>
                                </ul>
                            </dd>
                        </div>
                        <div>
                            <dt>配送間隔</dt>
                            <dd v-if="show || order.skip_flag">{{ order.shipment_interval }}ヶ月に1回</dd>
                            <dd v-else>
                                <select v-model="order.shipment_interval">
                                    <option v-for="(val, index) in autoship_item_interval" :key="index" :value="val.shipment_interval">
                                        {{ val.shipment_interval }}ヶ月に1回
                                    </option>
                                </select>
                            </dd>
                        </div>
                    </dl>
                    <div class="article__box">
                        <h3 class="sub__headline">商品情報</h3>
                        <ul class="history__list-item" v-for="(data, index) in order_detail" :key="index">
                            <li data-index="0">
                                <div class="history__box">
                                    <img :src="data.file_url != null ? $store.state.manage_url + data.file_url : '/image/product/noimage.png'" alt="">
                                </div>
                                <div class="history__box-area">
                                    <div class="history__neme">
                                        {{ data.post_title }}
                                    </div>
                                    <dl class="dl__history">
                                        <div>
                                            <dt>数量</dt>
                                            <dd>
                                                <span class="history__number">
                                                    {{ data.quantity }}
                                                </span>
                                            </dd>
                                        </div>
                                        <div>
                                            <dt>価格</dt>
                                            <dd>
                                                ¥<span class="history__subtotal">
                                                    {{ data.detail_total.toLocaleString() }}
                                                </span>
                                            </dd>
                                        </div>
                                    </dl>
                                </div>
                            </li>
                        </ul>
                    </div>
					<div class="total__warper">
						<dl class="dl__total">
							<div>
								<dt>小計</dt>
								<dd>¥&nbsp;{{ autoship_main.selling_price_total.toLocaleString() }}</dd>
							</div>
							<div>
								<dt>送料</dt>
								<dd>¥&nbsp;{{ autoship_main.postage_total.toLocaleString() }}</dd>
							</div>
							<div v-if="autoship_main.payment == 2">
								<dt>配達手数料</dt>
								<dd>¥&nbsp;{{ autoship_main.shipment_price.toLocaleString() }}</dd>
							</div>
							<div class="total">
								<dt>合計金額</dt>
								<dd>¥&nbsp;{{ autoship_main.total.toLocaleString() }}</dd>
							</div>
						</dl>
					</div><!--total__warper end-->
                    <div class="btn__wrapper">
                        <button v-if="!show" type="button" class="btn" @click="getAutoship">戻る</button>
                        <template v-if="changeFlag">
                            <button v-if="show" type="button" class="btn next" @click="onClick">変更する</button>
                            <button v-else type="button" class="btn next" @click="editregister"> 保存する</button>
                        </template>
                    </div>
                    <template v-if="order.shipment_skip > 0 && !order.skip_flag">
                        <div class="btn__wrapper">
                            <button type="button" class="btn" @click="SkipModal = true">次回のお届けをスキップする</button>
                        </div>
                        <p class="element__color-red element__align-center">
                            ＊残り{{ order.shipment_skip }}回、次回のお届けをスキップできます。
                        </p>
                    </template>
                </div>
                <!--article__box end-->
            </div>
            <!--article__area end-->
            <div class="article__area" v-else>
                <p>契約内容が存在しません</p>
            </div>
        </div>
        <!--content__area end-->
    </div>
    <!--content__wrapper end-->
</template>

<script>
import Datepicker from "vuejs-datepicker";
import ja from "vuejs-datepicker/dist/locale";
export default {
    data: function() {
        return {
            order: [],
            autoship_main: [],
            autoship_item_image:[],
            order_detail: [],
            autoship_item_interval: [],
            member_card:[],
            shipment_date:'',
            changeFlag: true,
            SkipModal: false,
            show: true,
            error_array: [],
            ja:ja,
            count: 0,
        };
    },
    created: async function() {
        this.parentLoader = true;
        try {
            var [res1, res2, res3] = await Promise.all([
                // 初期処理
                this.FirstFunction(),
                this.getAutoship(),
                this.getMember()
            ]);
        } catch {
            return;
        } finally {
            this.parentLoader = false;
        }
    },
    methods: {
        // 登録処理
        editregister: function() {
            var self = this;
            var promise = new Promise((resolve, reject) => {
                this.$store.state.success_message = "";
                this.$store.state.error_message = "";
                this.$store.commit('start_process');
                resolve();
            });
            promise
                .then(() => {
                    if (this.$store.state.Loader) {
                        // 二重Submit防止
                        throw new Error("登録中です。しばらくお待ちください。");
                    }
                    if (this.AllCheckValidate !== true) {
                        // ValidationCheck
                        this.$nextTick(() =>
                            document
                                .getElementById(this.AllCheckValidate.focus)
                                .focus()
                        );
                        throw new Error(this.AllCheckValidate.error_message);
                    }
                    if (this.error_array.length > 0) {
                        // ValidationCheck
                        throw new Error(this.error_array[0]);
                    }
                    this.$store.state.Loader = true;
                    window.scrollTo(0, 0);
                })
                .then(() => {
                    axios.post("/axios/save/autoshipdetail", {
                        register: this.order,
                        autoship_detail: this.order_detail,
                    })
                    .then(function(res) {
                        self.$store.commit('end_process');
                        self.$store.state.success_message = "編集が完了しました！";
                        self.$store.state.EditStatus = false;
                        self.show = !self.show;
                        self.$store.state.Loader = false;
                    })
                    .catch(function(error) {
                        self.AuthCheck(error);
                    });
                })
                .catch(e => {
                    this.$store.state.error_message = e;
                });
        },
        FirstFunction: function() {
            this.$parent.PostFlag = true;
        },
        onClick: function() {
            /* 具体的な挙動 */
            this.show = !this.show;
        },
        getAutoship: function() {
            var self = this;
            self.show = true;
            this.order = [];
            this.order_detail = [];
            axios.post('/axios/getautoshipdetail', {'autoship_id': this.$route.params.item_id}).then(function (res) {
                self.order = res.data.autoship;
                self.count = res.data.count;
                if (res.data.autoship_main != '' && res.data.autoship_main != null) self.autoship_main = res.data.autoship_main;
				if (res.data.autoship_item_image != '' && res.data.autoship_item_image != null) self.autoship_item_image = res.data.autoship_item_image;
                if (res.data.autoship_detail != '' && res.data.autoship_detail != null) self.order_detail = res.data.autoship_detail;
                if (res.data.autoship_item_interval != '' && res.data.autoship_item_interval != null) self.autoship_item_interval = res.data.autoship_item_interval;
                if (self.order.skip_flag) {
                    var count = (self.order.shipment_interval * 2) - 1;
                } else {
                    var count = self.order.shipment_interval - 1;
                }
                var split = self.order.order_create_date.split('-');
                var shipment_date = new Date(split[0],split[1],split[2]);
                shipment_date.setMonth(shipment_date.getMonth() + count);
                self.shipment_date = self.dateToStr24HPad0(shipment_date);

                var date_1 = new Date(split[0],split[1],split[2]);
                date_1.setMonth(date_1.getMonth() + count);
                date_1.setDate(date_1.getDate() - self.$store.state.config.chenge_contract_status[1]);
                var date_2 = new Date(Date.now());

                if (date_1 < date_2) {
                    self.changeFlag = false;
                }
                self.$store.commit('end_process');
            }).catch(error => {
                AuthCheck(error);
            });
        },
        getMember: function () {
            var self = this;
            axios.post('/axios/getmember').then((res) => {
                if (res.data.member_card != null) {
                    if (Object.keys(res.data.member_card).length > 0) {
                        self.member_card = res.data.member_card;
                    }
                }
            })
        },
        skipAction: function () {
            var self = this;
            var promise = new Promise((resolve, reject) => {
                this.$store.state.success_message = "";
                this.$store.state.error_message = "";
                this.$store.commit('start_process');
                resolve();
            });
            promise
                .then(() => {
                    if (this.$store.state.Loader) {
                        // 二重Submit防止
                        throw new Error("登録中です。しばらくお待ちください。");
                    }
                    this.$store.state.Loader = true;
                    this.SkipModal = false;
                    window.scrollTo(0, 0);
                })
                .then(() => {
                    axios.post("/axios/skip/autoship", {'autoship_id': this.$route.params.item_id}).then(function(res) {
                        self.$store.commit('end_process');
                        self.$store.state.success_message = "次回のお届けをスキップしました";
                        self.$store.state.Loader = false;
                    })
                    .catch(function(error) {
                        self.AuthCheck(error);
                    });
                })
                .catch(e => {
                    this.$store.state.error_message = e;
                });
        }
    },
    watch: {
        "order.post": function(n, o) {
            if (n == null || o == null) return false;
            let self = this;
            var promise = new Promise((resolve, reject) => {
                this.order.post = this.FormatPost(n, o);
                resolve();
            });
            promise.then(() => {
                if (n.length === 8) {
                    new YubinBango.Core(n, function(addr) {
                        if (addr.region_id === "") {
                            self.order.pref = 1;
                            self.order.city = "";
                            self.order.addr = "";
                            self.$parent.PostFlag = false;
                        } else {
                            self.order.pref = addr.region_id;
                            self.order.city = addr.locality;
                            self.order.addr = addr.street;
                            self.$parent.PostFlag = true;
                        }
                    });
                }
            });
        },
        order_detail: {
            handler: function(n, o) {
                this.error_array = [];
                for (var index in n) {
                    if (this.isType(n[index].shipment_hope_date) === "Date")
                        n[index].shipment_hope_date = this.dateToStr24HPad0(
                            n[index].shipment_hope_date
                        );
                }
            },
            deep: true
        },
        'order.payment': function (n, o){
            var shipment_price = 0;
            if (n == 2) {
                shipment_price = 250;
            }
            this.order.shipment_price = shipment_price;

            var total = 0;
            total += this.order.total;
            if (n == 2) {
                total += this.order.shipment_price;
            } else {
                total -= 250;
            }
            this.order.total = total;
        }
    },
    components: {
        Datepicker
    },
    computed: {
        FirstNameValidate() {
            if (!this.checkRequire(this.order.first_name)) return 'Require';
            return '';
        },
        LastNameValidate() {
            if (!this.checkRequire(this.order.last_name)) return 'Require';
            return '';
        },
        FirstKanaNameValidate() {
            if (!this.checkRequire(this.order.first_kana_name)) return 'Require';
            return '';
        },
        LastKanaNameValidate() {
            if (!this.checkRequire(this.order.last_kana_name)) return 'Require';
            return '';
        },
        FirstNameValidateMessage() {
            if (this.FirstNameValidate !== '') return this.validate_message[this.FirstNameValidate];
        },
        LastNameValidateMessage() {
            if (this.LastNameValidate !== '') return this.validate_message[this.LastNameValidate];
        },
        FirstKanaNameValidateMessage() {
            if (this.FirstKanaNameValidate !== '') return this.validate_message[this.FirstKanaNameValidate];
        },
        LastKanaNameValidateMessage() {
            if (this.LastKanaNameValidate !== '') return this.validate_message[this.LastKanaNameValidate];
        },
        PostValidate() {
            if (!this.checkRequire(this.order.post)) return "Require";
            if (!this.checkPost(this.order.post)) return "Num";
            return "";
        },
        CityValidate() {
            if (!this.checkRequire(this.order.city)) return "Require";
            return "";
        },
        AddrValidate() {
            if (!this.checkRequire(this.order.addr)) return "Require";
            return "";
        },
        PhoneValidate() {
            if (!this.checkRequire(this.order.phone)) return "Require";
            if (!this.checkNum(this.order.phone)) return "Num";
            return "";
        },
        PostValidateMessage() {
            if (this.PostValidate !== "")
                return this.validate_message[this.PostValidate];
        },
        CityValidateMessage() {
            if (this.CityValidate !== "")
                return this.validate_message[this.CityValidate];
        },
        AddrValidateMessage() {
            if (this.AddrValidate !== "")
                return this.validate_message[this.AddrValidate];
        },
        PhoneValidateMessage() {
            if (this.PhoneValidate !== "")
                return this.validate_message[this.PhoneValidate];
        },
        AllCheckValidate() {
            if (this.FirstNameValidate !== '') return {'error_message': '姓は'+this.FirstNameValidateMessage, 'focus': 'first_name'};
            if (this.LastNameValidate !== '') return {'error_message': '名は'+this.LastNameValidateMessage, 'focus': 'last_name'};
            if (this.FirstKanaNameValidate !== '') return {'error_message': '姓(カタカナ)は'+this.FirstKanaNameValidateMessage, 'focus': 'first_name_kana'};
            if (this.LastKanaNameValidate !== '') return {'error_message': '名(カタカナ)は'+this.LastKanaNameValidateMessage, 'focus': 'last_name_kana'};
            if (this.PostValidate !== '') return {'error_message': '郵便番号は'+this.PostValidateMessage, 'focus': 'post'};
            if (this.CityValidate !== '') return {'error_message': '市区町村は'+this.CityValidateMessage, 'focus': 'city'};
            if (this.AddrValidate !== '') return {'error_message': '番地は'+this.AddrValidateMessage, 'focus': 'addr'};
            if (this.PhoneValidate !== '') return {'error_message': '電話番号は'+this.PhoneValidateMessage, 'focus': 'phone'};

            if (!this.$parent.PostFlag) {
                return {'error_message':'存在しない郵便番号です','focus' : 'post'};
            }
            return true;
        },
    }
};
</script>
