<template>
    <div class="breadcrumb__wrapper">
        <ul class="breadcrumb__list">
            <li class="breadcrumb-home">
                <a :href="WORDPRESS_URL" class="l-breadcrumb__text">TOP </a>
            </li>
            <li
                v-for="breadcrumb in this.$store.state.Breadcrumb"
                :key="breadcrumb.name"
            >
                <a
                    v-if="breadcrumb.path"
                    :href="breadcrumb.path"
                    class="l-breadcrumb__text"
                    >{{ breadcrumb.name }}</a
                >
                <span v-else class="l-breadcrumb__text">
                    {{ breadcrumb.name }}</span
                >
            </li>
        </ul>
    </div>
</template>
<script>
export default {
    methods: {
        FirstFunction: function() {
            this.currentTab = this.$store.state.url_component[
                this.$router.currentRoute.matched[0].path
            ];
            this.$store.state.Breadcrumb = [
                {
                    name: this.$store.state.breadcrumblist[
                        this.$router.currentRoute.matched[0].path
                    ].name,
                    path: this.$store.state.breadcrumblist[
                        this.$router.currentRoute.matched[0].path
                    ].path
                }
            ];
            if (
                this.$store.state.breadcrumblist[
                    this.$router.currentRoute.matched[0].path
                ].name2 !== undefined
            ) {
                this.$store.state.Breadcrumb.push({
                    name: this.$store.state.breadcrumblist[
                        this.$router.currentRoute.matched[0].path
                    ].name2
                });
            }
        }
    },
    created: async function() {
        try {
            var [res1] = await Promise.all([
                // 初期処理
                this.FirstFunction()
            ]);
        } catch {
            return;
        } finally {
        }
    }
};
</script>
