<template>
       <div class="content__wrapper">
				<!-- <div class="content__area">
					<h2 class="headline">直近のお届け情報</h2>
					<div class="article__area">
						<dl class="dl__line dotted">
							<div>
								<dt>次回お届け日</dt>
								<dd>2020年5月23日(土)</dd>
							</div>
							<div>
								<dt>商品名</dt>
								<dd>Guard Water by Haccpper ガードウォーター ハセッパー 200ppm</dd>
							</div>
							<div>
								<dt>数量</dt>
								<dd>2本</dd>
							</div>
							<div>
								<dt>お届け情報</dt>
								<dd>定期配送</dd>
							</div>
						</dl>
						<div class="element__area element__align-right">
							<a href="#" class="nav">お届け内容を確認する</a>
						</div>
					</div>
				</div> -->
				<div class="content__area">
					<h2 class="headline">会員メニュー</h2>
					<div class="article__area member-area">
						<ul class="member__icon">
							<!-- <li>
								<router-link :to="'/info'">
									<div class="member__icon-img">
										<picture>
											<source srcset="/image/base/member-icon-info.png,
															/image/base/member-icon-info_2x.png 2x">
											<img src="/image/base/member-icon-info.png" alt="お知らせ">
										</picture>
									</div>
									<span class="member__icon-headline">お知らせ</span>
								</router-link>
							</li> -->
							<li>
								<router-link :to="'/mypage/autoship/nextdelivery'">
									<div class="member__icon-img">
										<picture>
											<source srcset="/image/base/member-icon-calendar.png,
															/image/base/member-icon-calendar_2x.png 2x">
											<img src="/image/base/member-icon-calendar.png" alt="次回お届け内容の確認・変更">
										</picture>
									</div>
								<span class="member__icon-headline">次回お届け内容の確認・変更</span>
								</router-link>
							</li>
							<li>
								<router-link :to="'/mypage/contract'">
									<div class="member__icon-img">
										<picture>
											<source srcset="/image/base/member-icon-profile.png,
															/image/base/member-icon-profile_2x.png 2x">
											<img src="/image/base/member-icon-profile.png" alt="ご契約内容の照会・変更">
										</picture>
									</div>
									<span class="member__icon-headline">ご契約内容の照会・変更</span>
								</router-link>
							</li>
							<li>
								<router-link :to="'/mypage/order/history'">
									<div class="member__icon-img">
										<picture>
											<source srcset="/image/base/member-icon-history.png,
															/image/base/member-icon-history_2x.png 2x">
											<img src="/image/base/member-icon-history.png" alt="ご注文履歴の照会">
										</picture>
									</div>
									<span class="member__icon-headline">ご注文履歴の照会</span>
								</router-link>
							</li>
							<!-- <li>
								<a href="#">
									<div class="member__icon-img">
										<picture>
											<source srcset="/image/base/member-icon-invoice.png,
															/image/base/member-icon-invoice_2x.png 2x">
											<img src="/image/base/member-icon-invoice.png" alt="請求書発行">
										</picture>
									</div>
									<span class="member__icon-headline">請求書発行</span>
								</a>
							</li> -->
							<li>
								<router-link :to="'/mypage/payment'">
									<div class="member__icon-img">
										<picture>
											<source srcset="/image/base/member-icon-payment.png,
															/image/base/member-icon-payment_2x.png 2x">
											<img src="/image/base/member-icon-payment.png" alt="お支払い方法の確認・変更">
										</picture>
									</div>
									<span class="member__icon-headline">お支払い方法の確認・変更</span>
								</router-link>
							</li>
							<li>
								<router-link :to="'/mypage/password'">
									<div class="member__icon-img">
										<picture>
											<source srcset="/image/base/member-icon-password.png,
															/image/base/member-icon-password_2x.png 2x">
											<img src="/image/base/member-icon-password.png" alt="パスワード変更">
										</picture>
									</div>
									<span class="member__icon-headline" >パスワード変更</span>
								</router-link>
							</li>
						</ul>
					</div>
				</div><!--content__area end-->

			</div>
</template>
<script>

</script>