<template>
    <footer>
        <div class="footer__wrapper">
            <div class="footer__nav">
                <div class="footer__nav-area">
                    <ul class="footer__nav-list">
                    <li><a href="/policy">プライバシーポリシー</a></li>
                    <li><a href="/transactionact">特定商取引法に基づく表記</a></li>
                    <li><a href="/terms">ご利用規約</a></li>
                    <li><a href="/company">企業情報</a></li>
                    </ul>
                </div>
            </div>
            <div class="copyright">© DEMO SPIDER All Rights Reserved.</div>
        </div>
    </footer>
</template>
