<template>
    <header class="">
       <div class="header__wrapper">
			<div class="header__logo">
				<template v-if="$store.state.auth">
					<a href="/mypage"></a>
				</template>
				<template v-else>
					<a :href="WORDPRESS_URL"></a>
				</template>
			</div>
			<div class="header__area">
				<div class="header__nav">
					<h1 class="header__headline">DEMO SPIDER SHOP</h1>
					<ul class="menu__option">
						<li class="mypage"><a href="/mypage">マイページ</a></li>
                        <li class="cart"><router-link :to="'/cart'"><span class="shoppingcart__number">{{ $store.state.item_count }}</span>カート</router-link></li>
					</ul>
				</div>
				<div class="menu__wrapper" @click="changeMenu">
					<div class="menu__area">
						<div class="menu-trigger">
							<span></span>
							<span></span>
							<span></span>
						</div>
						<span class="menu__headline">MENU</span>
					</div>
				</div><!--menu__wrapper end-->
			</div>
		</div>
    </header>
</template>
<script>
    export default {
		data: function () {
			return {
				toggle: false,
			}
        },
        created(){
        },
        methods:{
			changeMenu: function () {
				this.toggle = !this.toggle;
				if (this.toggle) {
					document.getElementsByClassName('menu__wrapper')[0].classList.add("active");
					document.body.classList.add("no-scroll");
					document.getElementsByClassName('nav__wrapper')[0].style.display = 'block';
				} else {
					document.getElementsByClassName('menu__wrapper')[0].classList.remove("active");
					document.body.classList.remove("no-scroll");
					document.getElementsByClassName('nav__wrapper')[0].style.display = 'none';
				}
			}
        },
    }
</script>