<template>
     <div class="side__wrapper">
        <div v-if="$store.state.MailModal" class="overlay__wrapper active">
            <div class="modal__wrapper active">
                <span class="alert-success">メールアドレス確認のため、下記に記入後、送信ボタンを押してください。</span>
                <br>
                <br>
                <div class="direction">
                    <div class="balloon2" v-if="ErrorFlag.mail">
                        <p>{{ ErrorMessage.mail }}</p>
                    </div>
                    <input type="email" id="mail" v-model="request.mail" @blur="checkValidate($event, request.mail, ['Require', 'Mail'])" @focus="resetValidate($event, request.mail)" autocomplete="off" placeholder="example@example.com">
                </div>
                <div class="btn__wrapper">
                    <button type="button" class="btn" @click="$store.state.MailModal = false">戻る</button>
                    <button type="button" class="btn next" @click="sendMail">送信</button>
                </div>
            </div><!--modal__wrapper end-->
        </div>
        <div class="user__panel">
            <template v-if="$store.state.auth">
                <span class="user__panel-number">お客様番号：{{ $store.state.member_id }}</span>
                <div class="user__panel-area">
                    <span class="user__panel-name">{{ $store.state.username }}</span>
                </div>
                <div class="btn__wrapper">
                    <button type="button" @click="logout" class="btn logout">ログアウト</button>
                </div>
            </template>
            <template v-else>
                <div class="btn__wrapper">
                    <a class="btn register logout" @click="$store.state.MailModal = true">新規登録</a>
                </div>
                <div class="btn__wrapper">
                    <a class="btn login" href="/shopping/login">ログイン</a>
                </div>
            </template>
        </div><!--user__panel end-->
        <div class="nav__wrapper" >
            <template v-if="$store.state.auth">
                <div class="nav__category">
                    <div class="nav__headline">
                        <div class="nav__headline-icon member"></div>
                        <span class="nav__headline-name">会員メニュー</span>
                    </div>
                    <ul class="nav__list">
                        <!-- <li><a href="#">お知らせ</a></li> -->
                        <li><router-link :to="'/mypage/contract'">ご契約内容の照会・変更</router-link></li>
                        <li><router-link :to="'/mypage/order/history'">ご注文履歴の照会</router-link></li>
                        <!-- <li><a href="#">請求書発行</a></li> -->
                        <li><router-link :to="'/mypage/password'">パスワード変更</router-link></li>
                        <li><router-link :to="'/mypage/payment'">お支払い方法の確認・変更</router-link></li>
                    </ul>
                </div><!--nav__category end-->
                <div class="nav__category">
                    <div class="nav__headline">
                        <div class="nav__headline-icon shopping"></div>
                        <span class="nav__headline-name">定期購入</span>
                    </div>
                    <ul class="nav__list">
                        <li><router-link :to="'/mypage/autoship/purchase'">{{ $store.state.username }}様の定期購入一覧</router-link></li>
                        <li><a :href="WORDPRESS_URL + '/autoship_list?category=all_item-autoship'">定期商品一覧</a></li>
                        <li><router-link :to="'/mypage/autoship/nextdelivery'">次回お届け内容の確認・変更</router-link></li>
                    </ul>
                </div>
            </template>
            <div class="nav__category">
                <div class="nav__headline">
                    <div class="nav__headline-icon shopping"></div>
                    <span class="nav__headline-name">ショッピング</span>
                </div>
                <ul class="nav__list">
                    <li v-for="(menu, index) in sidemenu" :key="index">
                        <a :href="WORDPRESS_URL + '/product_list/?category=' + menu.second_slug">{{ menu.name }}</a>
                    </li>
                    <!-- <li><router-link :to="'/product_list'">次亜塩素酸水</router-link></li>
                    <li><router-link :to="'/product_list'">スプレーボトル</router-link></li> -->
                </ul>
            </div><!--nav__category end-->
            <!-- <div class="nav__category">
                <div class="nav__headline">
                    <div class="nav__headline-icon support"></div>
                    <span class="nav__headline-name">サポート</span>
                </div>
                <ul class="nav__list">
                    <li><a href="#">マイページFAQ</a></li>
                    <li><a href="#">マイページ利用注意事項</a></li>
                    <li><a href="#">お問い合わせ</a></li>
                </ul>
            </div> -->
            <!-- <div class="nav__category">
                <div class="nav__headline">
                    <div class="nav__headline-icon campaign"></div>
                    <span class="nav__headline-name">キャンペーン</span>
                </div>
                <ul class="nav__list">
                    <li><a href="#">お友達紹介キャンペーン</a></li>
                    <li><a href="#">キャンペーンシール</a></li>
                </ul>
            </div> -->
        </div><!--nav__user end-->
    </div><!--side__wrapper end-->
</template>
<script>
    export default {
		data: function () {
			return {
                request: {mail:''},
                ErrorFlag: {mail:false},
                ErrorMessage: {mail:''},
                SendPermmision: false,
                sidemenu: [],
			}
        },
        created() {
            this.getAuth();
            this.getSession();
            this.getSidemenu();
        },
        methods : {
			getAuth: function() {
				var self = this;
				axios.post('/axios/getauth').then(res => {
					if (res.data !== '') {
						self.$store.state.username = `${res.data.first_name} ${res.data.last_name}`;
						self.$store.state.member_id = `${res.data.member_id}`;
						self.$store.state.auth = true;
					} else {
						self.$store.state.auth = false;
					}
				}).catch( error => { self.AuthCheck(error); });
			},
			getSession: function() {
				var self = this;
				axios.post('/axios/getsession').then(res => {
					self.$store.state.session = res.data._token
				}).catch( error => { self.AuthCheck(error); });
			},
			getSidemenu: function() {
				var self = this;
				axios.post('/axios/getsidemenu').then(res => {
					self.sidemenu = res.data;
				}).catch( error => { self.AuthCheck(error); });
			},
            sendMail: function() {
                var self = this;
                var promise = new Promise((resolve, reject) => {
                    if (!this.SendPermmision) {
                        throw new Error('記入内容に誤りがあります');
                    }
                    this.$store.state.ParentLoader = true;
                    this.$store.state.MailModal = false;
                    resolve();
                }).then(() => {
                    axios.post('/axios/mail/register', {mail: this.request.mail, session: this.$store.state.session, OrderLinkFlag: this.$store.state.OrderLinkFlag}).then(res => {
                        if (res.data.register_division === 2) {
                            if (this.$store.state.OrderLinkFlag) {
                                self.$store.state.success_message = 'すでに登録が完了しています 左のログインフォームからログインしてください';
                            } else {
                                self.$store.state.success_message = res.data.message;
                                setTimeout(self.JumpLogin, 3000);
                            }
                        } else if (res.data.register_division === 1) {
                            self.$store.state.success_message = res.data.message;
                            setTimeout(self.JumpRegister, 3000);
                        } else {
                            self.$store.state.success_message = res.data.message;
                            self.$store.state.ParentLoader = false;
                        }
                    }).catch( error => {  });
                }).catch((error) => {
                    this.$store.state.error_message = error;
                })
            },
            JumpLogin: function() {
                location.href = '/shopping/login';
            },
            JumpRegister: function() {
                location.href = '/register?mail=' + this.request.mail + '&OrderLinkFlag=' + this.$store.state.OrderLinkFlag;
            },
            checkValidate: function (event, value, checkArray) {
                var target = event.target.id;
                for (var i in checkArray) {
                    if (checkArray[i].match(/:/)) {
                        var split = checkArray[i].split(':');
                        checkArray[i] = split[0];
                        var count = split[1];
                    }
                    switch (checkArray[i]) {
                        case 'Require':
                            if (!this.checkRequire(value)) {
                                this.ErrorFlag[target] = true;
                                this.ErrorMessage[target] = this.validate_message[checkArray[i]];
                                return false;
                            }
                            break;
                        case 'Katakana':
                            if (!this.checkKatakana(value)) {
                                this.ErrorFlag[target] = true;
                                this.ErrorMessage[target] = this.validate_message[checkArray[i]];
                                return false;
                            }
                            break;
                        case 'Num':
                            if (!this.checkNum(value)) {
                                this.ErrorFlag[target] = true;
                                this.ErrorMessage[target] = this.validate_message[checkArray[i]];
                                return false;
                            }
                            break;
                        case 'NumDash':
                            if (!this.checkNumDash(value)) {
                                this.ErrorFlag[target] = true;
                                this.ErrorMessage[target] = this.validate_message[checkArray[i]];
                                return false;
                            }
                            break;
                        case 'NumAlpha':
                            if (!this.checkNumAlpha(value)) {
                                this.ErrorFlag[target] = true;
                                this.ErrorMessage[target] = this.validate_message[checkArray[i]];
                                return false;
                            }
                            break;
                        case 'Mail':
                            if (!this.checkMail(value)) {
                                this.ErrorFlag[target] = true;
                                this.ErrorMessage[target] = this.validate_message[checkArray[i]];
                                return false;
                            }
                            break;
                        case 'Post':
                            if (!this.checkPost(value)) {
                                this.ErrorFlag[target] = true;
                                this.ErrorMessage[target] = this.validate_message[checkArray[i]];
                                return false;
                            }
                            if (!this.PostFlag) {
                                this.ErrorFlag[target] = true;
                                this.ErrorMessage[target] = '存在しない郵便番号です';
                                return false;
                            }
                            break;
                        case 'LengthOver':
                            if (value.length < count) {
                                this.ErrorFlag[target] = true;
                                this.ErrorMessage[target] = this.validate_message[checkArray[i]].replace(':value:', count);
                                return false;
                            }
                            break;
                        case 'Length':
                            if (value.length > count) {
                                this.ErrorFlag[target] = true;
                                this.ErrorMessage[target] = this.validate_message[checkArray[i]].replace(':value:', count);
                                return false;
                            }
                            break;
                    }
                }
            },
            resetValidate: function (event, value) {
                var target = event.target.id;
                this.ErrorFlag[target] = false;
                this.ErrorMessage[target] = '';
            },
            changeSidemenuFlag: function (value) {
                this.$store.state.SidemenuFlag.ParentStatus = this.$store.state.SidemenuFlag.ParentStatus === value ? '' : value;
                this.$store.state.SidemenuFlag.ChildrenStatus = '';
            },
            logout: function () {
                axios.post('/logout').then(res => {
                    location.reload();
                }).catch( error => {  });
            }
        },
        watch:{
            'request': {
                handler: function (n, o) {
                    var Flag = [];
                    for (var i in this.ErrorFlag) {
                        if (this.ErrorFlag[i]) Flag.push(1);
                    }
                    this.SendPermmision = Flag.length === 0 ? true : false;
                },
                deep: true
            },
        }
    }
</script>
