<template>
    <div class="content__area">
        <h2 class="headline">会員登録 - 完了</h2>
        <div class="article__area">
            <p>
                会員登録が完了いたしました。<br>
                会員番号は {{$parent.member_id}} です。<br>
                会員登録完了メールをご登録されたメールアドレスへ送信しております。<br>
            </p>
        </div><!--article__area end-->
    </div>
</template>
<script>
    export default {
        created() {
            var self = this;
            window.removeEventListener("beforeunload", this.$parent.handler);
            const params = new URLSearchParams();
            params.append('mail', this.$parent.request.mail);
            params.append('password', this.$parent.request.password);
            axios.post('/login', params, {
                headers: {
                    'X-CSRF-TOKEN': document.querySelector('meta[name="csrf-token"]').getAttribute('content')
                }
            }).then((res) => {
                if (self.$store.state.OrderLinkFlag) {
                    self.$store.state.success_message = '登録が完了しました。 3秒後に注文画面へ遷移します。';
                    setTimeout(self.JumpOrder, 3000);
                } else {
                    self.$store.state.success_message = '登録が完了しました。 3秒後にショッピング画面へ遷移します。';
                    setTimeout(self.JumpShopping, 3000);
                }
            })
        },
        methods:{
            JumpOrder: function () {
                location.href = '/order';
            },
        }
    }
</script>
