<template>
    <div class="content__area">
        <h2 class="headline">会員登録 - 登録内容確認</h2>
        <div class="article__area">
            <div class="step__warper">
                <div class="step__area">
                    <picture>
                        <source srcset="/image/cart/step3.png,
                                        /image/cart/step3_2x.png 2x">
                        <img src="/image/cart/step3.png" alt="STEP1">
                    </picture>
                </div>
            </div>
            <div class="content-box__warper-order">
                <p>各項目をご確認いただき、「登録する」ボタンをクリックしてご注文を確定してください。</p>
                <div class="order-cart__warper">
                    <div class="confirmation__head-wrapper">
                        <div class="order-cart__head-headline"><span class="sub__headline">会員情報</span></div>
                        <div class="order-cart__head-edit"><span class="btn edit" @click="$emit('slide', 'Info')">変更</span></div>
                    </div>
                    <div class="confirmation__box">
                        <dl class="dl__line dotted">
                            <dt>氏名</dt><dd>{{ $parent.request.first_name }} {{ $parent.request.last_name }}</dd>
                        </dl>
                        <dl class="dl__line dotted">
                            <dt>氏名カナ</dt><dd>{{ $parent.request.first_kana_name }} {{ $parent.request.last_kana_name }}</dd>
                        </dl>
                        <dl class="dl__line dotted">
                            <dt>性別</dt><dd>{{ $store.state.config.gender[$parent.request.gender] }}</dd>
                        </dl>
                        <dl class="dl__line dotted">
                            <dt>郵便番号</dt><dd>〒{{ $parent.request.post }}</dd>
                        </dl>
                        <dl class="dl__line dotted">
                            <dt>住所</dt><dd>{{ $store.state.config.pref[$parent.request.pref] }}{{ $parent.request.city }}{{ $parent.request.addr }} {{ $parent.request.building }}</dd>
                        </dl>
                        <dl class="dl__line dotted">
                            <dt>メールアドレス</dt><dd>{{ $parent.request.mail }}</dd>
                        </dl>
                        <dl class="dl__line dotted">
                            <dt>電話番号</dt><dd>{{ $parent.request.phone }}</dd>
                        </dl>
                        <dl class="dl__line dotted">
                            <dt>パスワード</dt><dd>{{ $parent.request.password.length }}桁</dd>
                        </dl>
                    </div>
                </div><!--order-cart__warper end-->
            </div><!--content-box__warper-order end-->
            <div class="btn__wrapper">
                <span class="btn" @click="$emit('slide', 'Info')">戻る</span>
                <span class="btn next" @click="completeAction()">登録する</span>
            </div>
        </div><!--article__area end-->
    </div>
</template>

<script>
    export default {
		data: function () {
			return {
                TermsCheckFlag: false,
                NextFlag: false,
			}
        },
		methods: {
            completeAction: function () {
                var self = this;
                var promise = new Promise((resolve, reject) => {
                    if (this.$parent.RegisterLoader) {
                        // 二重Submit防止
                        throw new Error('登録中です。しばらくお待ちください。');
                    }
                    this.$parent.RegisterLoader = true;
                    resolve();
                }).then(() => {
                    axios.post('/axios/save/member', {register:this.$parent.request, session: this.$store.state.session, OrderLinkFlag: this.$store.state.OrderLinkFlag}).then((res)=>{
                        self.$emit('slide', 'Complete');
                        // self.$store.state.success_message = res.data.message;
                        self.$parent.RegisterLoader = false;
                        self.$parent.member_id = res.data.member_id;
                        // if (self.$store.state.OrderLinkFlag) {
                        //     const params = new URLSearchParams();
                        //     params.append('member_id', res.data.member_id);
                        //     params.append('password', res.data.password);
                        //     axios.post('/login', params, {
                        //         headers: {
                        //             'X-CSRF-TOKEN': document.querySelector('meta[name="csrf-token"]').getAttribute('content')
                        //         }
                        //     })
                        // }
                    });
                }).catch((e) => {
                    this.$store.state.error_message = e;
                });
            },
		},
    }
</script>
