<template>
    <div class="content__area">
        <h2 class="headline">会員登録 - 会員情報</h2>
        <div class="article__area">
            <div class="step__warper">
                <div class="step__area">
                    <picture>
                        <source srcset="/image/cart/step2.png,
                                        /image/cart/step2_2x.png 2x">
                        <img src="/image/cart/step2.png" alt="STEP2">
                    </picture>
                </div>
            </div>
            <div class="content-box__warper-order">
                <p>各項目をご選択いただき、「次へ進む」ボタンをクリックしてください。</p>
                <dl class="dl__line dotted">
                    <div>
                        <dt class="required">会員区分</dt>
                        <dd>
                            <select v-model="$parent.request.member_division" @change="changeMemberDivision">
                                <option v-for="(value, index) in $store.state.config.member_division" v-bind:value="index" v-bind:key="index">
                                    {{ value }}
                                </option>
                            </select>
                        </dd>
                    </div>
                    <div v-if="$parent.request.member_division == 2">
                        <dt class="required">会社名</dt>
                        <dd>
                            <div class="direction">
                                <div class="balloon2" v-if="$parent.ErrorFlag.company_name">
                                    <p>{{ $parent.ErrorMessage.company_name }}</p>
                                </div>
                                <input type="text" id="company_name" v-model="$parent.request.company_name" @blur="checkValidate($event, $parent.request.company_name)" @focus="resetValidate($event, $parent.request.company_name)" autocomplete="off">
                            </div>
                        </dd>
                    </div>
                    <div>
                        <dt class="required">姓</dt>
                        <dd>
                            <div class="direction">
                                <div class="balloon2" v-if="$parent.ErrorFlag.first_name">
                                    <p>{{ $parent.ErrorMessage.first_name }}</p>
                                </div>
                                <input type="text" id="first_name" v-model="$parent.request.first_name" @blur="checkValidate($event, $parent.request.first_name)" @focus="resetValidate($event, $parent.request.first_name)" autocomplete="off">
                            </div>
                        </dd>
                    </div>
                    <div>
                        <dt class="required">名</dt>
                        <dd>
                            <div class="direction">
                                <div class="balloon2" v-if="$parent.ErrorFlag.last_name">
                                    <p>{{ $parent.ErrorMessage.last_name }}</p>
                                </div>
                                <input type="text" id="last_name" v-model="$parent.request.last_name" @blur="checkValidate($event, $parent.request.last_name)" @focus="resetValidate($event, $parent.request.last_name)" autocomplete="off">
                            </div>
                        </dd>
                    </div>
                    <div>
                        <dt class="required">姓(カタカナ)</dt>
                        <dd>
                            <div class="direction">
                                <div class="balloon2" v-if="$parent.ErrorFlag.first_kana_name">
                                    <p>{{ $parent.ErrorMessage.first_kana_name }}</p>
                                </div>
                                <input type="text" id="first_kana_name" v-model="$parent.request.first_kana_name" @blur="checkValidate($event, $parent.request.first_kana_name)" @focus="resetValidate($event, $parent.request.first_kana_name)" autocomplete="off" placeholder="カタカナ">
                            </div>
                        </dd>
                    </div>
                    <div>
                        <dt class="required">名(カタカナ)</dt>
                        <dd>
                            <div class="direction">
                                <div class="balloon2" v-if="$parent.ErrorFlag.last_kana_name">
                                    <p>{{ $parent.ErrorMessage.last_kana_name }}</p>
                                </div>
                                <input type="text" id="last_kana_name" v-model="$parent.request.last_kana_name" @blur="checkValidate($event, $parent.request.last_kana_name)" @focus="resetValidate($event, $parent.request.last_kana_name)" autocomplete="off" placeholder="カタカナ">
                            </div>
                        </dd>
                    </div>
                    <div>
                        <dt class="required">性別</dt>
                        <dd>
                            <select v-model="$parent.request.gender">
                                <option v-for="(value, index) in $store.state.config.gender" v-bind:value="index" v-bind:key="index">
                                    {{ value }}
                                </option>
                            </select>
                        </dd>
                    </div>
                    <div>
                        <dt class="required">郵便番号</dt>
                        <dd>
                            <div class="direction">
                                <div class="balloon2" v-if="$parent.ErrorFlag.post">
                                    <p>{{ $parent.ErrorMessage.post }}</p>
                                </div>
                                <input type="tel" id="post" v-model="$parent.request.post" @blur="checkValidate($event, $parent.request.post)" @focus="resetValidate($event, $parent.request.post)" autocomplete="off" placeholder="000-0000">
                            </div>
                        </dd>
                    </div>
                    <div>
                        <dt class="required">都道府県</dt>
                        <dd>
                            <select v-model="$parent.request.pref">
                                <option v-for="(value, index) in $store.state.config.pref" v-bind:value="index" v-bind:key="index">
                                    {{ value }}
                                </option>
                            </select>
                        </dd>
                    </div>
                    <div>
                        <dt class="required">市区町村</dt>
                        <dd>
                            <div class="direction">
                                <div class="balloon2" v-if="$parent.ErrorFlag.city">
                                    <p>{{ $parent.ErrorMessage.city }}</p>
                                </div>
                                <input type="text" id="city" v-model="$parent.request.city" @blur="checkValidate($event, $parent.request.city)" @focus="resetValidate($event, $parent.request.city)" autocomplete="off">
                            </div>
                        </dd>
                    </div>
                    <div>
                        <dt class="required">番地</dt>
                        <dd>
                            <div class="direction">
                                <div class="balloon2" v-if="$parent.ErrorFlag.addr">
                                    <p>{{ $parent.ErrorMessage.addr }}</p>
                                </div>
                                <input type="text" id="addr" v-model="$parent.request.addr" @blur="checkValidate($event, $parent.request.addr)" @focus="resetValidate($event, $parent.request.addr)" autocomplete="off">
                            </div>
                        </dd>
                    </div>
                    <div>
                        <dt>建物名</dt>
                        <dd><input type="text" v-model="$parent.request.building"></dd>
                    </div>
                    <div>
                        <dt class="required">メールアドレス(注文者様)</dt>
                        <dd>
                            <div class="direction">
                                <div class="balloon2" v-if="$parent.ErrorFlag.mail">
                                    <p>{{ $parent.ErrorMessage.mail }}</p>
                                </div>
                                <input type="email" id="mail" v-model="$parent.request.mail" @blur="checkValidate($event, $parent.request.mail)" @focus="resetValidate($event, $parent.request.mail)" autocomplete="off" placeholder="example@example.com" disabled>
                            </div>
                        </dd>
                    </div>
                    <div>
                        <dt class="required">電話番号</dt>
                        <dd>
                            <div class="direction">
                                <div class="balloon2" v-if="$parent.ErrorFlag.phone">
                                    <p>{{ $parent.ErrorMessage.phone }}</p>
                                </div>
                                <input type="tel" id="phone" v-model="$parent.request.phone" @blur="checkValidate($event, $parent.request.phone)" @focus="resetValidate($event, $parent.request.phone)" autocomplete="off" placeholder="数字のみ">
                            </div>
                        </dd>
                    </div>
                    <div>
                        <dt class="required">パスワード</dt>
                        <dd>
                            <div class="direction">
                                <div class="balloon2" v-if="$parent.ErrorFlag.password">
                                    <p>{{ $parent.ErrorMessage.password }}</p>
                                </div>
                                <input type="text" id="password" v-model="$parent.request.password" @blur="checkValidate($event, $parent.request.password)" @focus="resetValidate($event, $parent.request.password)" autocomplete="off" placeholder="半角英数字4~12文字以内">
                            </div>
                        </dd>
                    </div>
                </dl>
            </div>
            <div class="btn__wrapper">
                <button type="button" class="btn" @click="$emit('slide', 'Terms')">戻る</button>
                <button type="button" class="btn next" @click="NextSlide">入力内容を確認</button>
            </div>
        </div><!--article__area end-->
    </div><!--content__area end-->
</template>

<script>

    export default {
		data: function () {
			return {
			}
		},
        methods:{
            changeMemberDivision: function () {
                this.$parent.ErrorFlag['company_name'] = false;
                this.$parent.ErrorMessage['company_name'] = '';
            },
            checkValidate: function (event, value) {
                var target = event.target.id;
                this.Validation(target, value);
            },
            resetValidate: function (event, value) {
                var target = event.target.id;
                this.$parent.ErrorFlag[target] = false;
                this.$parent.ErrorMessage[target] = '';
            },
            Validation: function (target, value) {
                var checkArray = this.$parent.checkArray[target];
                for (var i in checkArray) {
                    if (checkArray[i].match(/:/)) {
                        var split = checkArray[i].split(':');
                        checkArray[i] = split[0];
                        var count = split[1];
                    }
                    switch (checkArray[i]) {
                        case 'Require':
                            if (!this.checkRequire(value)) {
                                this.$parent.ErrorFlag[target] = true;
                                this.$parent.ErrorMessage[target] = this.validate_message[checkArray[i]];
                                return false;
                            }
                            break;
                        case 'RequireOnce':
                            if (target === 'company_name') {
                                if (!this.checkRequire(value) && this.$parent.request.member_division == '2') {
                                    this.$parent.ErrorFlag[target] = true;
                                    this.$parent.ErrorMessage[target] = this.validate_message[checkArray[i]].replace(':value:', '会員区分が法人');
                                    return false;
                                }
                            }
                            break;
                        case 'Katakana':
                            if (!this.checkKatakana(value)) {
                                this.$parent.ErrorFlag[target] = true;
                                this.$parent.ErrorMessage[target] = this.validate_message[checkArray[i]];
                                return false;
                            }
                            break;
                        case 'Num':
                            if (!this.checkNum(value)) {
                                this.$parent.ErrorFlag[target] = true;
                                this.$parent.ErrorMessage[target] = this.validate_message[checkArray[i]];
                                return false;
                            }
                            break;
                        case 'NumDash':
                            if (!this.checkNumDash(value)) {
                                this.$parent.ErrorFlag[target] = true;
                                this.$parent.ErrorMessage[target] = this.validate_message[checkArray[i]];
                                return false;
                            }
                            break;
                        case 'NumAlpha':
                            if (!this.checkNumAlpha(value)) {
                                this.$parent.ErrorFlag[target] = true;
                                this.$parent.ErrorMessage[target] = this.validate_message[checkArray[i]];
                                return false;
                            }
                            break;
                        case 'Mail':
                            if (!this.checkMail(value)) {
                                this.$parent.ErrorFlag[target] = true;
                                this.$parent.ErrorMessage[target] = this.validate_message[checkArray[i]];
                                return false;
                            }
                            break;
                        case 'Post':
                            if (!this.checkPost(value)) {
                                this.$parent.ErrorFlag[target] = true;
                                this.$parent.ErrorMessage[target] = this.validate_message[checkArray[i]];
                                return false;
                            }
                            if (!this.$parent.PostFlag) {
                                this.$parent.ErrorFlag[target] = true;
                                this.$parent.ErrorMessage[target] = '存在しない郵便番号です';
                                return false;
                            }
                            break;
                        case 'LengthOver':
                            if (value.length < count) {
                                this.$parent.ErrorFlag[target] = true;
                                this.$parent.ErrorMessage[target] = this.validate_message[checkArray[i]].replace(':value:', count);
                                return false;
                            }
                            break;
                        case 'Length':
                            if (value.length > count) {
                                this.$parent.ErrorFlag[target] = true;
                                this.$parent.ErrorMessage[target] = this.validate_message[checkArray[i]].replace(':value:', count);
                                return false;
                            }
                            break;
                    }
                }

            },
            NextSlide: function () {
                var promise = new Promise((resolve, reject) => {
                    for (var i in this.$parent.request) {
                        this.Validation(i, this.$parent.request[i]);
                    }
                    resolve();
                });
                promise.then(() => {
                    for (var i in this.$parent.ErrorFlag) {
                        if (this.$parent.ErrorFlag[i]) throw new Error('入力内容に誤りがあります');
                    }
                    this.$emit('slide', 'Confirm');
                }).catch((error) => {
                    this.$store.state.error_message = error;
                });
            },
        },
        watch: {
            '$parent.request.post': function(n, o) {
                if (n == null || o == null) return false;
                let self = this;
                var promise = new Promise((resolve, reject) => {
                    this.$parent.request.post = this.FormatPost(n, o);
                    resolve();
                });
                promise.then(() => {
                    if (n.length === 8) {
                        new YubinBango.Core(n, function(addr) {
                            if (addr.region_id === '') {
                                self.$parent.request.pref = 1;
                                self.$parent.request.city = '';
                                self.$parent.request.addr = '';
                                self.$parent.PostFlag = false;
                            } else {
                                self.$parent.request.pref = addr.region_id;
                                self.$parent.request.city = addr.locality;
                                self.$parent.request.addr = addr.street;
                                self.$parent.PostFlag = true;
                            }
                        })
                    }
                });
            },
        },
    }
</script>
