<template>
    <div class="content__area">
        <h2 class="headline">会員登録 - 利用規約</h2>
        <div class="article__area">
            <div class="step__warper">
                <div class="step__area">
                    <picture>
                        <source srcset="/image/cart/step1.png,
                                        /image/cart/step1_2x.png 2x">
                        <img src="/image/cart/step1.png" alt="STEP1">
                    </picture>
                </div>
            </div>
            <div class="content-box__warper-order">
                <p>利用規約をご確認いただき、「同意する」にチェック後、「登録情報の入力」ボタンをクリックしてご注文を確定してください。</p>
                <div class="element__scroll element__height-500">
                    <span class="sub__headline">第1章</span><br>
                    <br>
                    第1条（本規約）<br>
                    <br>
                    本規約は、株式会社グランブルー（以下「甲」という）が提供する最新商品情報等（以下「本サービス」という）を、登録申請者（会員）（以下「乙」という）が利用することについて定めたものである。<br>
                    <br>
                    第2条（入会の承認・不承認）<br>
                    <ul class="list__number">
                        <li>乙は、本規約を承認の上、甲が別に定める手続に従って登録を申請することにより、本サービスの利用を申し込むものとする。</li>
                        <li>甲は、前項に従い乙より登録申請を受けた場合、必要な手続、審査等を行った上で、当該登録申請を承認するかどうかを決定するものとする。</li>
                        <li>甲が前項に従って登録申請を承認した場合、甲は、乙に対し、すみやかに通知するものとする。</li>
                        <li>本規約を含む甲と乙との間の本サービス利用契約（以下「本契約」という）は、甲が前項の通知を行った時点で成立するものとし、乙は当該時点をもって会員となるものとする。</li>
                        <li>甲は、登録申請を却下した場合、乙に対し一切責任を負わないものとし、かつ、登録申請を却下した理由を乙に説明または開示する義務を行わないものとする。</li>
                    </ul>
                    <br>
                    第3条（届出事項の変更）<br>
                    <br>
                    乙は、登録申請に際して甲に届け出ている事項に変更が生じた場合、甲が別に定める方法により、かかる変更内容をすみやかに甲に届出るものとする。<br>
                    <br>
                    第4条（退会および会員資格の取消）<br>
                    <ul class="list__number">
                        <li>乙は、甲が別に定める退会手続を経ることにより、いつでも自由に退会できるものとする。</li>
                        <li>
                            乙が以下の各号の一に該当する場合、甲は、事前に通知することなく、ただちに会員資格を取り消すことができるものとする。<br>
                            (1)本規約の禁止事項に記載されている行為その他本規約に違反する行為を行った場合。<br>
                            (2)甲への届出内容に虚偽があった場合。<br>
                            (3)前各号のほか、会員資格を維持することが不適当であるかまたは本サービスの提供に支障があると甲が判断した場合。
                        </li>
                        <li>甲は、前項に従い乙の資格を取り消した場合であっても、乙に対して一切責任を負わないものとし、乙は資格の取消時点において所有している権利の一切を放棄するものとします。</li>
                    </ul>
                    <br>
                    <span class="sub__headline">第2章　会員義務</span><br>
                    <br>
                    第1条（個人認証情報の管理責任）<br>
                    <ul class="list__number">
                        <li>乙は、メールアドレス、本サービスの利用のために甲が付与するパスワード、自己の設定したパスワード等（以下「個人認証情報」という）について、自己の責任において管理するものとする。</li>
                        <li>甲は、乙の個人認証情報が第三者に使用されたことによって乙が被る損害について、乙の故意過失の有無にかかわらず一切責任を負わないものとする。</li>
                    </ul>
                    <br>
                    第2条（自己責任）<br>
                    <ul class="list__number">
                        <li>乙は、乙による本サービスの利用とそのサービスを利用してなされた一切の行為とその結果について一切の責任を負うものとする。</li>
                        <li>2.乙は、本サービスの利用により甲または第三者に対し損害を与えた場合（乙が、本規約上の義務を履行しないことにより甲または第三者が損害を被った場合を含みます）、自己の責任と費用をもってかかる損害を賠償するものとする。</li>
                    </ul>
                    <br>
                    第3条（情報の利用禁止）<br>
                    <ul class="list__number">
                        <li>乙は、本サービスに基づき甲から提供される情報（以下「本件情報」という）につき、著作権法で定める購入者個人の私的使用の範囲外で使用してはならないものとする。</li>
                        <li>乙は、有償無償を問わず、権利者の許諾を得ないで、第三者に本件情報を使用させてはならないものとする。</li>
                        <li>本条の規定に違反して問題が発生した場合、乙は、自己の費用と責任においてかかる問題を解決するとともに、甲に何等の迷惑または損害を与えないものとする。</li>
                    </ul>
                    <br>
                    第4条（営業活動の禁止）<br>
                    <br>
                    乙は、本サービスまたは本件情報を、営業活動その他の営利を目的とした行為またはその準備行為利用してはならないものとする。<br>
                    <br>
                    第5条（その他の禁止事項）<br>
                    <br>
                    乙は、本サービスの利用にあたって以下の行為を行ってはならないものとする。<br>
                    <ul class="list__number">
                        <li>甲、他の会員またはその他の第三者の著作権その他の権利を侵害する場合または侵害するおそれのある行為。</li>
                        <li>甲、他の会員またはその他の第三者の財産もしくはプライバシーを侵害する行為または侵害するおそれのある行為。</li>
                        <li>甲、他の会員またはその他の第三者に不利益または損害を与える行為またはそのおそれのある行為。</li>
                        <li>公序良俗に反する行為またはそのおそれのある行為。</li>
                        <li>犯罪的行為もしくは犯罪的行為に結びつく行為またはそのおそれのある行為。</li>
                        <li>甲の承認のない本サービスに関連する営利を目的とする行為またはその準備を目的とする行為。</li>
                        <li>本サービスの運営を妨げる行為またはそのおそれのある行為。</li>
                        <li>本サービスの信用を毀損する行為またはそのおそれのある行為。</li>
                        <li>第三者の電子メールアドレスを登録する等甲に対して虚偽の申告、届出を行う行為。</li>
                        <li>本サービスを通じてまたは本サービスに関連してコンピュータウィルス等有害なプログラムを使用するまたは提供する行為またはそのおそれのある行為。</li>
                        <li>法令に違反するまたは違反するおそれのある行為。</li>
                        <li>その他、甲が不適当と判断する行為。</li>
                    </ul>
                    <br>
                    <span class="sub__headline">第3章　本サービスの運営</span><br>
                    <br>
                    第1条（サービスの停止）<br>
                    <ul class="list__number">
                        <li>天災、事変、その他の非常事態が発生しまたは発生するおそれがある場合、または、本サービスに関連して甲または運営保守受託企業が本サービスの提供のために使用される設備の保守を定期的にもしくは緊急に行う場合、甲は、自らの判断により、乙に対する本サービスの提供の全部または一部を中断および中止することができるものとする。</li>
                        <li>前項のほか、甲は、本サービスの全部または一部の提供を中止することがある。</li>
                    </ul>
                    <br>
                    第2条（サービスの範囲）<br>
                    <ul class="list__number">
                        <li>本サービスは、当該本サービスの提供の時点で、提供することが合理的に可能な範囲に限られるものとする。</li>
                        <li>甲は、本サービスの利用により発生した乙の損害、およびサービスを利用できなかったことにより発生した乙または第三者の損害に対し、本規約に特に定める場合または甲に故意または重過失がある場合を除き、一切責任も負わないものとする。</li>
                    </ul>
                    <br>
                    <span class="sub__headline">第4章　個人情報の保護および通信の秘密の確保</span><br>
                    <br>
                    第1条（乙の情報）<br>
                    <ul class="list__number">
                        <li>ご登録いただいた乙の個人情報は社外に流出させない様、プライバシーポリシーに基づき、当店が厳重に管理する。</li>
                        <li>当サイトでは、乙のオートログイン機能を有効にするためブラウザのクッキー（Cookie）を使用し、一部の乙の情報を一時的にクッキーに保存するもとのとする。Cookie利用の目的は乙の機能サポートのみに利用する。</li>
                        <li>乙は、本サービスに基づき甲に登録した自己の電子メールアドレスおよびその他の個人情報を、甲が本サービスを提供する目的で利用することに同意するものとする。</li>
                    </ul>
                    <br>
                    <span class="sub__headline">第5章　その他</span><br>
                    <br>
                    第1条（本規約の変更）<br>
                    <ul class="list__number">
                        <li>本サービスは、適時本規約を変更することができるものとする。</li>
                        <li>変更された本規約が本サービスのホームページ上において発表された後、一週間以内に乙が甲の指定する手続に従って退会手続を行わない限り、乙によって承諾されたものとみなす。その時点をもって乙と甲との間の本サービスご利用規約も有効に変更されるものとする。</li>
                    </ul>
                    <br>
                    第2条（通知）<br>
                    <ul class="list__number">
                        <li>本規約に基づく甲から乙に対する通知その他の連絡は、電子メールまたは書面をもって行うものとする。この場合、甲は、登録された乙の連絡先に通知することをもって通知が行われたものとみなす。</li>
                        <li>甲は、乙全員に対する通知に関しては、本サービスのホームページ上に通知内容を公表することをもって、第1項の通知に代えることができるものとする。この場合、公表の時点をもって、通知が到達したものとみなす。</li>
                        <li>本規約に基づく乙から甲に対する通知その他の連絡は、甲の電子メールアドレスに対する電子メールによるものとする。</li>
                        <li>前項の通知は、甲が判読できる状態で当該電子メールが甲に到達した時点をもって、甲に到達したものとする。</li>
                    </ul>
                    <br>
                    第3条（準拠法）<br>
                    <br>
                    本規約の成立、効力、履行および解釈には、日本国内法が適用されるものとする。<br>
                    <br>
                    第4条（合意管轄）<br>
                    <br>
                    本契約を巡る一切の紛争は、千葉地方裁判所をもって第一審の管轄裁判所とするものとする。<br>
                    <br>
                    第5条（協議）<br>
                    <br>
                    本サービスに関して乙と甲との間で問題が生じた場合には、甲は乙と甲で誠意をもって協議しその解決に努めるものとする。<br>
                    <br>
                    第6条（その他の事項）<br>
                    <br>
                    乙は、本規約に定めのない事項について、甲が別に定めるところに従うものとする。<br>
                    <br>
                    第7条（附則）<br>
                    <br>
                    本規約は令和2年5月1日から実施するものとする。<br>
                </div>
            </div><!--content-box__warper-order end-->
            <div class="btn__wrapper">
				<input id="agree_check" type="checkbox" @click="AgreeCheck"><label for="agree_check">{{ TermsCheckFlag ? '同意する' : '会員規約を最後までお読み下さい' }}</label>
            </div>
            <div class="btn__wrapper">
                <span class="btn next" @click="NextSlide">登録情報の入力</span>
            </div>
        </div><!--article__area end-->
    </div>
</template>
<script>
    export default {
		data: function () {
			return {
                TermsCheckFlag: true,
                NextFlag: false,
			}
        },
		methods: {
            scrollTerms: function (event) {
                if (event.target.clientHeight + event.target.scrollTop === event.target.scrollHeight) {
                    this.TermsCheckFlag = true;
                }
            },
            AgreeCheck: function (event) {
                if (this.TermsCheckFlag) {
                    this.NextFlag = event.target.checked;
                } else {
                    event.target.checked = false;
                    this.$store.state.error_message = '会員規約を最後までお読み下さい';
                }
            },
            NextSlide: function () {
                if (this.NextFlag) {
                    this.$emit('slide', 'Info');
                } else {
                    this.$store.state.error_message = this.TermsCheckFlag ? '会員規約への同意をして下さい' : '会員規約を最後までお読み下さい';
                }
            }
		},
    }
</script>
