<template>
    <div class="content__wrapper">
		<div class="content__area">
			<h2 class="headline">ショッピングカート</h2>
			<div class="article__area">
				<div class="cart-line__wrapper">
					<ul class="cart-line__list">
						<li class="cart-line__name">商品名</li>
						<li class="cart-line__price">価格</li>
						<li class="cart-line__number">数量</li>
						<li class="cart-line__subtotal">小計</li>
					</ul>
				</div><!--header-line__wrapper end-->
				<div class="cart__warper">
					<div class="loader__wrapper" v-if="Loader">
						<div class="boxes">
							<div class="box">
								<div></div>
								<div></div>
								<div></div>
								<div></div>
							</div>
							<div class="box">
								<div></div>
								<div></div>
								<div></div>
								<div></div>
							</div>
							<div class="box">
								<div></div>
								<div></div>
								<div></div>
								<div></div>
							</div>
							<div class="box">
								<div></div>
								<div></div>
								<div></div>
								<div></div>
							</div>
						</div>
					</div>
					<div class="loader__wrapper" style="background-color: #eee; margin-bottom: 20px;" v-if="!Loader && Product.length === 0">
						<None message="カートに商品が入っていません。"></None>
					</div>
					<ul>
						<li v-for="(item, index) in Product" :key="index" :data-index="index">
							<div class="cart__box"><img :src="item.file_url != null ? $store.state.manage_url + item.file_url : '/image/product/noimage.png'" alt=""></div>
							<div class="cart__box-area">
								<div class="cart__neme">{{ item.item_main_name }}</div>
								<div class="cart__price">¥{{ item.selling_price.toLocaleString() }}<span>（{{ item.tax_division == '2' ? '税抜' : '税込' }}）</span></div>
								<div class="cart__number">
									<span>数量</span>
									<div class="quantity">
										<input type="number" :value="item.item_count" readonly>
										<div class="quantity-nav">
											<div class="quantity-button quantity-up" @click="ItemPlus(index)">+</div>
											<div class="quantity-button quantity-down" @click="ItemMinus(index)">-</div>
										</div>
									</div>
								</div>
								<div class="cart__subtotal">¥{{ (item.selling_price * item.item_count).toLocaleString() }}</div>
								<div class="cart__btn-delete"><span class="btn edit" @click="DeleteProduct(item, index)">削除</span></div>
							</div>
						</li>
					</ul>
					<div class="total__warper">
						<dl class="dl__total">
							<div class="total">
								<dt>小計<span>（{{ $store.state.item_count }}点）</span></dt>
								<dd>¥&nbsp;{{ subtotal.toLocaleString() }}</dd>
							</div>
						</dl>
					</div><!--total__warper end-->
					<div class="btn__wrapper">
						<span class="btn" @click="JumpShopping">ショッピングに戻る</span>
						<span class="btn next" v-if="Product.length > 0" @click="changeTransition">レジに進む</span>
					</div>
				</div><!--cart__warper end-->
			</div><!--article__area end-->
		</div><!--content__area end-->
	</div>
</template>
<script>
	import None from "../../components/None.vue"
    export default {
		data: function () {
			return {
				Product:[],
				Loader:false,
			}
		},
		methods: {
			DeleteProduct(item, index) {
                var promise = new Promise((resolve, reject) => {
					this.Product.splice(index, 1);
                    resolve();
                });
                promise.then(() => {
					this.saveItem();
                });
			},
			saveItem() {
				this.$store.commit('start_process');
				var self = this;
				axios.post('/axios/saveproduct', {'item': this.Product, session:this.$store.state.session}).then(function (res) {
					if (res.data.error_message) {
						self.$store.state.error_message = res.data.error_message;
					}
					self.$store.commit('end_process');
					self.$store.dispatch('getItemCountAction');
				}).catch(error => {
					self.AuthCheck(error);
				});
			},
            ItemPlus(index) {
				var count = this.Product[index].item_count;
                var promise = new Promise((resolve, reject) => {
                    resolve(index);
                })
                promise.then((index) => {
					this.Product[index].item_count = Number(count) + 1;
					var item_count = 0;
					this.Product.forEach(function(value) {
						item_count += value.item_count;
					})
                }).then((index) => {
					this.saveItem();
                })

            },
            ItemMinus(index) {
                var promise = new Promise((resolve, reject) => {
					var count = this.Product[index].item_count;
					if (Number(count) <= 1) {
						this.Product[index].item_count = 1;
					} else {
						this.Product[index].item_count = Number(count) - 1;
					}
                    resolve(index);
				})
				promise.then((index) => {
					this.saveItem();
                })
			},
			getProduct() {
				var self = this;
				axios.post('/axios/getuserproduct', {session:this.$store.state.session}).then(function (res) {
					self.Product = res.data;
					self.Loader = false;
					self.$store.commit('end_process');
				}).catch(error => {
					self.AuthCheck(error);
				});
			},
			changeTransition: function() {
				if (this.$store.state.auth) {
					this.$router.push({path:'/order'});
				} else {
					this.$router.push({path:'/shopping/login'});
				}
			}
		},
        created() {
            this.$store.commit('start_process');
			this.Loader = true;
			if (this.$store.state.session !== '') {
				this.getProduct();
			} else {
				eventHub.$on('construct', this.getProduct);
			}
		},
		computed: {
			Item:{
				get () { return this.Product; },
				set (value) { this.Product = value; }
			},
			subtotal() {
				var subtotal = 0;
				this.Product.forEach(function(value) {
					subtotal += value.selling_price * value.item_count;
				})
				return subtotal;
			},
			tax() {
				var tax = 0;
				this.Product.forEach(function(value) {
					if (value.tax_division == '2') {
						tax += (Math.floor(value.selling_price * this.$store.state.config.tax_rate_division[value.tax_rate_division])) * value.item_count;
					}
				})
				return tax;
			}
		},
		components: {
			None
		},
    }
</script>
