<template>
    <div class="content__wrapper">
				<div class="content__area">
					<h2 class="headline">ご購入手続き - 送付情報</h2>
					<div class="article__area">
						
						<div class="step__warper">
							<div class="step__area">
								<picture>
									<source srcset="/image/cart/step1.png,
													/image/cart/step1_2x.png 2x">
									<img src="/image/cart/step1.png" alt="STEP1">
								</picture>
							</div>
						</div>						
						
						<div class="content-box__warper-order">
							
							<p>各項目をご選択いただき、「次へ進む」ボタンをクリックしてください。</p>
							
							<div class="order-cart__warper">
								<span class="sub__headline">送付先情報</span>
								
								<ul class="order-cart__address-list">
									<li>
										<div class="order-cart__box-warper-address">
											<div class="order-cart__box-label">
												<ul class="list-box__column">
													<li><input type="radio" name="example" value="選択肢1" id="radio-sample111" checked="" class="active"><label for="radio-sample111">登録送付先</label></li>
												</ul>
											</div>
											<div class="order-cart__box-overview"><span class="text__bold">Momentum Architect株式会社</span><br>
												〒111-0052<br>
												東京都台東区柳橋1-8-5　ときわビル3F<br>
												TEL:03-5835-0443
											</div>
										</div><!--order-cart__box-warper-address end-->
									</li>
									<li>
										<div class="order-cart__box-warper-address">
											<div class="order-cart__box-label">
												<ul class="list-box__column">
													<li><input type="radio" name="example" value="選択肢1" id="radio-sample222" checked="" class="active"><label for="radio-sample222">臨時送付先</label></li>
												</ul>
											</div>
											<dl class="dl__cart">
												<div>
													<dt class="required">氏名</dt>
													<dd>
														<div class="valid__area-wrap">
															<div class="valid-input">
																<input id="first_name" type="text" placeholder="姓" class="form-control is-invalid">
															</div>
															<div class="valid-input">
																<input id="last_name" type="text" placeholder="名" class="form-control is-invalid">
															</div>
														</div>
													</dd>
												</div>
												<div>
													<dt class="required">氏名カナ</dt>
													<dd>
														<div class="valid__area-wrap">
															<div class="valid-input">
																<input id="first_kana_name" type="text" placeholder="姓(カタカナ)" class="form-control is-invalid">
															</div>
															<div class="valid-input">
																<input id="last_kana_name" type="text" placeholder="名(カタカナ)" class="form-control is-invalid">
															</div>
														</div>
													</dd>
												</div>
												<div>
													<dt>会社名</dt>
													<dd>
														<input id="company_name" type="text" placeholder="株式会社XXX" class="form-control is-valid">
													</dd>
												</div>
												<div>
													<dt class="required">
														住所														
													</dt>
													<dd>
														<div class="valid__area">
															〒&nbsp;<input id="posttop" type="text" placeholder="郵便番号" maxlength="3" class="form-control is-invalid-small" style="width: 70px;">&nbsp;-&nbsp;<input id="postbottom" type="text" placeholder="郵便番号" maxlength="4" class="form-control is-invalid-small" style="width: 85px;">
															<span class="btn post">郵便番号から住所検索</span>
														</div>
														<div class="valid__area">
															<input id="pref" type="text" placeholder="都道府県" class="form-control is-invalid">
														</div>
														<div class="valid__area">
															<input id="city" type="text" placeholder="市区町村" class="form-control is-invalid">
														</div>
														<div class="valid__area">
															<input id="addr" type="text" placeholder="999番地1" class="form-control is-invalid">
														</div>
														<div class="valid__area">
															<input type="text" placeholder="XXX ビル4F" class="form-control is-valid">
															<ul class="list__asterisk">
																<li>様方を利用する際は、住所の末尾にお名前と様方をご入力ください<br>例：中瀬2-6 山田 太郎 様方</li>
															</ul>
														</div>
													</dd>
												</div>
												<div>
													<dt class="required">電話番号</dt>
													<dd>
														<input id="tel1" type="text" placeholder="000" class="form-control is-invalid-small" style="width: 50px;">&nbsp;-&nbsp;<input id="tel2" type="text" placeholder="0000" class="form-control is-invalid-small" style="width: 57px;">&nbsp;-&nbsp;<input id="tel3" type="text" placeholder="0000" class="form-control is-invalid-small" style="width: 57px;">
													</dd>
												</div>
											</dl>
										</div><!--order-cart__box-warper-address end-->
									</li>
								</ul>
							</div><!--order-cart__warper end-->
							
							<div class="order-cart__warper">
								<div class="sub__headline">配達日指定</div>
								<p>お届け日は本日より5日以降から1週間以内でご指定いただけます。</p>
								<div class="delivery-time__warper">									
									<select name="delivery-time">
										<option value="指定なし">指定なし</option>
										<option value="4月1日">4月1日</option>
										<option value="4月2日">4月2日</option>
										<option value="4月3日">4月3日</option>
										<option value="4月4日">4月4日</option>
										<option value="4月5日">4月5日</option>
										<option value="4月6日">4月6日</option>
										<option value="4月7日">4月7日</option>
									</select>
								</div>
							</div><!--order-cart__warper end-->
							
							<div class="order-cart__warper">
								<div class="sub__headline">配達時間指定</div>
								<div class="delivery-time__warper">
									<select name="delivery-time">
										<option value="未指定">未指定</option>
										<option value="午前中">午前中</option>
										<option value="12時～14時">12時～14時</option>
										<option value="14時～16時">14時～16時</option>
										<option value="16時～18時">16時～18時</option>
										<option value="19～21時以降">19～21時</option>
									</select>
								</div>
								<div class="request__warper">
									<p>ご意見んご要望があればご記入ください（１２０文字以内）</p>
									<textarea name="request" class="request__textarea" placeholder="サンプル"></textarea>
								</div>
							</div><!--order-cart__warper end-->
						</div><!--content-box__warper-order end-->
						
						<div class="btn__wrapper"><span class="btn">戻る</span><span class="btn next">お支払方法選択へ進む</span></div>
						
				  </div><!--article__area end-->
					
				</div><!--content__area end-->
				
			</div>
</template>