<template>
    <div class="content__wrapper">
        <div class="loader__wrapper" v-if="RegisterLoader">
            <div class="boxes">
                <div class="box">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div class="box">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div class="box">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div class="box">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
        <transition :name="animation">
            <keep-alive>
                <component v-bind:is="currentTabComponent" @slide="SlideOrder" v-if="!RegisterLoader"></component>
            </keep-alive>
        </transition>
    </div><!--content__wrapper end-->
</template>
<script>
	import Guest from './OrderChildren/Guest.vue';
	import Info from './OrderChildren/Info.vue';
	import Payment from './OrderChildren/Payment.vue';
	import Confirm from './OrderChildren/Confirm.vue';
    import Complete from './OrderChildren/Complete.vue';

    import { request, checkArray } from '../js/order/register';

    export default {
		data: function () {
			return {
                currentTab: '',
                mode_array: [
                    'Guest',
                    'Info',
                    'Payment',
                    'Confirm',
                    'Complete',
                ],
                animation: 'step-before',
                slideFlag : false,
                request: {...request},
                ErrorFlag: {...request},
                ErrorMessage: {...request},
                checkArray: {...checkArray},
                /* Guest */
                GuestErrorFlag: {...request},
                GuestErrorMessage: {...request},
                GuestcheckArray: {...checkArray},
                GuestPostFlag: true,
                creditData: {
                    token: '',
                    last_4: '',
                    exp_year: '',
                    exp_month: '',
                },
                paymentForm: Object,
                shipment_hope_date_array: [],
                ReCreditFlag: false,
                creditRegisterFlag: false,
                PostFlag: true,
                RegisterLoader: false,
                member_info: [],
                member_card: [],
                Product: [],
                PaymentRadio: 1,
                AddrRadio: 1,
                shipment_hope_time_division: 1,
                shipment_hope_date: '',
			}
		},
		methods: {
            SlideOrder: function (v) {
                if (!this.slideFlag) return false;
                this.$store.commit('start_process');
                var from_search = this.mode_array.indexOf(this.currentTab);
                var to_search = this.mode_array.indexOf(v);
                var promise = new Promise((resolve, reject) => {
                    this.animation = from_search > to_search ? 'step-after' : 'step-before';
                    resolve(v);
                });
                promise.then((v) => {
                    window.scrollTo(0, 0);
                    this.currentTab = v;
                    this.$store.commit('end_process');
                });
            },
            FirstFunction: function () {
                var self = this;
                var date = new Date();
                for (var i = 5; i < 12; ++i) {
                    var init_date = this.dateToStr24HPad0(new Date(date.getFullYear(), date.getMonth(), date.getDate() + i), 'YYYY-MM-DD');
                    this.shipment_hope_date_array.push(init_date);
                    if (i === 5) this.shipment_hope_date = init_date;
                }
                for (var i in this.ErrorFlag) {
                    this.ErrorFlag[i] = false;
                    this.ErrorMessage[i] = '';
                    this.GuestErrorFlag[i] = false;
                    this.GuestErrorMessage[i] = '';
                }
                axios.post('/axios/getmember').then((res) => {
                    if (res.data.member != '' && res.data.member != null) {
                        self.member_info = res.data.member;
                        if (res.data.member_card != '' && res.data.member_card != null) {
                            if (Object.keys(res.data.member_card).length > 0) {
                                self.member_card = res.data.member_card;
                                self.creditRegisterFlag = true;
                            }
                        }
                        for (var i in self.request) {
                            self.request[i] = self.member_info[i];
                        }
                        this.currentTab = 'Info';
                    } else {
                        this.currentTab = 'Guest';
                        this.member_info = request;
                    }
                })
                if (this.$store.state.session != '') {
                    // console.log(request);
                    this.getProduct();
                }
            },
			getProduct() {
				var self = this;
				axios.post('/axios/getuserproduct', {session:this.$store.state.session}).then(function (res) {
                    self.Product = res.data;
                    if (self.Product.length === 0) {
                        self.$store.state.error_message = '商品が確認できませんでした。 1秒後にショッピング画面へ遷移します。';
                        setTimeout(self.JumpShopping, 1000);
                    }
				}).catch(error => {
					self.AuthCheck(error);
				});
            },
        },
        created: async function() {
            var self = this;
            this.RegisterLoader = true;
            this.$store.commit('start_process');
            try {
                let [res1] = await Promise.all([
                    this.FirstFunction()
                ]).then(() => {
                    this.slideFlag = true;
                    this.RegisterLoader = false;
                    this.$store.commit('end_process');
                })
            } catch {
                return;
            }
        },
        watch: {
            '$store.state.session': function () {
                this.getProduct();
            }
        },
		computed: {
			currentTabComponent: function () {
				return this.currentTab;
            },
		},
		components: {
            Guest,
			Payment,
			Info,
			Confirm,
			Complete,
        }
    }

</script>
