<template>
    <div class="content__wrapper">
		<div class="content__area">
			<h2 class="headline">商品一覧</h2>
			<div class="article__area">
				<div class="header-line__wrapper">
					<div class="header-line__results">
						<span class="header-line__headline">全 {{ $store.state.total }} 件中 {{ $store.state.from }} 〜 {{ $store.state.to }}件表示</span>
						<select @change="load(1)" v-model="count">
							<option value="6">6件</option>
							<option value="9">9件</option>
							<option value="12">12件</option>
							<option value="15">15件</option>
							<option value="18">18件</option>
						</select>
					</div>
					<!-- <div class="header-line__search">
						<div class="search__wrapper">
							<input type="search" name="example1">
							<input type="button" value="検索" class="btn search">
						</div>
					</div> -->
				</div><!--header-line__wrapper end-->
				<div class="loader__wrapper" v-if="ProductLoader">
					<div class="boxes">
						<div class="box">
							<div></div>
							<div></div>
							<div></div>
							<div></div>
						</div>
						<div class="box">
							<div></div>
							<div></div>
							<div></div>
							<div></div>
						</div>
						<div class="box">
							<div></div>
							<div></div>
							<div></div>
							<div></div>
						</div>
						<div class="box">
							<div></div>
							<div></div>
							<div></div>
							<div></div>
						</div>
					</div>
				</div>
				<div class="content-box__warper-product-grid" v-if="!ProductLoader">
					<div class="product-box__warper" v-for="(item, index) in $store.state.product" :key="index" :data-index="index">
						<div class="product-box">
							<div class="item__box"><router-link :to="`/product_detail/${item.item_id}`"><img :src="item.file_url != null ? $store.state.manage_url + item.file_url : '/image/product/noimage.png'" alt=""></router-link></div>
							<div class="item__neme"><router-link :to="`/product_detail/${item.item_id}`">{{ item.item_main_name }}</router-link></div>
							<div class="item__price"><span class="item__definition">価格</span><span class="element__color-red">&yen;{{ item.selling_price.toLocaleString() }}</span><span class="item__tax">（{{ item.tax_division == '1' ? '税込' : '税抜' }}）</span></div>
							<div class="item__box-area">
								<div class="item__number">
									<!-- <select name="number">
										<option value="1">1</option>
										<option value="2">2</option>
										<option value="3">3</option>
									</select> -->
								</div>
								<div class="item__btn" @click="AddToCart(item)"><span class="btn decision">カートに追加</span></div>
							</div>
						</div>
					</div><!--product-box__warper end-->
				</div><!--content-box__warper-product-grid end-->
				<div class="pager__wrapper">
					<ul class="pager__prev">
                        <li v-if="$store.state.current_page > 1" class="pager__first"><a @click="change(1)">最初</a></li>
                        <li v-if="$store.state.current_page > 1" class="pager__back"><a @click="change($store.state.current_page - 1)">前</a></li>
					</ul>
					<ul class="pager__num">
                        <li v-for="page in pages" :key="page" :class="{active: page === $store.state.current_page}">
                            <a @click="change(page)">{{page}}</a>
                        </li>
					</ul>
					<ul class="pager__next">
                        <li v-if="$store.state.current_page < $store.state.last_page" class="pager__after"><a @click="change($store.state.current_page + 1)">次</a></li>
                        <li v-if="$store.state.current_page < $store.state.last_page" class="pager__last"><a @click="change($store.state.last_page)">最後</a></li>
					</ul>
				</div>
			</div>
		</div><!--content__area end-->
	</div>
</template>
<script>
	// import None from "../../components/None.vue"

    export default {
		data: function () {
			return {
                Loader: false,
                ProductLoader: false,
                addCartItem: [],
                manage_url:'',
			}
        },
        created(){
			this.Loader = true;
			if (this.$store.state.session !== '') {
				this.load();
			} else {
				eventHub.$on('construct', this.load);
			}
        },
        methods: {
            load: function(page = 1) {
                var self = this;
                this.$store.commit('start_process');
                this.ProductLoader = true;
                var request_data = {
                    'column': this.$store.state.request,
                    'count': this.$store.state.count,
                    'orderby': this.$store.state.orderby,
                    'sort': this.$store.state.sort,
                    'category': 'all_item'
                }

                axios.post('/axios/product_list?page=' + page, request_data).then(function (res) {
					var data = res.data.item;
                    self.$store.state.product = data.data;
                    self.$store.state.current_page = data.current_page;
                    self.$store.state.last_page = data.last_page;
                    self.$store.state.total = data.total;
                    self.$store.state.from = data.from;
                    self.$store.state.to = data.to;
                    self.manage_url = res.data.env;
                    self.Loader = false;
                    self.ProductLoader = false;
                    self.$store.commit('end_process');
                }).catch(error => {
					self.AuthCheck(error);
                });
            },
            change: function(page) {
                if (page >= 1 && page <= this.$store.state.last_page) this.load(page);
            },
            changeOrderBy: function(v) {
                if (this.$store.state.orderby === v) {
                    if (this.$store.state.sort === 'ASC') {
                        this.$store.state.sort = 'DESC';
                    } else {
                        this.$store.state.sort = 'ASC';
                    }
                } else {
                        this.$store.state.sort = 'ASC';
                }
                this.$store.state.orderby = v;
                this.load(1);
            },
            AddToCart(v) {
                this.$store.commit('start_process');
                var promise = new Promise((resolve, reject) => {
					this.$store.state.addCartItem = v;
                    resolve(v);
                })
                promise.then((v) => {
					var self = this;
                    axios.post('/axios/addtocart', {item: v, count: 1, session: this.$store.state.session}).then(function (res) {
						self.$store.state.success_message = '成功';
                        self.$store.dispatch('getItemCountAction');
                        self.$store.commit('end_process');
                    }).catch(error => {
                        self.AuthCheck(error);
                    });
                })
            },
            setWordLoad(v) {
                var promise = new Promise((resolve, reject) => {
                    this.$store.dispatch('setWordAction', v);
                    resolve(v);
                })
                promise.then((v) => {
                    this.load(1);
                })
            }
        },
        computed: {
            pages: function() {
                var start = _.max([this.$store.state.current_page - 2, 1]);

                var end = _.min([start + 5, this.$store.state.last_page + 1]);

                start = _.max([end - 5, 1]);
                return _.range(start, end);
            },
            count: {
                get() { return this.$store.state.count; },
                set(value) { this.$store.dispatch('setCountAction', value); }
            },
            word: {
                get() { return this.$store.state.request.word; },
                set(value) { this.$store.dispatch('setWordAction', value); }
            }
        },
        // components: {
        //     None
        // },
    }
</script>
