<template>
	<div class="content__wrapper">
		<div class="content__area">
			<h2 class="headline">商品詳細</h2>
			<div class="article__area" v-if="Object.keys(item).length > 0">
				<div class="content-box__warper-product">
					<div class="product__photo"><img :src="item_image != null ? $store.state.manage_url + item_image.file_url : '/image/product/noimage.png'" alt=""></div>
					<div class="product__item">
						<div class="product__neme">{{ item.item_main_name }}</div>
						<div class="product__catch">{{ item.item_sub_name }}</div>
						<div class="product__price"><span class="product__definition">価格</span><span class="product__price-money">¥{{ item.selling_price.toLocaleString() }}</span><span class="item__tax">（{{ item.tax_division == '1' ? '税込' : '税抜' }}）</span></div>
						<div class="product__btn"><span class="btn decision" @click="AddToCart(item)">カートに追加</span></div>
					</div><!--product__item end-->
					<div class="product__description">
						<div class="headline__line-color mb-20">商品説明</div>
						<div v-html="comment"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
    export default {
		data: function () {
			return {
                item: [],
                item_image: [],
                comment: '',
			}
        },
        created(){
            var self = this;
			this.$store.commit('start_process');
            axios.post('/axios/product', {'item_id': this.$route.params.item_id}).then(function (res) {
				self.item = res.data.item;
				if (res.data.item_image != '' && res.data.item_image != null) self.item_image = res.data.item_image;
				if (res.data.item_detail != '' && res.data.item_detail != null) self.comment = res.data.item_detail.item_comment;
                self.$store.commit('end_process');
            }).catch(error => {
                AuthCheck(error);
            });
        },
        methods:{
            AddToCart(v) {
				this.$store.commit('start_process');
                var promise = new Promise((resolve, reject) => {
					this.$store.state.addCartItem = v;
                    resolve(v);
                })
                promise.then((v) => {
					var self = this;
                    axios.post('/axios/addtocart', {item: v, count: 1, session: this.$store.state.session}).then(function (res) {
						self.$store.state.success_message = '成功';
						self.$store.dispatch('getItemCountAction');
                        self.$store.commit('end_process');
                    }).catch(error => {
                        // self.AuthCheck(error);
                    });
                })
            },
        },
    }
</script>