<template>
    <div class="content__wrapper">
        <div class="content__area">
            <h2 class="headline">ログイン・ご注文</h2>
            <div class="article__area">
                <div class="login__wrapper">
                    <div class="login__area">
                        <div class="login__area-box">
                            <div class="login__area-headline">会員登録がお済みの方</div>
                            <div class="login__area-body">
                                メールアドレス<br>
                                <div class="direction">
                                    <div class="balloon2" v-if="ErrorFlag.mail">
                                        <p>{{ ErrorMessage.mail }}</p>
                                    </div>
                                    <input type="text" id="mail" v-model="request.mail" @blur="checkValidate($event, request.mail)" @focus="resetValidate($event, request.mail)" autocomplete="off" placeholder="example@example.com">
                                </div>
                                <br>
                                パスワード<br>
                                <div class="direction">
                                    <div class="balloon2" v-if="ErrorFlag.password">
                                        <p>{{ ErrorMessage.password }}</p>
                                    </div>
                                    <input type="password" id="password" v-model="request.password" @blur="checkValidate($event, request.password)" @focus="resetValidate($event, request.password)" autocomplete="off" placeholder="半角英数字">
                                </div>
                                <br>
                                <br>
                                <ul class="list__asterisk-red">
                                    <li>
                                        パスワードの取得またはパスワードを忘れた方はこちらからパスワードの再発行を行ってください。<br>
                                        <router-link :to="'/forget'" class="nav">パスワードの再発行</router-link>
                                    </li>
                                    <!-- <li>
                                        会員番号を忘れた方は、お手数ですが下記リンク先からお問い合わせください。<br>
                                        <a href="#" class="nav">お問い合わせページ</a>
                                    </li> -->
                                </ul>
                                <div class="btn__wrapper">
                                    <button type="button" class="btn next" @click="Login">ログイン</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="login__area">
                        <div class="login__area-box">
                            <div class="login__area-headline">会員登録がお済でない方</div>
                            <div class="login__area-body">
                                会員登録を行うと次回移行ログインするだけで、お名前や住所などを入力することなくスムーズにご注文いただけます。
                                <div class="btn__wrapper">
                                    <button type="button" class="btn" @click="clickOrderLink()">新規会員登録</button>
                                </div>
                            </div>
                        </div>
                        <div class="login__area-box">
                            <div class="login__area-headline">登録せずに注文</div>
                            <div class="login__area-body">
                                会員登録せずにお名前と送付先情報のご入力だけでもご注文いただけます。
                                <div class="btn__wrapper">
                                    <button type="button" class="btn" @click="$router.push({path:'/order'})">ゲスト注文</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--article__area end-->
        </div><!--content__area end-->
    </div>
</template>
<script>
    import { request, checkArray } from '../js/login/request';

    export default {
		data: function () {
			return {
                request: {...request},
                ErrorFlag: {...request},
                ErrorMessage: {...request},
                checkArray: {...checkArray},
			}
        },
        created() {
            console.log(document.referrer);
            console.log(location.hostname);
            this.$store.state.OrderLinkFlag = true;
        },
		methods: {
            checkValidate: function (event, value) {
                var target = event.target.id;
                this.Validation(target, value);
            },
            resetValidate: function (event, value) {
                var target = event.target.id;
                this.ErrorFlag[target] = false;
                this.ErrorMessage[target] = '';
            },
            Validation: function (target, value) {
                var checkArray = this.checkArray[target];
                for (var i in checkArray) {
                    if (checkArray[i].match(/:/)) {
                        var split = checkArray[i].split(':');
                        checkArray[i] = split[0];
                        var count = split[1];
                    }
                    switch (checkArray[i]) {
                        case 'Require':
                            if (!this.checkRequire(value)) {
                                this.ErrorFlag[target] = true;
                                this.ErrorMessage[target] = this.validate_message[checkArray[i]];
                                return false;
                            }
                            break;
                        case 'RequireOnce':
                            if (target === 'company_name') {
                                if (!this.checkRequire(value) && this.request.member_division == '2') {
                                    this.ErrorFlag[target] = true;
                                    this.ErrorMessage[target] = this.validate_message[checkArray[i]].replace(':value:', '会員区分が法人');
                                    return false;
                                }
                            }
                            break;
                        case 'Katakana':
                            if (!this.checkKatakana(value)) {
                                this.ErrorFlag[target] = true;
                                this.ErrorMessage[target] = this.validate_message[checkArray[i]];
                                return false;
                            }
                            break;
                        case 'Num':
                            if (!this.checkNum(value)) {
                                this.ErrorFlag[target] = true;
                                this.ErrorMessage[target] = this.validate_message[checkArray[i]];
                                return false;
                            }
                            break;
                        case 'NumDash':
                            if (!this.checkNumDash(value)) {
                                this.ErrorFlag[target] = true;
                                this.ErrorMessage[target] = this.validate_message[checkArray[i]];
                                return false;
                            }
                            break;
                        case 'NumAlpha':
                            if (!this.checkNumAlpha(value)) {
                                this.ErrorFlag[target] = true;
                                this.ErrorMessage[target] = this.validate_message[checkArray[i]];
                                return false;
                            }
                            break;
                        case 'Mail':
                            if (!this.checkMail(value)) {
                                this.ErrorFlag[target] = true;
                                this.ErrorMessage[target] = this.validate_message[checkArray[i]];
                                return false;
                            }
                            break;
                        case 'Post':
                            if (!this.checkPost(value)) {
                                this.ErrorFlag[target] = true;
                                this.ErrorMessage[target] = this.validate_message[checkArray[i]];
                                return false;
                            }
                            if (!this.PostFlag) {
                                this.ErrorFlag[target] = true;
                                this.ErrorMessage[target] = '存在しない郵便番号です';
                                return false;
                            }
                            break;
                        case 'LengthOver':
                            if (value.length < count) {
                                this.ErrorFlag[target] = true;
                                this.ErrorMessage[target] = this.validate_message[checkArray[i]].replace(':value:', count);
                                return false;
                            }
                            break;
                        case 'Length':
                            if (value.length > count) {
                                this.ErrorFlag[target] = true;
                                this.ErrorMessage[target] = this.validate_message[checkArray[i]].replace(':value:', count);
                                return false;
                            }
                            break;
                    }
                }

            },
            Login: function () {
                var self = this;
                var promise = new Promise((resolve, reject) => {
                    for (var i in this.request) {
                        this.Validation(i, this.request[i]);
                    }
                    resolve();
                }).then(() => {
                    for (var i in this.ErrorFlag) {
                        if (this.ErrorFlag[i]) throw new Error('入力内容に誤りがあります');
                    }
                }).then(() => {
                    const params = new URLSearchParams();
                    params.append('mail', this.request.mail);
                    params.append('password', this.request.password);
                    axios.post('/login', params, {
                        headers: {
                            'X-CSRF-TOKEN': document.querySelector('meta[name="csrf-token"]').getAttribute('content')
                        }
                    }).then((res) => {
                        if (res.data === '') {
                            axios.post('/axios/peggingcart', {session: self.$store.state.session}).then(() => {
                                var referrer = document.referrer;
                                var url = location.href;
                                if (referrer.match(/wp/)) {
                                    location.href = '/order';
                                } else {
                                    location.href = referrer;
                                }
                                // if (referrer.match(/order/)) {
                                //     location.href = referrer;
                                // } else if (referrer.match(location.href)) {
                                //     location.href = this.WORDPRESS_URL + '/product_list?category=all_item';
                                // } else {
                                //     location.href = this.WORDPRESS_URL + '/product_list?category=all_item';
                                // }

                            })
                        }
                    }).catch((error) => {
                        this.$store.state.error_message = '会員番号もしくはパスワードが間違っています';
                    });
                }).catch((error) => {
                    this.$store.state.error_message = error;
                })
            },
            clickOrderLink: function () {
                this.$store.state.MailModal = true;
            },
            JumpOrder: function () {
                location.href = '/order';
            },
        },
        watch:{
        }
    }
</script>
