<template>
			<div class="content__wrapper">
				<div class="content__area">
					<h2 class="headline">ご契約内容の照会</h2>
					<div class="article__area">
						<p>
							ご登録いただいているお客様情報、ご契約内容をご確認いただけます。
						</p>
						<div class="article__box" v-if="Object.keys($store.state.config).length > 0">
							<h3 class="sub__headline">お客様情報</h3>
							<dl class="dl__line dotted">
								<div>
									<dt>お客様番号</dt>
									<dd >{{ Member.member_id }}</dd>
								</div>
								<div v-if="Member.member_division != '1'">
									<dt>会社名</dt>
									<dd v-if="show">{{ Member.company_name}}</dd>
									 <dd v-else> <input id="company_name" type="text" v-model="Member.company_name"></dd>
								</div>
								<div>
									<dt>姓</dt>
									<dd v-if="show">{{ Member.first_name}}</dd>
									 <dd v-else> <input id="first_name" type="text" v-model="Member.first_name">
									</dd>
								</div>
                                	<div>
									<dt>名</dt>
									<dd v-if="show">{{Member.last_name}}</dd>
									 <dd v-else>
									<input id="last_name" type="text" v-model="Member.last_name"></dd>
								</div>
								<div>
									<dt>姓(カタカナ)</dt>
									<dd v-if="show">{{ Member.first_kana_name}}</dd>
                                    <dd v-else> <input id="first_kana_name" type="text" v-model="Member.first_kana_name">
									</dd>

								</div>
								<div>
									<dt>名(カタカナ)</dt>
									<dd v-if="show">{{Member.last_kana_name}}</dd>
                                    <dd v-else> 
									<input id="last_kana_name" type="text" v-model="Member.last_kana_name"></dd>

								</div>
								<div >
									<dt>性別</dt>
									<dd v-if="show">{{$store.state.config.gender[Member.gender]}}</dd>
                                    <dd v-else>
										 <select v-model="Member.gender" >
                                                <option v-for="(value, index) in $store.state.config.gender" v-bind:value="index" v-bind:key="index">
                                                    {{ value }}
                                                </option>
                                            </select>
									</dd>
								</div>
								<div>
									<dt>メールアドレス</dt>
									<dd v-if="show">{{Member.mail}}</dd>
                                    <dd v-else> <input id="mail" type="text" v-model="Member.mail"></dd>
								</div>

								<div>
									<dt>郵便番号</dt>
									<dd v-if="show">{{ Member.post}}</dd>
                                    <dd v-else>
                                        <input id="post" type="text" v-model="Member.post" style="width:120px">
                                         <a href='https://www.post.japanpost.jp/zipcode/index.html' target="_blank">
                                         <span class="btn post">郵便番号がわからない方はこちら</span>
                                     </a>
                                        </dd>
								</div>
									<div>
									<dt>都道府県</dt>
									<dd v-if="show">{{$store.state.config.pref[Member.pref]}}</dd>
                                    <dd v-else>
										 <select v-model="Member.pref" >
                                                <option v-for="(value, index) in $store.state.config.pref" v-bind:value="index" v-bind:key="index">
                                                    {{ value }}
                                                </option>
                                            </select>
									</dd>

								</div>
								<div>
									<dt>市区町村丁目</dt>
									<dd v-if="show">{{ Member.city}}</dd>
                                    <dd v-else> <input id="city" type="text" v-model="Member.city"></dd>
								</div>
								<div>
									<dt>番地</dt>
									<dd v-if="show">{{ Member.addr}}</dd>
                                    <dd v-else> <input id="addr" type="text" v-model="Member.addr"></dd>
								</div>
								<div>
									<dt>その他住所</dt>
									<dd v-if="show">{{ Member.building}}</dd>
                                    <dd v-else> <input id="building" type="text" v-model="Member.building"></dd>
								</div>
								<div>
									<dt>電話番号</dt>
									<dd v-if="show">{{ Member.phone}}</dd>
                                    <dd v-else> <input id="phone" type="text" v-model="Member.phone"></dd>
								</div>
							</dl>
							<div class="btn__wrapper">
                                <button v-if="!show" type="button" class="btn" @click="getAuth">戻る</button>
								<button v-if="show" type="button" class="btn next" @click="onClick">変更する</button>
								<button v-else type="button" class="btn next" @click="register">保存する</button>
							</div>
						</div><!--article__box end-->


					</div><!--article__area end-->

				</div><!--content__area end-->

			</div><!--content__wrapper end-->

</template>
<script>
export default {
      data: function() {
            return {
				Member:[] ,
				result:[],
                error_array: [],
                show: true ,
            }
        },
         mounted() {
          //  axios.post('/axios/User').then(response => this.users = response.data)
         //   console.log( response.data)
        },
        // DOMが作成されていない
        methods: {
			onClick: function() {
				/* 具体的な挙動 */
					this.show = !this.show;
            },
			FirstFunction: function() {
				// this.currentTab = this.$store.state.url_component[this.$router.currentRoute.matched[0].path];
                this.$parent.PostFlag = true;
			},
			getAuth: function() {
				var self = this;
				self.show = true;
				axios.post('/axios/getauth').then(res => {
					// self.$store.state.username = `${res.data.first_name} ${res.data.last_name}`;
					// self.$store.state.member_id = `${res.data.member_id}`;
                    self.Member=res.data;
                    
				}).catch( error => { self.AuthCheck(error); });
			},
			register: function(){
				var self = this;
                        var promise = new Promise((resolve, reject) => {
                            this.$store.state.success_message = '';
                            this.$store.state.error_message = '';
                            this.$store.commit('start_process');

							resolve();

						});

                        promise.then(() => {
							if (this.$store.state.Loader) {
                                // 二重Submit防止
                                throw new Error('登録中です。しばらくお待ちください。');
                            }
                            if (this.AllCheckValidate !== true) {
                                // ValidationCheck
								this.$nextTick(() => document.getElementById(this.AllCheckValidate.focus).focus());
                                throw new Error(this.AllCheckValidate.error_message);
							}
							// if (this.error_array.length > 0) {
                    		// // ValidationCheck
			                //     throw new Error(this.error_array[0]);
                			// }
							this.$store.state.Loader = true;
                        }).then(() => {
                            axios.post('/axios/member/edit', {
                                'register': this.Member,
                            }).then(function (res) {
                                self.$store.commit('end_process');
                                self.$store.state.success_message = '登録が完了しました！';
                                self.$store.state.EditStatus = false;
                                
                                // 保存ボタンの非表示
                                //self.$store.state.HeaderFlag.RegisterStatus = false;
                                //self.search();
                            }).catch(function (error) {
                                self.AuthCheck(error);
                            });
							this.show = !this.show;
                        }).catch((e) => {
                            this.$store.state.error_message = e;
                    		this.error_message = e;
                        });
                    this.$store.state.Loader=false;
			}
		},
        created:async function() {
			 this.parentLoader = true;
            try {
                var [res1, res2] = await Promise.all([
                    // 初期処理
					this.FirstFunction(),
					this.getAuth(),
                ])
            } catch {
                return;
            } finally {
				this.parentLoader = false;
			}
		},
        // DOMが作成された直後
        mounted: function () {
		},
		computed:{
            FirstNameValidate() {
                if (!this.checkRequire(this.Member.first_name)) return 'Require';
                return '';
            },
            LastNameValidate() {
                if (!this.checkRequire(this.Member.last_name)) return 'Require';
                return '';
            },
            FirstKanaNameValidate() {
                if (!this.checkRequire(this.Member.first_kana_name)) return 'Require';
                return '';
            },
            LastKanaNameValidate() {
                if (!this.checkRequire(this.Member.last_kana_name)) return 'Require';
                return '';
            },
            PostValidate() {
                if (!this.checkRequire(this.Member.post)) return 'Require';
                if (!this.checkPost(this.Member.post)) return 'Post';
                return '';
            },
            CityValidate() {
                if (!this.checkRequire(this.Member.city)) return 'Require';
                return '';
            },
            AddrValidate() {
                if (!this.checkRequire(this.Member.addr)) return 'Require';
                return '';
            },
            MailValidate() {
                if (!this.checkRequire(this.Member.mail)) return 'Require';
                if (!this.checkMail(this.Member.mail)) return 'Num';
                return '';
            },
            PhoneValidate() {
                if (!this.checkRequire(this.Member.phone)) return 'Require';
                if (!this.checkNum(this.Member.phone)) return 'Num';
                return '';
            },

            FirstNameValidateMessage() {
                if (this.FirstNameValidate !== '') return this.validate_message[this.FirstNameValidate];
            },
            LastNameValidateMessage() {
                if (this.LastNameValidate !== '') return this.validate_message[this.LastNameValidate];
            },
            FirstKanaNameValidateMessage() {
                if (this.FirstKanaNameValidate !== '') return this.validate_message[this.FirstKanaNameValidate];
            },
            LastKanaNameValidateMessage() {
                if (this.LastKanaNameValidate !== '') return this.validate_message[this.LastKanaNameValidate];
            },
            PostValidateMessage() {
                if (this.PostValidate !== '') return this.validate_message[this.PostValidate];
            },
            CityValidateMessage() {
                if (this.CityValidate !== '') return this.validate_message[this.CityValidate];
            },
            AddrValidateMessage() {
                if (this.AddrValidate !== '') return this.validate_message[this.AddrValidate];
            },
            MailValidateMessage() {
                if (this.MailValidate !== '') return this.validate_message[this.MailValidate];
            },
            PhoneValidateMessage() {
                if (this.PostValidate !== '') return this.validate_message[this.PhoneValidate];
            },
            AllCheckValidate() {
                if (this.FirstNameValidate !== '') return {'error_message': '姓は'+this.FirstNameValidateMessage, 'focus': 'first_name'};
                if (this.LastNameValidate !== '') return {'error_message': '名は'+this.LastNameValidateMessage, 'focus': 'last_name'};
                if (this.FirstKanaNameValidate !== '') return {'error_message': '姓(カタカナ)は'+this.FirstKanaNameValidateMessage, 'focus': 'first_name_kana'};
                if (this.LastKanaNameValidate !== '') return {'error_message': '名(カタカナ)は'+this.LastKanaNameValidateMessage, 'focus': 'last_name_kana'};
                if (this.PostValidate !== '') return {'error_message': '郵便番号は'+this.PostValidateMessage, 'focus': 'post'};
                if (this.CityValidate !== '') return {'error_message': '市区町村は'+this.CityValidateMessage, 'focus': 'city'};
                if (this.AddrValidate !== '') return {'error_message': '番地は'+this.AddrValidateMessage, 'focus': 'addr'};
                if (this.MailValidate !== '') return {'error_message': 'メールアドレスは'+this.MailValidateMessage, 'focus': 'mail'};
                if (this.PhoneValidate !== '') return {'error_message': '電話番号は'+this.PhoneValidateMessage, 'focus': 'phone'};

                if (!this.$parent.PostFlag) {
                    return {'error_message':'存在しない郵便番号です','focus' : 'post'};
                }
                return true;
			},

		},

        watch: {
            'Member.post': function(n, o) {
                if (n == null || o == null) return false;
                let self = this;
                var promise = new Promise((resolve, reject) => {
                    this.Member.post = this.FormatPost(n, o);
                    resolve();
                });
                promise.then(() => {
                    if (n.length === 8) {
                        new YubinBango.Core(n, function(addr) {
                            if (addr.region_id === '') {
                                self.Member.pref = 1;
                                self.Member.city = '';
                                self.Member.addr = '';
                                self.$parent.PostFlag = false;
                            } else {
                                self.Member.pref = addr.region_id;
                                self.Member.city = addr.locality;
                                self.Member.addr = addr.street;
                                self.$parent.PostFlag = true;
                            }
                        })
                    }
                });
            },
        }



}
</script>