<template>
    <div class="content__wrapper">
        <div class="content__area">
            <h2 class="headline">次回お届け内容の確認</h2>
            <div class="article__area" v-if="Object.keys(order).length > 0">
                <p>次回お届け内容をご確認いただけます。</p>
                <p class="element__color-red">＊変更は配送予定日の{{ $store.state.config.chenge_contract_status[1] }}日前まで可能です。</p>
                <div class="article__box" v-if="Object.keys($store.state.config).length > 0">
                    <h3 class="sub__headline">お届け先情報</h3>
                    <dl class="dl__line dotted">
                        <div>
                            <dt>受注番号</dt>
                            <dd>{{ order.order_id}}</dd>
                        </div>
                        <div v-if="order.company_name">
                            <dt>会社名</dt>
                            <dd v-if="show">{{ order.company_name }}</dd>
                            <dd v-else><input id="company_name" type="text" v-model="order.company_name"></dd>
                        </div>
                        <div>
                            <dt>姓</dt>
                            <dd v-if="show">{{ order.first_name }}</dd>
                            <dd v-else><input id="first_name" type="text" v-model="order.first_name"></dd>
                        </div>
                        <div>
                            <dt>名</dt>
                            <dd v-if="show">{{ order.last_name }}</dd>
                            <dd v-else><input id="last_name" type="text" v-model="order.last_name"></dd>
                        </div>
                        <div>
                            <dt>姓(カタカナ)</dt>
                            <dd v-if="show">{{ order.first_kana_name }}</dd>
                            <dd v-else><input id="first_kana_name" type="text" v-model="order.first_kana_name"></dd>
                        </div>
                        <div>
                            <dt>名(カタカナ)</dt>
                            <dd v-if="show">{{ order.last_kana_name }}</dd>
                            <dd v-else><input id="last_kana_name" type="text" v-model="order.last_kana_name"></dd>
                        </div>
                        <div>
                            <dt>郵便番号</dt>
                            <dd v-if="show">{{ order.post }}</dd>
                            <dd v-else>
                                <input id="post" type="text" name="post" v-model="order.post"/>
                            </dd>
                        </div>
                        <div>
                            <dt>都道府県</dt>
                            <dd v-if="show">{{ $store.state.config.pref[order.pref] }}</dd>
                            <dd v-else>
                                <select v-model="order.pref">
                                    <option v-for="(value, index) in $store.state.config.pref" :value="index" :key="index">
                                        {{ value }}
                                    </option>
                                </select>
                            </dd>
                        </div>
                        <div>
                            <dt>市区町村</dt>
                            <dd v-if="show">{{ order.city }}</dd>
                            <dd v-else><input id="city" type="text" name="city" v-model="order.city"/></dd>
                        </div>
                        <div>
                            <dt>番地</dt>
                            <dd v-if="show">{{ order.addr }}</dd>
                            <dd v-else><input id="addr" type="text" name="addr" v-model="order.addr"/>
                            </dd>
                        </div>
                        <div>
                            <dt>建物名</dt>
                            <dd v-if="show">{{ order.building }}</dd>
                            <dd v-else><input id="building" type="text" name="building" v-model="order.building"/></dd>
                        </div>
                        <div>
                            <dt>電話番号</dt>
                            <dd v-if="show">{{ order.phone }}</dd>
                            <dd v-else>
                                <input id="phone" type="text" name="phone" v-model="order.phone"/>
                            </dd>
                        </div>
                    </dl>
                    <h3 class="sub__headline">商品情報</h3>

                    
                    <dl class="dl__line border" v-for="(data, index) in order_detail" :key="index">
                        <div>
                            <dt>商品名</dt>
                            <dd>{{ data.item_main_name }}</dd>
                        </div>
                        <div>
                            <dt>数量</dt>
                            <dd>{{ data.quantity }}</dd>
                        </div>
                        <div>
                            <dt>配送予定日</dt>
                            <dd>{{ data.shipment_hope_date }}</dd>
                        </div>
                    </dl>
                    <div class="btn__wrapper">
                        <button v-if="!show" type="button" class="btn" @click="getNextorder">戻る</button>
                        <template v-if="changeFlag">
                            <button v-if="show" type="button" class="btn next" @click="onClick">変更する</button>
                            <button v-else type="button" class="btn next" @click="editregister"> 保存する</button>
                        </template>
                    </div>
                </div>
                <!--article__box end-->
            </div>
            <!--article__area end-->
            <div class="article__area" v-else>
                <p>次回お届け内容はありません。</p>
            </div>
        </div>
        <!--content__area end-->
    </div>
    <!--content__wrapper end-->
</template>

<script>
import Datepicker from "vuejs-datepicker";
import ja from "vuejs-datepicker/dist/locale";
export default {
    data: function() {
        return {
            order: [],
            order_detail: [],
            show: true,
            error_array: [],
            ja:ja,
            changeFlag: true,
        };
    },
    created: async function() {
        this.parentLoader = true;
        try {
            var [res1, res2] = await Promise.all([
                // 初期処理
                this.FirstFunction(),
                this.getNextorder()
            ]);
        } catch {
            return;
        } finally {
            this.parentLoader = false;
        }
    },
    methods: {
        // 登録処理
        editregister: function() {
            var self = this;
            var promise = new Promise((resolve, reject) => {
                this.$store.state.success_message = "";
                this.$store.state.error_message = "";
                this.$store.commit('start_process');
                resolve();
            });
            promise
                .then(() => {
                    if (this.$store.state.Loader) {
                        // 二重Submit防止
                        throw new Error("登録中です。しばらくお待ちください。");
                    }
                    if (this.AllCheckValidate !== true) {
                        // ValidationCheck
                        this.$nextTick(() =>
                            document
                                .getElementById(this.AllCheckValidate.focus)
                                .focus()
                        );
                        throw new Error(this.AllCheckValidate.error_message);
                    }
                    if (this.error_array.length > 0) {
                        // ValidationCheck
                        throw new Error(this.error_array[0]);
                    }
                    this.$store.state.Loader = true;
                })
                .then(() => {
                    axios
                        .post("/axios/savenextorder", {
                            register: this.order,
                            register_detail: this.order_detail
                        })
                        .then(function(res) {
                            // self.emptyInput();

                            self.$store.commit('end_process');
                            self.$store.state.success_message =
                                "編集が完了しました！";

                            // self.search(1);
                            // eventHub.$off('register');
                            // eventHub.$on('register', self.register);
                            self.$store.state.EditStatus = false;
                        })
                        .catch(function(error) {
                            self.AuthCheck(error);
                        });
                    this.show = !this.show;
                    this.$store.state.Loader = false;
                })
                .catch(e => {
                    this.$store.state.error_message = e;
                });
        },
        FirstFunction: function() {
            this.$parent.PostFlag = true;
        },
        onClick: function() {
            /* 具体的な挙動 */
            this.show = !this.show;
        },
        getNextorder: function() {
            var self = this;
            self.show = true;
            this.order = [];
            this.order_detail = [];
            axios.post("/axios/autoship/order/search").then(function(ref) {
                if (ref.data.order != null && Object.keys(ref.data.order).length > 0) self.order = ref.data.order;
                if (ref.data.order_detail != null && Object.keys(ref.data.order_detail).length > 0) {
                    self.order_detail = ref.data.order_detail;
                    var min_date = '';
                    var now_date = new Date(Date.now());
                        for (var i in self.order_detail) {
                            var split = self.order_detail[i].shipment_hope_date.split('-');
                            var date = new Date(split[0],split[1] - 1,split[2]);
                            if (min_date === '') {
                                min_date = date;
                            } else {
                                if (min_date > date) {
                                    min_date = date;
                                }
                            }
                        }
                        min_date.setDate(min_date.getDate() - self.$store.state.config.chenge_contract_status[1]);
                        if (min_date < now_date) {
                            self.changeFlag = false;
                        }
                }
            })
            .catch(error => {
                self.AuthCheck(error);
            });
        },
    },
    watch: {
        "order.post": function(n, o) {
            if (n == null || o == null) return false;
            let self = this;
            var promise = new Promise((resolve, reject) => {
                this.Member.post = this.FormatPost(n, o);
                resolve();
            });
            promise.then(() => {
                if (n.length === 8) {
                    new YubinBango.Core(n, function(addr) {
                        if (addr.region_id === "") {
                            self.Member.pref = 1;
                            self.Member.city = "";
                            self.Member.addr = "";
                            self.$parent.PostFlag = false;
                        } else {
                            self.Member.pref = addr.region_id;
                            self.Member.city = addr.locality;
                            self.Member.addr = addr.street;
                            self.$parent.PostFlag = true;
                        }
                    });
                }
            });
        },
        order_detail: {
            handler: function(n, o) {
                this.error_array = [];
                for (var index in n) {
                    if (this.isType(n[index].shipment_hope_date) === "Date")
                        n[index].shipment_hope_date = this.dateToStr24HPad0(
                            n[index].shipment_hope_date
                        );
                }
            },
            deep: true
        },
    },
    components: {
        Datepicker
    },
    computed: {
        FirstNameValidate() {
            if (!this.checkRequire(this.order.first_name)) return 'Require';
            return '';
        },
        LastNameValidate() {
            if (!this.checkRequire(this.order.last_name)) return 'Require';
            return '';
        },
        FirstKanaNameValidate() {
            if (!this.checkRequire(this.order.first_kana_name)) return 'Require';
            return '';
        },
        LastKanaNameValidate() {
            if (!this.checkRequire(this.order.last_kana_name)) return 'Require';
            return '';
        },
        FirstNameValidateMessage() {
            if (this.FirstNameValidate !== '') return this.validate_message[this.FirstNameValidate];
        },
        LastNameValidateMessage() {
            if (this.LastNameValidate !== '') return this.validate_message[this.LastNameValidate];
        },
        FirstKanaNameValidateMessage() {
            if (this.FirstKanaNameValidate !== '') return this.validate_message[this.FirstKanaNameValidate];
        },
        LastKanaNameValidateMessage() {
            if (this.LastKanaNameValidate !== '') return this.validate_message[this.LastKanaNameValidate];
        },
        PostValidate() {
            if (!this.checkRequire(this.order.post)) return "Require";
            if (!this.checkPost(this.order.post)) return "Num";
            return "";
        },
        CityValidate() {
            if (!this.checkRequire(this.order.city)) return "Require";
            return "";
        },
        AddrValidate() {
            if (!this.checkRequire(this.order.addr)) return "Require";
            return "";
        },
        PhoneValidate() {
            if (!this.checkRequire(this.order.phone)) return "Require";
            if (!this.checkNum(this.order.phone)) return "Num";
            return "";
        },
        PostValidateMessage() {
            if (this.PostValidate !== "")
                return this.validate_message[this.PostValidate];
        },
        CityValidateMessage() {
            if (this.CityValidate !== "")
                return this.validate_message[this.CityValidate];
        },
        AddrValidateMessage() {
            if (this.AddrValidate !== "")
                return this.validate_message[this.AddrValidate];
        },
        PhoneValidateMessage() {
            if (this.PhoneValidate !== "")
                return this.validate_message[this.PhoneValidate];
        },
        AllCheckValidate() {
            if (this.FirstNameValidate !== '') return {'error_message': '姓は'+this.FirstNameValidateMessage, 'focus': 'first_name'};
            if (this.LastNameValidate !== '') return {'error_message': '名は'+this.LastNameValidateMessage, 'focus': 'last_name'};
            if (this.FirstKanaNameValidate !== '') return {'error_message': '姓(カタカナ)は'+this.FirstKanaNameValidateMessage, 'focus': 'first_name_kana'};
            if (this.LastKanaNameValidate !== '') return {'error_message': '名(カタカナ)は'+this.LastKanaNameValidateMessage, 'focus': 'last_name_kana'};
            if (this.PostValidate !== '') return {'error_message': '郵便番号は'+this.PostValidateMessage, 'focus': 'post'};
            if (this.CityValidate !== '') return {'error_message': '市区町村は'+this.CityValidateMessage, 'focus': 'city'};
            if (this.AddrValidate !== '') return {'error_message': '番地は'+this.AddrValidateMessage, 'focus': 'addr'};
            if (this.PhoneValidate !== '') return {'error_message': '電話番号は'+this.PhoneValidateMessage, 'focus': 'phone'};

            if (!this.$parent.PostFlag) {
                return {'error_message':'存在しない郵便番号です','focus' : 'post'};
            }
            return true;
		}
    }
};
</script>
