<template>
    <div class="content__wrapper">
        <div class="content__area">
            <div v-show="$store.state.Loader">
                <div class="loader">Loading...</div>
            </div>
            <h2 class="headline">パスワード変更</h2>
            <div class="article__area">
                <p></p>
                <dl class="dl__line dotted">
                    <div>
                        <dt class="required">現在のパスワード</dt>
                        <dd>
                            <input
                                type="password"
                                id="nowpassword"
                                v-model="nowpassword"
                                placeholder="半角英数字4~12文字以内"
                                style="max-width: 100% !important;"
                            />
                        </dd>
                    </div>
                    <div>
                        <dt class="required">新しいパスワード</dt>
                        <dd>
                            <input
                                type="password"
                                id="password"
                                v-model="password"
                                placeholder="半角英数字4~12文字以内"
                                style="max-width: 100% !important;"
                            />
                        </dd>
                    </div>
                    <div>
                        <dt class="required">新しいパスワード(確認)</dt>
                        <dd>
                            <input
                                type="password"
                                id="password2"
                                v-model="password2"
                                placeholder="半角英数字4~12文字以内"
                                style="max-width: 100% !important;"
                            />
                        </dd>
                    </div>
                </dl>
                <div class="btn__wrapper">
                    <button
                        type="button"
                        @click="editregister()"
                        class="btn next"
                    >
                        パスワード変更
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import MemberContract from "./MemberContract.vue";
export default {
    data: function() {
        return {
            nowpassword: "",
            password: "",
            password2: "",
            error_array: [],
            response: []
        };
    },
    methods: {
        FirstFunction: function() {
            this.currentTab = this.$store.state.url_component[
                this.$router.currentRoute.matched[0].path
            ];
        },
        editregister: function() {
            var self = this;

            var promise = new Promise((resolve, reject) => {
                this.$store.state.success_message = "";
                this.$store.state.error_message = "";

                if (this.$store.state.Loader) {
                    // 二重Submit防止
                    throw new Error("登録中です。しばらくお待ちください。");
                }
                if (this.AllCheckValidate !== true) {
                    // ValidationCheck
                    this.$nextTick(() =>
                        document
                            .getElementById(this.AllCheckValidate.focus)
                            .focus()
                    );
                    throw new Error(this.AllCheckValidate.error_message);
                }
                if (this.error_array.length > 0) {
                    // ValidationCheck
                    throw new Error(this.error_array[0]);
                }
                this.$store.state.Loader = true;
                axios
                    .post("/axios/getauth")
                    .then(res => {
                        if (res.data.password !== self.nowpassword) {
                            throw new Error(
                                "現在のパスワードが正しくありません。"
                            );
                        }
                        if (
                            (self.password.length > 3 && self.password.length < 13 ) ||
                            (self.password2.length > 3 && self.password2.length < 13 )
                        ) {
                            if (self.password !== self.password2) {
                                throw new Error(
                                    "新しく入力したパスワードが一致しません。"
                                );
                            }
                        } else {
                            throw new Error(
                                "パスワードは4文字以上12文字以内入力してください。"
                            );
                        }
                        // res.data.password = this.password;
                        self.response = res.data;
                        self.response.password = self.password;
                        resolve();
                    })
                    .catch(error => {
                        this.$store.state.error_message = error;
                        self.AuthCheck(error);
                    });
            });
                this.$store.commit('start_process');
            promise
                .then(() => {
                    axios
                        .post("/axios/password/edit", {
                            register: self.response
                        })
                        .then(function(res) {
                            // self.emptyInput();
                            self.$store.state.success_message =
                                "変更が完了しました！";
                            // self.search(1);
                            // eventHub.$off('password');
                            // eventHub.$on('password', self.password);
                            self.$store.state.EditStatus = false;

                            self.$store.commit('end_process');
                            self.password2 = "";
                            self.password = "";
                            self.nowpassword = "";
                        })
                        .catch(function(error) {
                            self.AuthCheck(error);
                        });
                    this.$store.state.Loader=false;
                })
                .catch(e => {
                    this.$store.state.error_message = e;
                    this.error_message = e;
                });
            this.$store.state.Loader = false;
        }
    },
    mounted() {},
    computed: {
        PasswordValidate() {
            if (!this.checkRequire(this.password)) return "Require";
            if (!this.checkNumAlpha(this.password)) return "Num";
            if (this.password.length < 4) return "LengthOver";
            return "";
        },
        Password2Validate() {
            if (!this.checkRequire(this.password2)) return "Require";
            if (!this.checkNumAlpha(this.password2)) return "Num";
            if (this.password2.length < 4) return "LengthOver";
            return "";
        },
        nowpasswordValidate() {
            if (!this.checkRequire(this.nowpassword)) return "Require";
            if (!this.checkNumAlpha(this.nowpassword)) return "Num";
            //if (this.nowpassword.length < 4) return "LengthOver";
            return "";
        },

        PasswordValidateMessage() {
            if (this.PasswordValidate !== "")
                return this.validate_message[this.PasswordValidate];
        },
        Password2ValidateMessage() {
            if (this.Password2Validate !== "")
                return this.validate_message[this.Password2Validate];
        },
        nowpasswordValidateMessage() {
            if (this.nowpasswordValidate !== "")
                return this.validate_message[this.nowpasswordValidate];
        },
        /*
         *   AllCheckValidate
         */
        AllCheckValidate() {
            if (this.nowpasswordValidate !== "")
                return {
                    error_message:
                        "パスワードは" +
                        this.nowpasswordValidateMessage,
                    focus: "nowpassword"
                };
            if (this.PasswordValidate !== "")
                return {
                    error_message:
                        "パスワードは" + this.PasswordValidateMessage,
                    focus: "password"
                };
            if (this.Password2Validate !== "")
                return {
                    error_message:
                        "パスワードは" +
                        this.Password2ValidateMessage,
                    focus: "password2"
                };
            return true;
        }
    }
};
</script>
