<template>
	<div class="content__wrapper">
		<div class="content__area">
			<h2 class="headline">お支払方法</h2>
			<div class="article__area">
				お客様のクレジットカード
				<div class="order-cart__box-warper-area">
					<template v-if="Object.keys(member_card).length > 0">
						<div class="header-line__wrapper-card">
							<div class="header-line__card-select">カード番号</div>
							<div class="header-line__card-date">有効期限</div>
						</div>
						<div class="card__wrapper">
							<div class="card__box-select"><span>カード番号</span>下４桁&nbsp;&nbsp;{{ member_card.credit_number }}</div>
							<div class="card__box-date"><span>有効期限</span>20{{ member_card.credit_expire_year }}/{{ member_card.credit_expire_month }}</div>
						</div>
					</template>
					<template v-else>
						<p>クレジットカードの登録はありません</p>
					</template>
				</div>
				<div class="content-box__warper-order">
					<div class="order-cart__warper">
						<div class="sub__headline">クレジットカードを新しく登録する</div>
						<p class="element__color-red">＊新たに登録すると登録済みのクレジットカードは自動的に削除されます</p>
						<div class="order-cart__box-warper-card">
							<div class="order-cart__box-warper-payment">
								<ul>
									<li>

										<div class="payment__box-item">
											<div class="payment__box-item-title">以下のクレジットカードがご利用いただけます</div>
											<div class="payment__box-item-info">
												<picture>
													<source srcset="/image/cart/card-list.png,
																	/image/cart/card-list_2x.png 2x">
													<img src="/image/cart/card-list.png" alt="STEP1">
												</picture>
											</div>
										</div>
										<div class="card__wrapper-add">
											<p class="element__color-red">カード情報を入力してください。</p>
                                            <div class="card__add-box">
                                                <form id="nonce-form">
                                                    <div class="sq-field">
                                                        <label class="sq-label">カード番号</label>
                                                        <div id="sq-card-number"></div>
                                                    </div>
                                                    <div class="sq-field-wrapper">
                                                        <div class="sq-field sq-field--in-wrapper">
                                                            <label class="sq-label">セキュリティコード(CVV)</label>
                                                            <div id="sq-cvv"></div>
                                                        </div>
                                                        <div class="sq-field sq-field--in-wrapper">
                                                            <label class="sq-label">有効期限（月/年）</label>
                                                            <div id="sq-expiration-date"></div>
                                                        </div>
                                                    </div>
                                                    <div class="sq-field">
                                                        <div class="btn__wrapper"><span class="btn next" @click="requestCardNonce()">確認</span></div>
                                                    </div>
                                                    <input type="hidden" id="card-nonce" name="nonce">
                                                    <input type="hidden" id="errors" name="errors">
                                                </form>
                                            </div>
										</div>
									</li>
								</ul>
							</div><!--order-cart__box-warper-payment end-->
						</div><!--order-cart__box-warper-card end-->
					</div><!--order-cart__warper end-->
				</div><!--content-box__warper-order end-->
				<div class="btn__wrapper">
					<span class="btn" @click="$router.go(-1)">戻る</span>
					<span class="btn next" @click="editregister">登録</span>
				</div>
			</div><!--article__area end-->
		</div>
	</div>
</template>
<script>
export default {
    data: function() {
        return {
			member_card: [],
			creditData: {
				token: '',
				last_4: '',
				exp_year: '',
				exp_month: '',
			},
			paymentForm: Object,
            error_array: [],
        };
    },
    created: async function() {
        try {
            var [res1, res2] = await Promise.all([
                // 初期処理
                this.FirstFunction(),
                this.getMember()
            ]);
        } catch {
            return;
        } finally {
        }
    },
    methods: {
        editregister: function() {
            var self = this;
            var promise = new Promise((resolve, reject) => {
                this.$store.state.success_message = "";
                this.$store.state.error_message = "";
                this.$store.commit('start_process');
                resolve();
            });
            promise
                .then(() => {
                    if (this.$store.state.Loader) {
                        // 二重Submit防止
                        throw new Error("登録中です。しばらくお待ちください。");
                    }
					if (this.creditData.token == '') {
						throw new Error('カードの確認ができていません');
					}
                    this.$store.state.Loader = true;
                })
                .then(() => {
                    axios
                        .post("/axios/savepayment", {
                            creditData: this.creditData,
                        })
                        .then(function(res) {
                            self.$store.commit('end_process');
							self.$store.state.success_message = "登録が完了しました！";
							self.$router.go({path: self.$router.currentRoute.path, force: true})
                        })
                        .catch(function(error) {
                            self.AuthCheck(error);
                        });
                    this.$store.state.Loader = false;
                })
                .catch(e => {
                    this.$store.state.error_message = e;
                });
        },
        FirstFunction: function() {
			let self = this;
			let applicationId = this.VUE_APP_SQ_APPLICATION_ID;
			let locationId = this.VUE_APP_SQ_LOCATION_ID;
			this.paymentForm = new SqPaymentForm({
				autoBuild: false,
				applicationId: applicationId,
				locationId: locationId,
				inputClass: "sq-input",
				inputStyles: [
					{
						backgroundColor: '#ffffff',
						color: '#333333',
						fontFamily: '"Helvetica Neue", "Helvetica", sans-serif',
						fontSize: '16px',
						fontWeight: '400',
						placeholderColor: '#8594A7',
						placeholderFontWeight: '400',
						padding: '16px',
						_webkitFontSmoothing: 'antialiased',
						_mozOsxFontSmoothing: 'grayscale'
					}
				],
				// Initialize Google Pay button ID
				googlePay: {
					elementId: 'sq-google-pay'
				},
				// Initialize Apple Pay placeholder ID
				applePay: {
					elementId: 'sq-apple-pay'
				},
				// Initialize Masterpass placeholder ID
				masterpass: {
					elementId: 'sq-masterpass'
				},
				// Initialize the credit card placeholders
				cardNumber: {
					elementId: 'sq-card-number',
					placeholder: '•••• •••• •••• ••••',
				},
				cvv: {
					elementId: 'sq-cvv',
					placeholder: 'CVV'
				},
				expirationDate: {
					elementId: 'sq-expiration-date',
					placeholder: 'MM/YY',
				},
				postalCode: false,
				// SqPaymentForm callback functions
				callbacks: {
					methodsSupported: function(methods) {
					},
					createPaymentRequest: function() {
						var paymentRequestJson;
						return paymentRequestJson;
					},
					validateShippingContact: function(contact) {
						var validationErrorObj;
						return validationErrorObj;
					},
					cardNonceResponseReceived: function(errors, nonce, cardData) {
						if (errors) {
							for (var i in errors) {
								var count = 0;
								switch (errors[i].field) {
									case 'cardNumber':
										self.$store.state.error_message = 'カード番号の入力に誤りがあります';
										++count;
										break;
									case 'cvv':
										self.$store.state.error_message = 'CVVの入力に誤りがあります';
										++count;
										break;
									case 'expirationDate':
										self.$store.state.error_message = '有効期限の入力に誤りがあります';
										++count;
										break;
								}
								if (count > 0) break;
								// self.errors.push(error.message);
							}
							return;
						}
						self.creditData.token = nonce;
						self.creditData.credit_number = cardData.last_4;
						self.creditData.exp_year = cardData.exp_year;
						self.creditData.exp_month = cardData.exp_month;
						self.$store.state.success_message = 'カードの確認に成功しました！';
					},
					paymentFormLoaded: function() {
					}
				}
			});
			this.paymentForm.build();
        },
        getMember: function() {
            var self = this;
			this.member_card = [];
			this.$store.commit('start_process');
            axios.post("/axios/getmember").then(function(res) {
				if (res.data.member_card != null) {
					if (Object.keys(res.data.member_card).length > 0) {
						self.member_card = res.data.member_card;
					}
				}
                self.$store.commit('end_process');
            })
            .catch(error => {
                self.AuthCheck(error);
            });
		},
		requestCardNonce: function(event) {
			// Don't submit the form until SqPaymentForm returns with a nonce
			var csrf = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
			var input = document.createElement('input');
			input.setAttribute('type', 'hidden');
			input.setAttribute('name', '_token');
			input.setAttribute('value', csrf);
			document.getElementById('nonce-form').appendChild(input);
			// Request a nonce from the SqPaymentForm object
			this.paymentForm.requestCardNonce();
		}
    },
    watch: {
    },
    components: {
    },
    computed: {
    }
};
</script>
