<template>
	<div class="content__area">
		<h2 class="headline">定期購入 - 完了</h2>
		<div class="article__area">

			<p>ご購入手続きが完了いたしました。<br>ご注文内容の控えを記入して頂いたメールアドレスへ送信しております。</p>

			<div class="btn__wrapper"><span class="btn" @click="JumpShopping">TOPへ</span></div>

		</div><!--article__area end-->

	</div><!--content__area end-->
</template>
<script>
    export default {
		methods: {
        },
	}
</script>
