<template>
	<div class="content__area">
		<h2 class="headline">定期購入 - 注文確認</h2>
		<div class="article__area">

			<div class="step__warper">
				<div class="step__area">
					<picture>
						<source srcset="/image/cart/step3.png,
										/image/cart/step3_2x.png 2x">
						<img src="/image/cart/step3.png" alt="STEP1">
					</picture>
				</div>
			</div>
			<div class="content-box__warper-order">
				<p>各項目をご確認いただき、「注文を確定する」ボタンをクリックしてご注文を確定してください。</p>
				<div class="order-cart__warper">
					<div class="confirmation__head-wrapper">
						<div class="order-cart__head-headline"><span class="sub__headline">お支払方法</span></div>
						<div class="order-cart__head-edit"><span class="btn edit" @click="$emit('slide', 'Payment')">変更</span></div>
					</div>
					<div class="confirmation__box">{{ $store.state.config.payment[$parent.PaymentRadio] }}</div>
				</div><!--order-cart__warper end-->
				<div class="order-cart__warper">
					<div class="confirmation__head-wrapper">
						<div class="order-cart__head-headline"><span class="sub__headline">お客様情報</span></div>
						<div class="order-cart__head-edit"></div>
					</div>
					<div class="confirmation__box">
						<span class="text__bold">{{ $parent.member_info.company_name != null ? $parent.member_info.company_name : '' }} {{ $parent.member_info.first_name }} {{ $parent.member_info.last_name }}</span><br>
						〒{{ $parent.member_info.post }}<br>
						{{ $store.state.config.pref[$parent.member_info.pref] }}{{ $parent.member_info.city }}{{ $parent.member_info.addr }} {{ $parent.member_info.building }}<br>
						{{ $parent.member_info.phone }}<br>
					</div>
				</div><!--order-cart__warper end-->
				<div class="order-cart__warper">
					<div class="confirmation__head-wrapper">
						<div class="order-cart__head-headline"><span class="sub__headline">送付先情報</span></div>
						<div class="order-cart__head-edit"><span class="btn edit" @click="$emit('slide', 'Info')">変更</span></div>
					</div>
					<div class="confirmation__box">
						<span class="text__bold">{{ $parent.request.company_name != null ? $parent.request.company_name : '' }} {{ $parent.request.first_name }} {{ $parent.request.last_name }}</span><br>
						〒{{ $parent.request.post }}<br>
						{{ $store.state.config.pref[$parent.request.pref] }}{{ $parent.request.city }}{{ $parent.request.addr }} {{ $parent.request.building }}<br>
						{{ $parent.request.phone }}<br>
					</div>
				</div><!--order-cart__warper end-->
				<div class="order-cart__warper">
					<div class="confirmation__head-wrapper">
						<div class="order-cart__head-headline"><span class="sub__headline">配達希望間隔</span></div>
						<div class="order-cart__head-edit"><span class="btn edit" @click="$emit('slide', 'Info')">変更</span></div>
					</div>
					<div class="confirmation__box">{{ $parent.shipment_interval }}ヶ月に1回</div>
				</div><!--order-cart__warper end-->
				<div class="order-cart__warper">
					<div class="confirmation__head-wrapper">
						<div class="order-cart__head-headline"><span class="sub__headline">定期商品情報</span></div>
					</div>
					<div class="confirmation__box">商品名: {{ $parent.Product.autoship_item_name }}</div>
				</div><!--order-cart__warper end-->
				<div class="cart-line__wrapper">
					<ul class="cart-line__list">
						<li class="cart-line__name">定期詳細商品名</li>
						<li class="cart-line__price">価格</li>
						<li class="cart-line__number">数量</li>
						<li class="cart-line__subtotal">小計</li>
					</ul>
				</div><!--header-line__wrapper end-->
				<div class="cart__warper confirmation">
					<ul>
						<li v-for="(item, index) in $parent.autoship_item_detail" :key="index" :data-index="index">
							<div class="cart__box"><a><img :src="item.file_url != null ? $store.state.manage_url + item.file_url : '/image/product/noimage.png'" alt=""></a></div>
							<div class="cart__box-area">
								<div class="cart__neme"><a>{{ item.item_main_name }}</a></div>
								<div class="cart__price">¥{{ item.selling_price.toLocaleString() }}<span>（{{ item.tax_division == '2' ? '税抜' : '税込' }}）</span></div>
								<div class="cart__number">
									<span>数量</span>
									<div class="quantity">
										{{ item.quantity }}
									</div>
								</div>
								<div class="cart__subtotal">¥{{ (item.selling_price * item.quantity).toLocaleString() }}</div>
							</div>
						</li>
					</ul>
					<div class="total__warper">
						<dl class="dl__total">
							<div>
								<dt>小計</dt>
								<dd>¥&nbsp;{{ $parent.autoship_item_main.selling_price_total.toLocaleString() }}</dd>
							</div>
							<div>
								<dt>送料</dt>
								<dd>¥&nbsp;{{ $parent.autoship_item_main.postage_total.toLocaleString() }}</dd>
							</div>
							<div v-if="$parent.PaymentRadio == 2">
								<dt>配達手数料</dt>
								<dd>¥&nbsp;{{ shipment_price.toLocaleString() }}</dd>
							</div>
							<div>
								<dt>割引額</dt>
								<dd>¥&nbsp;{{ $parent.autoship_item_main.discount_total.toLocaleString() }}</dd>
							</div>
							<div class="total">
								<dt>合計金額</dt>
								<dd>¥&nbsp;{{ $parent.autoship_item_main.total.toLocaleString() }}</dd>
							</div>
						</dl>
					</div>
				</div>
			</div><!--content-box__warper-order end-->
			<div class="btn__wrapper">
				<span class="btn" @click="$emit('slide', 'Payment')">戻る</span>
				<span class="btn next" @click="completeAction()">注文を確定する</span>
			</div>
		</div><!--article__area end-->
	</div><!--content__area end-->
</template>

<script>
    export default {
		data: function () {
			return {
				maximum_price: 3980,
			}
        },
		methods: {
            completeAction: function () {
				var self = this;

                var promise = new Promise((resolve, reject) => {
                    if (this.$parent.RegisterLoader) {
                        // 二重Submit防止
                        throw new Error('登録中です。しばらくお待ちください。');
                    }
                    this.$parent.RegisterLoader = true;
                    resolve();
                }).then(() => {
					var add_register = {
						'payment': this.$parent.PaymentRadio,
						'addr_division': this.$parent.AddrRadio,
						'shipment_price': this.shipment_price,
						'shipment_interval': this.$parent.shipment_interval,
					}
					axios.post('/axios/save/autoship', {
						register:this.$parent.request,
						add_register: add_register,
						autoship_item: this.$parent.Product,
						member_info: this.$parent.member_info,
						member_card: this.$parent.member_card,
						autoship_item_main: this.$parent.autoship_item_main,
						autoship_item_detail: this.$parent.autoship_item_detail,
						creditData:this.$parent.creditData,
						creditRegisterFlag: this.$parent.creditRegisterFlag
					}).then((res)=>{
						if (res.data.message != null) {
							self.$store.state.success_message = res.data.message;
							self.$parent.RegisterLoader = false;
							self.$store.dispatch('getItemCountAction');
							self.$emit('slide', 'Complete');
						} else {
							self.$store.state.error_message = '購入に失敗しました';
							self.$parent.RegisterLoader = false;
						}
					}).catch(() => {
						self.$store.state.error_message = '購入に失敗しました';
						self.$parent.RegisterLoader = false;
					});
                }).catch((e) => {
                    this.$store.state.error_message = e;
                });
			},
		},
		computed:{
			unit_price_total() {
				var unit_price = 0;
				this.$parent.Product.forEach(function(value) {
					unit_price += value.unit_price * value.item_count;
				})
				return unit_price;
			},
			selling_price_total() {
				var selling_price = 0;
				this.$parent.Product.forEach(function(value) {
					selling_price += value.selling_price * value.item_count;
				})
				return selling_price;
			},
			discount_total() {
				var discount = 0;
				return discount;
			},
			postage_total() {
				var postage = 0;
				this.$parent.Product.forEach(function(value) {
					if (value.postage > postage) {
						postage = value.postage;
					}
				})
				if (this.selling_price_total > this.maximum_price) {
					postage = 0;
				}
				return postage;
			},
			shipment_price() {
				var shipment_price = 0;
				if (this.$parent.PaymentRadio == 2) {
					shipment_price = 250;
				}
				return shipment_price;
			},
			tax() {
				var tax = 0;
				var self = this;
				this.$parent.autoship_item_detail.forEach(function(value) {
					if (value.tax_division == '2') {
						tax += (Math.floor(value.selling_price * self.$store.state.config.tax_rate_division[value.tax_rate_division])) * value.item_count;
					}
				})
				return tax;
			},
			total() {
				var total = 0;
				total += this.selling_price_total;
				total += this.tax;
				total += this.postage_total;
				if (this.$parent.PaymentRadio == 2) {
					total += this.shipment_price;
				}
				return total;
			}
		}
    }
</script>
