<template>
    <div class="content__area">
        <h2 class="headline">定期購入 - 送付情報</h2>
        <div class="article__area">
            <div class="step__warper">
                <div class="step__area">
                    <picture>
                        <source srcset="/image/cart/step1.png,
                                        /image/cart/step1_2x.png 2x">
                        <img src="/image/cart/step1.png" alt="STEP2">
                    </picture>
                </div>
            </div>
            <div class="content-box__warper-order">
                <p>各項目をご選択いただき、「確認画面へ進む」ボタンをクリックしてください。</p>
                <div class="order-cart__warper">
                    <span class="sub__headline">送付先情報</span>
                    <ul class="order-cart__address-list">
                        <li>
                            <div class="order-cart__box-warper-address">
                                <div class="order-cart__box-label">
                                    <ul class="list-box__column">
                                        <li><input type="radio" :class="$parent.AddrRadio == 1 ? 'active' : ''" value="1" id="addr_register" checked @click="clickAddrRegister"><label for="addr_register">登録送付先</label></li>
                                    </ul>
                                </div>
                                <template v-if="$parent.AddrRadio == 1 && Object.keys($store.state.config).length > 0">
                                    <div class="order-cart__box-overview">
                                        <span class="text__bold">{{ $parent.member_info.company_name != null ? $parent.member_info.company_name : '' }} {{ $parent.member_info.first_name }} {{ $parent.member_info.last_name }}</span><br>
                                        〒{{ $parent.member_info.post }}<br>
                                        {{ $store.state.config.pref[$parent.member_info.pref] }}{{ $parent.member_info.city }}{{ $parent.member_info.addr }} {{ $parent.member_info.building }}<br>
                                        {{ $parent.member_info.phone }}<br>
                                        {{ $parent.member_info.mail }}<br>
                                    </div>
                                </template>
                            </div><!--order-cart__box-warper-address end-->
                        </li>
                        <li>
                            <div class="order-cart__box-warper-address">
                                <div class="order-cart__box-label">
                                    <ul class="list-box__column">
                                        <li><input type="radio" :class="$parent.AddrRadio == 2 ? 'active' : ''" value="2" id="em_register" @click="clickEmRegister"><label for="em_register">特別送付先</label></li>
                                    </ul>
                                </div>
                                <template v-if="$parent.AddrRadio == 2">
                                    <dl class="dl__cart">
                                        <div>
                                            <dt class="required">氏名</dt>
                                            <dd>
                                                <div class="valid__area-wrap">
                                                    <div class="valid-input">
                                                        <div class="direction">
                                                            <div class="balloon2" v-if="$parent.ErrorFlag.first_name">
                                                                <p>{{ $parent.ErrorMessage.first_name }}</p>
                                                            </div>
                                                            <input type="text" id="first_name" v-model="$parent.request.first_name" @blur="checkValidate($event, $parent.request.first_name)" @focus="resetValidate($event, $parent.request.first_name)" autocomplete="off" placeholder="姓">
                                                        </div>
                                                    </div>
                                                    <div class="valid-input">
                                                        <div class="direction">
                                                            <div class="balloon2" v-if="$parent.ErrorFlag.last_name">
                                                                <p>{{ $parent.ErrorMessage.last_name }}</p>
                                                            </div>
                                                            <input type="text" id="last_name" v-model="$parent.request.last_name" @blur="checkValidate($event, $parent.request.last_name)" @focus="resetValidate($event, $parent.request.last_name)" autocomplete="off" placeholder="名">
                                                        </div>
                                                    </div>
                                                </div>
                                            </dd>
                                        </div>
                                        <div>
                                            <dt class="required">氏名カナ</dt>
                                            <dd>
                                                <div class="valid__area-wrap">
                                                    <div class="valid-input">
                                                        <div class="direction">
                                                            <div class="balloon2" v-if="$parent.ErrorFlag.first_kana_name">
                                                                <p>{{ $parent.ErrorMessage.first_kana_name }}</p>
                                                            </div>
                                                            <input type="text" id="first_kana_name" v-model="$parent.request.first_kana_name" @blur="checkValidate($event, $parent.request.first_kana_name)" @focus="resetValidate($event, $parent.request.first_kana_name)" autocomplete="off" placeholder="姓(カタカナ)">
                                                        </div>
                                                    </div>
                                                    <div class="valid-input">
                                                        <div class="direction">
                                                            <div class="balloon2" v-if="$parent.ErrorFlag.last_kana_name">
                                                                <p>{{ $parent.ErrorMessage.last_kana_name }}</p>
                                                            </div>
                                                            <input type="text" id="last_kana_name" v-model="$parent.request.last_kana_name" @blur="checkValidate($event, $parent.request.last_kana_name)" @focus="resetValidate($event, $parent.request.last_kana_name)" autocomplete="off" placeholder="名(カタカナ)">
                                                        </div>
                                                    </div>
                                                </div>
                                            </dd>
                                        </div>
                                        <div>
                                            <dt>会社名</dt>
                                            <dd>
                                                <input type="text" id="company_name" v-model="$parent.request.company_name" autocomplete="off">
                                            </dd>
                                        </div>
                                        <div>
                                            <dt class="required">
                                                住所
                                            </dt>
                                            <dd>
                                                <div class="valid__area">
                                                    <div class="direction">
                                                        <div class="balloon2" v-if="$parent.ErrorFlag.post">
                                                            <p>{{ $parent.ErrorMessage.post }}</p>
                                                        </div>
                                                        <div>
                                                            <span>〒</span><input type="tel" id="post" v-model="$parent.request.post" @blur="checkValidate($event, $parent.request.post)" @focus="resetValidate($event, $parent.request.post)" autocomplete="off" placeholder="000-0000" maxlength="8">
                                                            <a href='https://www.post.japanpost.jp/zipcode/index.html' target="_blank">
                                                                <span class="btn post">郵便番号がわからない方はこちら</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="valid__area">
                                                    <select v-model="$parent.request.pref">
                                                        <option v-for="(value, index) in $store.state.config.pref" v-bind:value="index" v-bind:key="index">
                                                            {{ value }}
                                                        </option>
                                                    </select>
                                                </div>
                                                <div class="valid__area">
                                                    <div class="direction">
                                                        <div class="balloon2" v-if="$parent.ErrorFlag.city">
                                                            <p>{{ $parent.ErrorMessage.city }}</p>
                                                        </div>
                                                        <input type="text" id="city" v-model="$parent.request.city" @blur="checkValidate($event, $parent.request.city)" @focus="resetValidate($event, $parent.request.city)" autocomplete="off" placeholder="市区町村">
                                                    </div>
                                                </div>
                                                <div class="valid__area">
                                                    <div class="direction">
                                                        <div class="balloon2" v-if="$parent.ErrorFlag.addr">
                                                            <p>{{ $parent.ErrorMessage.addr }}</p>
                                                        </div>
                                                        <input type="text" id="addr" v-model="$parent.request.addr" @blur="checkValidate($event, $parent.request.addr)" @focus="resetValidate($event, $parent.request.addr)" autocomplete="off" placeholder="番地">
                                                    </div>
                                                </div>
                                                <div class="valid__area">
                                                    <input type="text" v-model="$parent.request.building" placeholder="建物名">
                                                    <ul class="list__asterisk">
                                                        <li>様方を利用する際は、住所の末尾にお名前と様方をご入力ください<br>例：中瀬2-6 山田 太郎 様方</li>
                                                    </ul>
                                                </div>
                                            </dd>
                                        </div>
                                        <div>
                                            <dt class="required">メールアドレス</dt>
                                            <dd>
                                                <div class="direction">
                                                    <div class="balloon2" v-if="$parent.ErrorFlag.mail">
                                                        <p>{{ $parent.ErrorMessage.mail }}</p>
                                                    </div>
                                                    <input type="email" id="mail" v-model="$parent.request.mail" @blur="checkValidate($event, $parent.request.mail)" @focus="resetValidate($event, $parent.request.mail)" autocomplete="off" placeholder="example@example.com">
                                                </div>
                                            </dd>
                                        </div>
                                        <div>
                                            <dt class="required">電話番号</dt>
                                            <dd>
                                                <div class="direction">
                                                    <div class="balloon2" v-if="$parent.ErrorFlag.phone">
                                                        <p>{{ $parent.ErrorMessage.phone }}</p>
                                                    </div>
                                                    <input type="tel" id="phone" v-model="$parent.request.phone" @blur="checkValidate($event, $parent.request.phone)" @focus="resetValidate($event, $parent.request.phone)" autocomplete="off" placeholder="数字のみ" maxlength="20">
                                                </div>
                                            </dd>
                                        </div>
                                    </dl>
                                </template>
                            </div><!--order-cart__box-warper-address end-->
                        </li>
                    </ul>
                </div><!--order-cart__warper end-->
                <div class="order-cart__warper">
                    <div class="sub__headline">配達希望間隔</div>
                    <div class="delivery-time__warper">
                        <select v-model="$parent.shipment_interval" class="element__width-100">
                            <option v-for="value in $parent.autoship_item_interval" v-bind:value="value" v-bind:key="value">
                                {{ value }}ヶ月に1回
                            </option>
                        </select>
                    </div>
                </div><!--order-cart__warper end-->
            </div><!--content-box__warper-order end-->
            <div class="btn__wrapper">
                <span class="btn" @click="$emit('slide', 'Terms')">戻る</span>
                <span class="btn next" @click="NextSlide">支払方法へ進む</span>
            </div>
        </div><!--article__area end-->
    </div>
</template>

<script>

    export default {
		data: function () {
			return {
			}
        },
        created() {
        },
        methods:{
            clickAddrRegister: function () {
                this.$parent.AddrRadio = 1;
                for (var i in this.$parent.request) {
                    this.$parent.request[i] = this.$parent.member_info[i];
                }
            },
            clickEmRegister: function () {
                this.$parent.AddrRadio = 2;
                if (this.$store.state.auth) {
                    for (var i in this.$parent.request) {
                        if (i === 'pref') {
                            this.$parent.request[i] = 1;
                        } else {
                            this.$parent.request[i] = '';
                        }
                    }
                }
            },
            checkValidate: function (event, value) {
                var target = event.target.id;
                this.Validation(target, value);
            },
            resetValidate: function (event, value) {
                var target = event.target.id;
                this.$parent.ErrorFlag[target] = false;
                this.$parent.ErrorMessage[target] = '';
            },
            Validation: function (target, value) {
                var checkArray = this.$parent.checkArray[target];
                for (var i in checkArray) {
                    if (checkArray[i].match(/:/)) {
                        var split = checkArray[i].split(':');
                        checkArray[i] = split[0];
                        var count = split[1];
                    }
                    switch (checkArray[i]) {
                        case 'Require':
                            if (!this.checkRequire(value)) {
                                this.$parent.ErrorFlag[target] = true;
                                this.$parent.ErrorMessage[target] = this.validate_message[checkArray[i]];
                                return false;
                            }
                            break;
                        case 'RequireOnce':
                            break;
                        case 'Katakana':
                            if (!this.checkKatakana(value)) {
                                this.$parent.ErrorFlag[target] = true;
                                this.$parent.ErrorMessage[target] = this.validate_message[checkArray[i]];
                                return false;
                            }
                            break;
                        case 'Num':
                            if (!this.checkNum(value)) {
                                this.$parent.ErrorFlag[target] = true;
                                this.$parent.ErrorMessage[target] = this.validate_message[checkArray[i]];
                                return false;
                            }
                            break;
                        case 'NumDash':
                            if (!this.checkNumDash(value)) {
                                this.$parent.ErrorFlag[target] = true;
                                this.$parent.ErrorMessage[target] = this.validate_message[checkArray[i]];
                                return false;
                            }
                            break;
                        case 'NumAlpha':
                            if (!this.checkNumAlpha(value)) {
                                this.$parent.ErrorFlag[target] = true;
                                this.$parent.ErrorMessage[target] = this.validate_message[checkArray[i]];
                                return false;
                            }
                            break;
                        case 'Mail':
                            if (!this.checkMail(value)) {
                                this.$parent.ErrorFlag[target] = true;
                                this.$parent.ErrorMessage[target] = this.validate_message[checkArray[i]];
                                return false;
                            }
                            break;
                        case 'Post':
                            if (!this.checkPost(value)) {
                                this.$parent.ErrorFlag[target] = true;
                                this.$parent.ErrorMessage[target] = this.validate_message[checkArray[i]];
                                return false;
                            }
                            if (!this.$parent.PostFlag) {
                                this.$parent.ErrorFlag[target] = true;
                                this.$parent.ErrorMessage[target] = '存在しない郵便番号です';
                                return false;
                            }
                            break;
                        case 'LengthOver':
                            if (value.length < count) {
                                this.$parent.ErrorFlag[target] = true;
                                this.$parent.ErrorMessage[target] = this.validate_message[checkArray[i]].replace(':value:', count);
                                return false;
                            }
                            break;
                        case 'Length':
                            if (value.length > count) {
                                this.$parent.ErrorFlag[target] = true;
                                this.$parent.ErrorMessage[target] = this.validate_message[checkArray[i]].replace(':value:', count);
                                return false;
                            }
                            break;
                    }
                }

            },
            NextSlide: function () {
                var promise = new Promise((resolve, reject) => {
                    if (this.$parent.AddrRadio == 2) {
                        for (var i in this.$parent.request) {
                            this.Validation(i, this.$parent.request[i]);
                        }
                    }
                    resolve();
                });
                promise.then(() => {
                    if (this.$parent.AddrRadio == 2) {
                        for (var i in this.$parent.ErrorFlag) {
                            if (this.$parent.ErrorFlag[i]) throw new Error('入力内容に誤りがあります');
                        }
                    }
                    for (var i in this.$parent.request) {
                        this.$parent.request[i] = this.$parent.member_info[i];
                    }
                    this.$emit('slide', 'Payment');
                }).catch((error) => {
                    this.$store.state.error_message = error;
                });
            },
        },
        watch: {
            '$parent.request.post': function(n, o) {
                if (n == null || o == null) return false;
                let self = this;
                var promise = new Promise((resolve, reject) => {
                    this.$parent.request.post = this.FormatPost(n, o);
                    resolve();
                });
                promise.then(() => {
                    if (n.length === 8) {
                        new YubinBango.Core(n, function(addr) {
                            if (addr.region_id === '') {
                                self.$parent.request.pref = 1;
                                self.$parent.request.city = '';
                                self.$parent.request.addr = '';
                                self.$parent.PostFlag = false;
                            } else {
                                self.$parent.request.pref = addr.region_id;
                                self.$parent.request.city = addr.locality;
                                self.$parent.request.addr = addr.street;
                                self.$parent.PostFlag = true;
                                self.$parent.ErrorFlag['city'] = false;
                                self.$parent.ErrorMessage['city'] = '';
                                self.$parent.ErrorFlag['addr'] = false;
                                self.$parent.ErrorMessage['addr'] = '';
                            }
                        })
                    }
                });
            },
        },
    }
</script>
